Repository vatesfr/xen-orchestra, pull requests merged in 2023-04, with the labels that each got.

#6706 feat(lite): handle involuntary console disconnection
  @xen-orchestra/lite/package.json
  @xen-orchestra/lite/src/components/RemoteConsole.vue
  @xen-orchestra/lite/src/types/iterable-backoff.d.ts
Labels: XO Lite

#6747 fix(lite/treeview): fix host highlighting
  @xen-orchestra/lite/src/views/host/HostRootView.vue
Labels: type: bug :bug:, XO Lite

#6761 feat(lite): enhance UsageBar (UiBadge, UiProgressLegend)
  @xen-orchestra/lite/src/components/ui/UiBadge.vue
  @xen-orchestra/lite/src/components/ui/progress/UiProgressLegend.vue
  @xen-orchestra/lite/src/libs/utils.ts
Labels: XO Lite

#6768 fix(xo-web/backup): maxExportRate invalid parameters
  CHANGELOG.unreleased.md
  packages/xo-web/src/xo-app/backup/new/index.js
Labels: type: bug :bug:

#6767 fix(lite): loading status
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardStatus.vue
  @xen-orchestra/lite/src/views/vm/VmConsoleView.vue
Labels: XO Lite

#6742 feat(lite): revamp UiTable
  @xen-orchestra/lite/src/components/CollectionTable.vue
  @xen-orchestra/lite/src/components/tasks/TasksTable.vue
  @xen-orchestra/lite/src/components/ui/UiTable.vue
  @xen-orchestra/lite/src/views/pool/PoolVmsView.vue
Labels: XO Lite

#6733 fix(lite/component-stories): replace `markdown-it` with `marked` + `ComponentStory.vue` fix
  @xen-orchestra/lite/package.json
  @xen-orchestra/lite/src/components/AppMarkdown.vue
  @xen-orchestra/lite/src/components/component-story/ComponentStory.vue
  @xen-orchestra/lite/src/libs/markdown.ts
  yarn.lock
Labels: XO Lite

#6795 feat(xo-web/host): Smart Reboot
  CHANGELOG.unreleased.md
  packages/xo-web/src/common/intl/messages.js
  packages/xo-web/src/common/xo/index.js
  packages/xo-web/src/icons.scss
  packages/xo-web/src/xo-app/host/tab-advanced.js
Labels: Highlight

#6794 feat(xo-web/kubernetes): add high availability option
  CHANGELOG.unreleased.md
  packages/xo-web/src/common/intl/messages.js
  packages/xo-web/src/xo-app/hub/recipes/recipe-form.js
  packages/xo-web/src/xo-app/hub/recipes/recipe.js
Labels: Highlight
