Repository vatesfr/xen-orchestra, pull requests merged in 2023-10, with the labels that each got.

#7030 feat(lite/login): add remember me checkbox
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/AppLogin.vue
  @xen-orchestra/lite/src/locales/en.json
  @xen-orchestra/lite/src/locales/fr.json
  @xen-orchestra/lite/src/stores/xen-api.store.ts
Labels: XO Lite

#6775 feat(lite): display loading icon and error message when data is not fetched
  @xen-orchestra/lite/src/components/charts/LinearChart.md
  @xen-orchestra/lite/src/components/charts/LinearChart.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardNetworkChart.vue
  @xen-orchestra/lite/src/components/pool/dashboard/cpuUsage/HostsCpuUsage.vue
  @xen-orchestra/lite/src/components/pool/dashboard/cpuUsage/PoolCpuUsageChart.vue
  @xen-orchestra/lite/src/components/pool/dashboard/cpuUsage/VmsCpuUsage.vue
  @xen-orchestra/lite/src/components/pool/dashboard/ramUsage/HostsRamUsage.vue
  @xen-orchestra/lite/src/components/pool/dashboard/ramUsage/PoolRamUsage.vue
  @xen-orchestra/lite/src/components/pool/dashboard/ramUsage/VmsRamUsage.vue
  @xen-orchestra/lite/src/components/ui/UiCardTitle.vue
  @xen-orchestra/lite/src/composables/chart-theme.composable.ts
  @xen-orchestra/lite/src/stories/linear-chart.story.md
  @xen-orchestra/lite/src/stories/linear-chart.story.vue
  @xen-orchestra/lite/src/types/enums.ts
Labels: XO Lite

#7087 feat(lite/VM): add copy, snapshot single action
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionCopyItem.vue
  @xen-orchestra/lite/src/components/vm/VmHeader.vue
  @xen-orchestra/lite/src/locales/en.json
  @xen-orchestra/lite/src/locales/fr.json
Labels: Highlight

#7085 feat(xo-web/VM/advanced): VTPM management
  CHANGELOG.unreleased.md
  packages/xo-web/src/common/intl/messages.js
  packages/xo-web/src/common/xo/index.js
  packages/xo-web/src/xo-app/vm/tab-advanced.js
Labels: Highlight

#7077 feat(xo-server/xo-web/VM/new): VTPM creation
  CHANGELOG.unreleased.md
  packages/xo-server/src/api/vm.mjs
  packages/xo-web/src/common/intl/messages.js
  packages/xo-web/src/index.scss
  packages/xo-web/src/xo-app/new-vm/index.js
Labels: Highlight

#7107 feat(xo-server/clearHost): pass optional batch size arg
  packages/xo-server/config.toml
  packages/xo-server/src/xapi/index.mjs
Labels: difficulty 1: easy (hours), comp: server ⚙️, status::in progress :construction:, XCP-ng 8.3 release 🚀

#7117 chore(lite): serve Poppins font internally
  @xen-orchestra/lite/package.json
  @xen-orchestra/lite/src/assets/base.css
  yarn.lock
Labels: XO Lite

#7091 feat(xo-web/about): display if XO from source is up to date
  CHANGELOG.unreleased.md
  packages/xo-web/src/common/intl/locales/es.js
  packages/xo-web/src/common/intl/locales/fr.js
  packages/xo-web/src/common/intl/locales/he.js
  packages/xo-web/src/common/intl/locales/hu.js
  packages/xo-web/src/common/intl/locales/it.js
  packages/xo-web/src/common/intl/locales/pl.js
  packages/xo-web/src/common/intl/locales/pt.js
  packages/xo-web/src/common/intl/locales/ru.js
  packages/xo-web/src/common/intl/locales/tr.js
  packages/xo-web/src/common/intl/locales/zh.js
  packages/xo-web/src/common/intl/messages.js
  packages/xo-web/src/common/xo/index.js
  packages/xo-web/src/xo-app/about/index.js
Labels: Highlight

#6983 feat(xo-server,xo-web/XOSTOR): XOSTOR implementation
  CHANGELOG.unreleased.md
  packages/xo-server/src/api/host.mjs
  packages/xo-server/src/api/sr.mjs
  packages/xo-server/src/api/xostor.mjs
  packages/xo-server/src/xapi-object-to-xo.mjs
  packages/xo-web/src/common/intl/messages.js
  packages/xo-web/src/common/select-license.js
  packages/xo-web/src/common/xo/index.js
  packages/xo-web/src/icons.scss
  packages/xo-web/src/xo-app/index.js
  packages/xo-web/src/xo-app/menu/index.js
  packages/xo-web/src/xo-app/xoa/licenses/index.js
  packages/xo-web/src/xo-app/xoa/licenses/xosan.js
  packages/xo-web/src/xo-app/xoa/licenses/xostor.js
  packages/xo-web/src/xo-app/xostor/index.css
  packages/xo-web/src/xo-app/xostor/index.js
  packages/xo-web/src/xo-app/xostor/new-xostor-form.js
  packages/xo-web/src/xo-app/xostor/xostor-list.js
Labels: Highlight

#7088 feat(lite/console): new console toolbar
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/RemoteConsole.vue
  @xen-orchestra/lite/src/components/menu/MenuTrigger.vue
  @xen-orchestra/lite/src/locales/en.json
  @xen-orchestra/lite/src/locales/fr.json
  @xen-orchestra/lite/src/stores/ui.store.ts
  @xen-orchestra/lite/src/views/vm/VmConsoleView.vue
Labels: XO Lite, Highlight
