Repository vatesfr/xen-orchestra, pull requests merged in 2023-11, with the labels that each got.

#7134 feat(lite): new modal management
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/docs/modals.md
  @xen-orchestra/lite/src/App.vue
  @xen-orchestra/lite/src/components/CollectionFilter.vue
  @xen-orchestra/lite/src/components/CollectionSorter.vue
  @xen-orchestra/lite/src/components/UnreachableHostsModal.vue
  @xen-orchestra/lite/src/components/component-story/StoryPropParams.vue
  @xen-orchestra/lite/src/components/form/FormInput.vue
  @xen-orchestra/lite/src/components/form/FormJson.vue
  @xen-orchestra/lite/src/components/modals/CodeHighlightModal.vue
  @xen-orchestra/lite/src/components/modals/CollectionFilterModal.vue
  @xen-orchestra/lite/src/components/modals/CollectionSorterModal.vue
  @xen-orchestra/lite/src/components/modals/JsonEditorModal.vue
  @xen-orchestra/lite/src/components/modals/UnreachableHostsModal.vue
  @xen-orchestra/lite/src/components/modals/VmDeleteModal.vue
  @xen-orchestra/lite/src/components/modals/VmMigrateModal.vue
  @xen-orchestra/lite/src/components/ui/modals/ModalApproveButton.vue
  @xen-orchestra/lite/src/components/ui/modals/ModalCloseIcon.vue
  @xen-orchestra/lite/src/components/ui/modals/ModalContainer.vue
  @xen-orchestra/lite/src/components/ui/modals/ModalDeclineButton.vue
  @xen-orchestra/lite/src/components/ui/modals/ModalList.vue
  @xen-orchestra/lite/src/components/ui/modals/ModalListItem.vue
  @xen-orchestra/lite/src/components/ui/modals/UiModal.vue
  @xen-orchestra/lite/src/components/ui/modals/layouts/ConfirmModalLayout.vue
  @xen-orchestra/lite/src/components/ui/modals/layouts/FormModalLayout.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionDeleteItem.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionMigrateItem.vue
  @xen-orchestra/lite/src/composables/modal.composable.md
  @xen-orchestra/lite/src/composables/modal.composable.ts
  @xen-orchestra/lite/src/composables/unreachable-hosts.composable.ts
  @xen-orchestra/lite/src/composables/vm-migration.composable.ts
  @xen-orchestra/lite/src/composables/xen-api-store-base-context.composable.ts
  @xen-orchestra/lite/src/locales/en.json
  @xen-orchestra/lite/src/locales/fr.json
  @xen-orchestra/lite/src/stores/modal.store.ts
  @xen-orchestra/lite/src/stores/xen-api/vm.store.ts
  @xen-orchestra/lite/src/stories/modals/layouts/basic-modal-layout.story.md
  @xen-orchestra/lite/src/stories/modals/layouts/basic-modal-layout.story.vue
  @xen-orchestra/lite/src/stories/modals/layouts/confirm-modal-layout.story.md
  @xen-orchestra/lite/src/stories/modals/layouts/confirm-modal-layout.story.vue
  @xen-orchestra/lite/src/stories/modals/layouts/form-modal-layout.story.md
  @xen-orchestra/lite/src/stories/modals/modal-container.story.md
  @xen-orchestra/lite/src/stories/modals/modal-container.story.vue
  @xen-orchestra/lite/src/stories/modals/ui-modal.story.md
  @xen-orchestra/lite/src/stories/modals/ui-modal.story.vue
  @xen-orchestra/lite/src/types/index.ts
  @xen-orchestra/lite/src/types/injection-keys.ts
  @xen-orchestra/lite/src/types/sort.ts
Labels: XO Lite

#7162 feat(lite): 0.1.5
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/package.json
Labels: XO Lite

#7110 fix(lite/login): correctly handle login from slave
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/AppLogin.vue
  @xen-orchestra/lite/src/components/LoginError.vue
  @xen-orchestra/lite/src/libs/xen-api/xen-api.types.ts
  @xen-orchestra/lite/src/locales/en.json
  @xen-orchestra/lite/src/locales/fr.json
Labels: XO Lite

#7159 feat(lite/ui): compact layout
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/App.vue
  @xen-orchestra/lite/src/components/AppHeader.vue
  @xen-orchestra/lite/src/components/AppNavigation.vue
  @xen-orchestra/lite/src/components/HostPatchesTable.vue
  @xen-orchestra/lite/src/components/TitleBar.vue
  @xen-orchestra/lite/src/components/UsageBar.vue
  @xen-orchestra/lite/src/components/infra/InfraHostItem.vue
  @xen-orchestra/lite/src/components/infra/InfraItemLabel.vue
  @xen-orchestra/lite/src/components/infra/InfraPoolList.vue
  @xen-orchestra/lite/src/components/infra/InfraVmItem.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardAlarms.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardCpuProvisioning.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardHostsPatches.vue
  @xen-orchestra/lite/src/components/ui/SizeStatsSummary.vue
  @xen-orchestra/lite/src/components/ui/UiTab.vue
  @xen-orchestra/lite/src/components/ui/UiTabBar.vue
  @xen-orchestra/lite/src/components/ui/UiTable.vue
  @xen-orchestra/lite/src/components/ui/progress/UiProgressLegend.vue
  @xen-orchestra/lite/src/views/pool/PoolTasksView.vue
  @xen-orchestra/lite/src/views/pool/PoolVmsView.vue
Labels: XO Lite, Highlight

#7169 fix(lite): host patches list is broken if `changelog` property is empty
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/HostPatchesTable.vue
  @xen-orchestra/lite/src/types/xen-api.ts
Labels: type: bug :bug:, XO Lite

#7180 fix(lite): code highlight modal
  @xen-orchestra/lite/src/components/component-story/StoryPropParams.vue
  @xen-orchestra/lite/src/components/modals/CodeHighlightModal.vue
Labels: type: bug :bug:, XO Lite

#6741 feat(lite): new FormByteSize component
  @xen-orchestra/lite/src/components/form/FormByteSize.vue
  @xen-orchestra/lite/src/components/form/FormNumber.vue
  @xen-orchestra/lite/src/stories/form/form-byte-size.story.md
  @xen-orchestra/lite/src/stories/form/form-byte-size.story.vue
  @xen-orchestra/lite/src/stories/form/form-input-group.story.vue
Labels: XO Lite

#7174 feat(lite/pool/VMs): ability to export selected VMs
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/modals/VmExportBlockedUrlsModal.vue
  @xen-orchestra/lite/src/components/modals/VmExportModal.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionExportItem.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionExportItems.vue
  @xen-orchestra/lite/src/components/vm/VmsActionsBar.vue
  @xen-orchestra/lite/src/libs/xen-api/xen-api.enums.ts
  @xen-orchestra/lite/src/libs/xen-api/xen-api.ts
  @xen-orchestra/lite/src/locales/en.json
  @xen-orchestra/lite/src/locales/fr.json
Labels: XO Lite, Highlight

#7186 feat(backups): show more detail on restored VM
  @xen-orchestra/backups/ImportVmBackup.mjs
  CHANGELOG.unreleased.md
Labels: Highlight

#7190 feat(lite/VM): ability to export a VM
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionExportItem.vue
  @xen-orchestra/lite/src/components/vm/VmHeader.vue
  @xen-orchestra/lite/src/locales/en.json
  @xen-orchestra/lite/src/locales/fr.json
Labels: XO Lite

#7199 feat(xo-server/rest-api): possibility to import in an existing VDI
  CHANGELOG.unreleased.md
  docs/restapi.md
  packages/xo-server/docs/rest-api.md
  packages/xo-server/src/xo-mixins/rest-api.mjs
Labels: Highlight
