Repository vatesfr/xen-orchestra, pull requests merged in 2023-06, with the labels that each got.

#6798 feat(VMs): adapt bulk actions code to use XAPI Subscriptions
  @xen-orchestra/lite/src/components/vm/VmsActionsBar.vue
Labels: XO Lite

#6782 feat(lite/pool/VMs): ability to change the VMs power state
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/vm/VmHeader.vue
  @xen-orchestra/lite/src/components/vm/VmsActionsBar.vue
  @xen-orchestra/lite/src/components/vm/VmsPowerActionsMenu.vue
Labels: XO Lite

#6819 fix(lite/AppMenu): AppMenu is not displayed correctly
  @xen-orchestra/lite/src/components/menu/AppMenu.vue
Labels: XO Lite

#6846 feat(lite): introduce POWER_STATE and VM_OPERATION enums
  @xen-orchestra/lite/src/components/PowerStateIcon.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardCpuProvisioning.vue
  @xen-orchestra/lite/src/components/vm/VmsPowerActionsMenu.vue
  @xen-orchestra/lite/src/libs/utils.ts
  @xen-orchestra/lite/src/libs/xen-api.ts
  @xen-orchestra/lite/src/stores/vm.store.ts
  @xen-orchestra/lite/src/stories/power-state-icon.story.vue
  @xen-orchestra/lite/src/views/pool/PoolVmsView.vue
  @xen-orchestra/lite/src/views/vm/VmConsoleView.vue
Labels: XO Lite

#6815 feat(lite/dashboard): revamp pool dashboard
  @xen-orchestra/lite/src/components/ui/UiCard.vue
  @xen-orchestra/lite/src/components/ui/UiCardComingSoon.vue
  @xen-orchestra/lite/src/components/ui/UiCardGroup.vue
  @xen-orchestra/lite/src/views/pool/PoolDashboardView.vue
Labels: XO Lite

#6847 feat(lite/pool/VMs): ability to copy selected VMs
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionCopyItem.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionPowerStateItems.vue
  @xen-orchestra/lite/src/components/vm/VmHeader.vue
  @xen-orchestra/lite/src/components/vm/VmsActionsBar.vue
  @xen-orchestra/lite/src/libs/xen-api.ts
  @xen-orchestra/lite/src/locales/en.json
  @xen-orchestra/lite/src/locales/fr.json
Labels: XO Lite

#6879 fix(lite/login): fix transparent login button
  @xen-orchestra/lite/src/components/AppLogin.vue
  @xen-orchestra/lite/src/components/form/FormInput.vue
Labels: XO Lite

#6887 fix(lite/i18n): "coming soon"
  @xen-orchestra/lite/src/components/ui/UiCardComingSoon.vue
Labels: XO Lite

#6814 feat(lite): add alarm store
  @xen-orchestra/lite/src/libs/xen-api.ts
  @xen-orchestra/lite/src/stores/alarm.store.ts
  @xen-orchestra/lite/src/types/xapi-collection.ts
Labels: XO Lite

#6888 feat(lite/dev): add keyboard shortcut to toggle language
  @xen-orchestra/lite/src/App.vue
Labels: XO Lite

#6891 fix(lite): eslint error "duplicate key"
  @xen-orchestra/lite/src/components/form/FormInput.vue
  @xen-orchestra/lite/src/components/menu/AppMenu.vue
Labels: XO Lite

#6860 feat(lite/pool/VMs): ability to delete selected VMs
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/ui/UiModal.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionDeleteItem.vue
  @xen-orchestra/lite/src/components/vm/VmsActionsBar.vue
  @xen-orchestra/lite/src/libs/xen-api.ts
  @xen-orchestra/lite/src/locales/en.json
  @xen-orchestra/lite/src/locales/fr.json
Labels: XO Lite

#6883 feat(lite): implement "closing-confirmation" store
  @xen-orchestra/lite/src/stores/closing-confirmation.store.ts
Labels: XO Lite

#6896 fix(xo-web/home): fix 'isHostTimeConsistentWithXoaTime.then is not a function'
  CHANGELOG.unreleased.md
  packages/xo-web/src/xo-app/home/host-item.js
Labels: type: bug :bug:

#6884 chore(lite): add type branding to XAPI record's $ref & uuid
  @xen-orchestra/lite/src/components/ObjectNotFoundWrapper.vue
  @xen-orchestra/lite/src/components/infra/InfraHostItem.vue
  @xen-orchestra/lite/src/components/infra/InfraVmItem.vue
  @xen-orchestra/lite/src/components/infra/InfraVmList.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionCopyItem.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionDeleteItem.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionPowerStateItems.vue
  @xen-orchestra/lite/src/components/vm/VmHeader.vue
  @xen-orchestra/lite/src/components/vm/VmsActionsBar.vue
  @xen-orchestra/lite/src/composables/fetch-stats.composable.ts
  @xen-orchestra/lite/src/libs/utils.ts
  @xen-orchestra/lite/src/libs/xen-api.ts
  @xen-orchestra/lite/src/stores/host.store.ts
  @xen-orchestra/lite/src/stores/vm.store.ts
  @xen-orchestra/lite/src/stores/xapi-collection.store.ts
  @xen-orchestra/lite/src/stores/xen-api.store.ts
  @xen-orchestra/lite/src/types/xapi-collection.ts
  @xen-orchestra/lite/src/views/host/HostRootView.vue
  @xen-orchestra/lite/src/views/vm/VmConsoleView.vue
  @xen-orchestra/lite/src/views/vm/VmRootView.vue
Labels: XO Lite

#6880 feat(xo-web/kubernetes): add version selection
  CHANGELOG.unreleased.md
  packages/xo-web/src/common/intl/locales/it.js
  packages/xo-web/src/common/intl/messages.js
  packages/xo-web/src/xo-app/hub/recipes/recipe-form.js
  packages/xo-web/src/xo-app/hub/recipes/recipe.js
Labels: Highlight

#6922 fix(lite): replace 'change-power-state' by 'change-state'
  @xen-orchestra/lite/src/components/vm/VmsActionsBar.vue
  @xen-orchestra/lite/src/locales/en.json
  @xen-orchestra/lite/src/locales/fr.json
Labels: XO Lite

#6924 feat(xo-web/xo-server/disk.import): import ISO VDI from url
  CHANGELOG.unreleased.md
  packages/xo-server/src/api/disk.mjs
  packages/xo-web/src/common/intl/messages.js
  packages/xo-web/src/common/xo/index.js
  packages/xo-web/src/xo-app/disk-import/index.js
Labels: Highlight

#6925 feat(xo-web/export,import VDI): explicit import/export raw VDI
  CHANGELOG.unreleased.md
  packages/xo-web/src/common/intl/messages.js
  packages/xo-web/src/common/xo/export-vdi-modal/index.js
  packages/xo-web/src/common/xo/index.js
  packages/xo-web/src/xo-app/disk-import/index.js
Labels: Highlight

#6897 fix(lite/components): app-menu doesn't allow more than 1 submenu
  @xen-orchestra/lite/src/components/menu/AppMenu.vue
  @xen-orchestra/lite/src/types/injection-keys.ts
Labels: XO Lite
