Repository vatesfr/xen-orchestra, pull requests merged in 2024-12, with the labels that each got.

#8170 feat(web-core): add no selection state component
  @xen-orchestra/lite/src/stories/web-core/state-hero/vts-no-selection-hero.story.vue
  @xen-orchestra/web-core/lib/components/state-hero/VtsNoSelectionHero.vue
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
  CHANGELOG.unreleased.md
Labels: XO Web Core

#8165 feat(web-core): create tags list component
  @xen-orchestra/lite/src/stories/web-core/ui/tag/ui-tags-list.story.vue
  @xen-orchestra/web-core/lib/components/ui/tag/UiTagsList.vue
Labels: XO Web Core

#8000 feat(web-core): new VtsLink component
  @xen-orchestra/lite/src/stories/web-core/ui/link/ui-link.story.vue
  @xen-orchestra/web-core/lib/assets/css/typography/_style.pcss
  @xen-orchestra/web-core/lib/components/ui/link/UiLink.vue
  @xen-orchestra/web-core/lib/composables/link-component.composable.ts
Labels: XO Web Core

#8112 feat(xo-stack): introduces job system
  @xen-orchestra/lite/src/jobs/args.ts
  @xen-orchestra/lite/src/jobs/vm-copy.job.ts
  @xen-orchestra/lite/src/jobs/vm-delete.job.ts
  @xen-orchestra/lite/src/jobs/vm-export.job.ts
  @xen-orchestra/lite/src/jobs/vm-force-reboot.job.ts
  @xen-orchestra/lite/src/jobs/vm-force-shutdown.job.ts
  @xen-orchestra/lite/src/jobs/vm-migrate.job.ts
  @xen-orchestra/lite/src/jobs/vm-pause.job.ts
  @xen-orchestra/lite/src/jobs/vm-reboot.job.ts
  @xen-orchestra/lite/src/jobs/vm-resume.job.ts
  @xen-orchestra/lite/src/jobs/vm-shutdown.job.ts
  @xen-orchestra/lite/src/jobs/vm-snapshot.job.ts
  @xen-orchestra/lite/src/jobs/vm-start-on.job.ts
  @xen-orchestra/lite/src/jobs/vm-start.job.ts
  @xen-orchestra/lite/src/jobs/vm-suspend.job.ts
  @xen-orchestra/lite/src/locales/en.json
  @xen-orchestra/lite/src/locales/fr.json
  @xen-orchestra/web-core/docs/index.md
  @xen-orchestra/web-core/lib/packages/job/README.md
  @xen-orchestra/web-core/lib/packages/job/define-job-arg.ts
  @xen-orchestra/web-core/lib/packages/job/define-job.ts
  @xen-orchestra/web-core/lib/packages/job/index.ts
  @xen-orchestra/web-core/lib/packages/job/job-error.ts
  @xen-orchestra/web-core/lib/packages/job/use-job-store.ts
Labels: XO Lite, XO Web Core

#8123 feat(web-core): new menu management system
  .eslintrc.js
  @xen-orchestra/lite/package.json
  @xen-orchestra/web-core/docs/index.md
  @xen-orchestra/web-core/lib/packages/menu/README.md
  @xen-orchestra/web-core/lib/packages/menu/action.ts
  @xen-orchestra/web-core/lib/packages/menu/base.ts
  @xen-orchestra/web-core/lib/packages/menu/context.ts
  @xen-orchestra/web-core/lib/packages/menu/index.ts
  @xen-orchestra/web-core/lib/packages/menu/job.ts
  @xen-orchestra/web-core/lib/packages/menu/link.ts
  @xen-orchestra/web-core/lib/packages/menu/menu.ts
  @xen-orchestra/web-core/lib/packages/menu/router-link.ts
  @xen-orchestra/web-core/lib/packages/menu/structure.ts
  @xen-orchestra/web-core/lib/packages/menu/toggle-target.ts
  @xen-orchestra/web-core/lib/packages/menu/toggle-trigger.ts
  @xen-orchestra/web-core/lib/packages/menu/toggle.ts
  @xen-orchestra/web-core/package.json
  @xen-orchestra/web/package.json
  yarn.lock
Labels: XO Web Core

#8175 feat(web-core): remove aliasing from DonutChart
  @xen-orchestra/web-core/lib/components/ui/donut-chart/UiDonutChart.vue
Labels: XO Web Core

#8142 feat(xo6): add network store
  @xen-orchestra/lite/src/locales/de.json
  @xen-orchestra/lite/src/locales/en.json
  @xen-orchestra/lite/src/locales/fa.json
  @xen-orchestra/lite/src/locales/fr.json
  @xen-orchestra/web-core/lib/locales/de.json
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fa.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web/src/stores/xo-rest-api/network.store.ts
  @xen-orchestra/web/src/stores/xo-rest-api/pif.store.ts
  @xen-orchestra/web/src/types/xo/network.type.ts
  @xen-orchestra/web/src/types/xo/pif.type.ts
  @xen-orchestra/web/src/utils/xo-api-definition.util.ts
Labels: XO Web 6

#8076 feat(web-core): added UiDropdownButton component
  @xen-orchestra/lite/src/stories/web-core/ui/dropdown-button/ui-dropdown-button.story.vue
  @xen-orchestra/web-core/lib/components/ui/dropdown-button/UiDropdownButton.vue
Labels: XO Web Core

#8117 feat(web-core): update UiInput component
  @xen-orchestra/lite/src/stories/web-core/ui/input/ui-input.story.vue
  @xen-orchestra/web-core/lib/components/ui/input/UiInput.vue
  @xen-orchestra/web-core/lib/components/ui/query-search-bar/UiQuerySearchBar.vue
  @xen-orchestra/web/src/components/SidebarSearch.vue
Labels: XO Web Core

#8191 fix(xo-lite): fix issue with persistent scrollbar
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/App.vue
  @xen-orchestra/lite/src/components/AppHeader.vue
Labels: XO Lite

#8187 feat(xo-core): update `UiLabel` component to v1
  @xen-orchestra/lite/src/stories/web-core/ui/label/ui-label.story.vue
  @xen-orchestra/web-core/lib/components/ui/label/UiLabel.vue
Labels: XO Web Core

#8204 feat(core): create connection status component
  @xen-orchestra/lite/src/stories/web-core/connection-status/vts-connection-status.story.vue
  @xen-orchestra/web-core/lib/components/connection-status/VtsConnectionStatus.vue
  @xen-orchestra/web-core/lib/components/ui/info/UiInfo.vue
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
Labels: XO Web Core

#8164 feat(web-core): add table-pagination component
  @xen-orchestra/lite/src/stories/web-core/ui/table-pagination/ui-table-pagination.story.md
  @xen-orchestra/lite/src/stories/web-core/ui/table-pagination/ui-table-pagination.story.vue
  @xen-orchestra/web-core/lib/components/ui/table-pagination/PaginationButton.vue
  @xen-orchestra/web-core/lib/components/ui/table-pagination/UiTablePagination.vue
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
Labels: XO Web Core

#8205 fix(xo-core/UiInfo): issue with typography and add prop to handle text wrap
  @xen-orchestra/lite/src/stories/web-core/ui/info/ui-info.story.vue
  @xen-orchestra/web-core/lib/components/ui/info/UiInfo.vue
Labels: XO Web Core

#8174 feat(xo-web/VM/advanced): ability to manage xenstore entries
  CHANGELOG.unreleased.md
  packages/xo-web/src/common/intl/messages.js
  packages/xo-web/src/xo-app/vm/tab-advanced.js
  packages/xo-web/src/xo-app/vm/xenstore-create-modal.js
Labels: Highlight

#7800 feat(xo6): add Pool Status component to dashboard
  @xen-orchestra/web/src/components/site/dashboard/PoolsStatus.vue
  @xen-orchestra/web/src/locales/en.json
  @xen-orchestra/web/src/locales/fr.json
  @xen-orchestra/web/src/pages/index.vue
  @xen-orchestra/web/src/types/xo/dashboard.type.ts
Labels: XO Web 6
