Repository vatesfr/xen-orchestra, pull requests merged in 2024-09, with the labels that each got.

#7976 fix(web6): record can be undefined in single record context
  @xen-orchestra/web/src/components/site/dashboard/Backups.vue
  @xen-orchestra/web/src/components/site/dashboard/Patches.vue
  @xen-orchestra/web/src/stores/xo-rest-api/dashboard.store.ts
  @xen-orchestra/web/src/types/xo/index.ts
Labels: XO Web 6

#7974 feat(xo-6/dashboard): add backup issues data
  @xen-orchestra/lite/src/stories/web-core/state-hero/no-data-hero.story.vue
  @xen-orchestra/web-core/lib/assets/no-data.svg
  @xen-orchestra/web-core/lib/components/backup-item/BackupItem.vue
  @xen-orchestra/web-core/lib/components/state-hero/NoDataHero.vue
  @xen-orchestra/web-core/lib/components/state-hero/StateHero.vue
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web-core/lib/types/backup.type.ts
  @xen-orchestra/web/src/components/site/dashboard/BackupIssues.vue
  @xen-orchestra/web/src/locales/en.json
  @xen-orchestra/web/src/locales/fr.json
  @xen-orchestra/web/src/pages/index.vue
  @xen-orchestra/web/src/stores/xo-rest-api/dashboard.store.ts
  @xen-orchestra/web/src/types/xo/dashboard.type.ts
  @xen-orchestra/web/src/utils/convert-backup-issue-to-core.util.ts
  CHANGELOG.unreleased.md
Labels: XO Web 6

#7973 feat(web-core): new color scheme + naming from design system
  @xen-orchestra/web-core/lib/assets/css/_colors-legacy.pcss
  @xen-orchestra/web-core/lib/assets/css/_colors.pcss
  @xen-orchestra/web-core/lib/assets/css/_context.pcss
  @xen-orchestra/web-core/lib/assets/css/base.pcss
  @xen-orchestra/web/src/pages/dev/colors.vue
  @xen-orchestra/web/typed-router.d.ts
Labels: XO Web Core

#7979 fix(web-core): tooltip position does not update when content changes
  @xen-orchestra/web-core/lib/components/tooltip/TooltipItem.vue
Labels: XO Web Core

#7935 fix(web-core/useRouteQuery): URL not updating immediately in some cases
  @xen-orchestra/web-core/lib/composables/route-query/actions/handle-delete.ts
  @xen-orchestra/web-core/lib/composables/route-query/actions/handle-set.ts
  @xen-orchestra/web-core/lib/composables/route-query/types.ts
Labels: XO Web Core

#7936 feat(web-core): new useTable composable
  @xen-orchestra/web-core/docs/composables/table.composable.md
  @xen-orchestra/web-core/lib/composables/hide-route-query.composable.ts
  @xen-orchestra/web-core/lib/composables/sort-route-query.composable.ts
  @xen-orchestra/web-core/lib/composables/table.composable.ts
  @xen-orchestra/web-core/lib/composables/table/create-base-definition.ts
  @xen-orchestra/web-core/lib/composables/table/create-define-column.ts
  @xen-orchestra/web-core/lib/composables/table/create-sorting-definition.ts
  @xen-orchestra/web-core/lib/composables/table/create-visibility-definition.ts
  @xen-orchestra/web-core/lib/composables/table/type.ts
  @xen-orchestra/web-core/lib/types/utility.type.ts
Labels: XO Web Core

#7696 docs(web-core): component guidelines
  @xen-orchestra/lite/README.md
  @xen-orchestra/web-core/docs/contexts/color-context.md
  @xen-orchestra/web-core/docs/css/interactive-elements.md
  @xen-orchestra/web-core/docs/css/variants.md
  @xen-orchestra/web-core/docs/guidelines/component definition.md
  @xen-orchestra/web-core/docs/guidelines/icons.md
  @xen-orchestra/web-core/docs/guidelines/stores.md
  @xen-orchestra/web/README.md
Labels: XO Web Core

#7998 fix(web-stack): lock Vue version to 3.4 + ESLint error
  @xen-orchestra/lite/package.json
  @xen-orchestra/lite/src/stories/story-example.story.vue
  @xen-orchestra/web-core/package.json
  @xen-orchestra/web/package.json
  yarn.lock
Labels: XO Lite, XO Web Core, XO Web 6

#7743 docs(web-core): component variants guidelines + composable
  @xen-orchestra/lite/README.md
  @xen-orchestra/web-core/docs/guidelines/component-definition.md
  @xen-orchestra/web-core/docs/guidelines/component-variants.md
  @xen-orchestra/web-core/docs/utils/to-variants.util.md
  @xen-orchestra/web-core/lib/utils/to-variants.util.ts
  @xen-orchestra/web/README.md
Labels: XO Web Core

#7996 fix(xo-lite/stories): add missing required props for UiButton component configs
  @xen-orchestra/lite/src/stories/modals/layouts/confirm-modal-layout.story.vue
  @xen-orchestra/lite/src/stories/modals/layouts/form-modal-layout.story.vue
  @xen-orchestra/lite/src/stories/web-core/button/button-group.story.vue
  @xen-orchestra/lite/src/stories/web-core/button/ui-button.story.md
  @xen-orchestra/lite/src/stories/web-core/card/card-title.story.vue
  @xen-orchestra/lite/src/stories/web-core/head-bar/head-bar.story.md
  @xen-orchestra/lite/src/stories/web-core/head-bar/head-bar.story.vue
Labels: XO Lite

#7977 feat(xo-web): display more notes on backup main page
  CHANGELOG.unreleased.md
  packages/xo-web/src/common/intl/messages.js
  packages/xo-web/src/xo-app/backup/_getSettingsWithNonDefaultValue.js
  packages/xo-web/src/xo-app/backup/overview/tab-jobs.js
Labels: Highlight

#7994 feat(xo-core): update `VtsCounter` component to v2
  @xen-orchestra/lite/src/components/HostPatchesTable.vue
  @xen-orchestra/lite/src/components/component-story/ComponentStory.vue
  @xen-orchestra/lite/src/components/infra/InfraHostItem.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardAlarms.vue
  @xen-orchestra/lite/src/components/ui/UiCardTitle.vue
  @xen-orchestra/lite/src/stories/web-core/card/card-title.story.vue
  @xen-orchestra/lite/src/stories/web-core/counter/vts-counter.story.vue
  @xen-orchestra/lite/src/stories/web-core/tab/tab-item.story.vue
  @xen-orchestra/lite/src/stories/web-core/tree/tree-list.story.md
  @xen-orchestra/lite/src/stories/web-core/tree/tree-list.story.vue
  @xen-orchestra/lite/src/views/pool/PoolTasksView.vue
  @xen-orchestra/web-core/lib/components/UiCounter.vue
  @xen-orchestra/web-core/lib/components/counter/VtsCounter.vue
  @xen-orchestra/web-core/lib/components/task/QuickTaskTabBar.vue
  @xen-orchestra/web-core/lib/types/color.type.ts
  @xen-orchestra/web-core/lib/types/size.type.ts
  @xen-orchestra/web/src/components/site/dashboard/BackupIssues.vue
  @xen-orchestra/web/src/components/tree/HostTreeItem.vue
  @xen-orchestra/web/src/components/tree/PoolTreeItem.vue
Labels: XO Lite, XO Web Core, XO Web 6

#8003 feat(xo-core): update `UiIcon` component
  @xen-orchestra/lite/src/components/infra/InfraHostItem.vue
  @xen-orchestra/lite/src/stories/web-core/icon/complex-icon.story.md
  @xen-orchestra/lite/src/stories/web-core/icon/complex-icon.story.vue
  @xen-orchestra/lite/src/stories/web-core/icon/vts-icon.story.md
  @xen-orchestra/lite/src/stories/web-core/icon/vts-icon.story.vue
  @xen-orchestra/lite/src/stories/web-core/tree/tree-list.story.md
  @xen-orchestra/lite/src/stories/web-core/tree/tree-list.story.vue
  @xen-orchestra/web-core/docs/guidelines/icons.md
  @xen-orchestra/web-core/lib/components/LegendTitle.vue
  @xen-orchestra/web-core/lib/components/PowerStateIcon.vue
  @xen-orchestra/web-core/lib/components/UiTag.vue
  @xen-orchestra/web-core/lib/components/backup-state/BackupState.vue
  @xen-orchestra/web-core/lib/components/button/ButtonIcon.vue
  @xen-orchestra/web-core/lib/components/button/UiButton.vue
  @xen-orchestra/web-core/lib/components/chip/ChipIcon.vue
  @xen-orchestra/web-core/lib/components/donut-chart/DonutChart.vue
  @xen-orchestra/web-core/lib/components/dropdown/DropdownItem.vue
  @xen-orchestra/web-core/lib/components/dropdown/DropdownTitle.vue
  @xen-orchestra/web-core/lib/components/head-bar/HeadBar.vue
  @xen-orchestra/web-core/lib/components/icon/ObjectIcon.vue
  @xen-orchestra/web-core/lib/components/icon/UiIcon.vue
  @xen-orchestra/web-core/lib/components/icon/VtsIcon.vue
  @xen-orchestra/web-core/lib/components/input/UiInput.vue
  @xen-orchestra/web-core/lib/components/legend/LegendItem.vue
  @xen-orchestra/web-core/lib/components/menu/MenuItem.vue
  @xen-orchestra/web-core/lib/components/menu/MenuTrigger.vue
  @xen-orchestra/web-core/lib/components/object-link/ObjectLink.vue
  @xen-orchestra/web-core/lib/components/table/ColumnTitle.vue
  @xen-orchestra/web-core/lib/components/task/QuickTaskItem.vue
  @xen-orchestra/web-core/lib/components/tree/TreeItemLabel.vue
  @xen-orchestra/web-core/lib/components/tree/TreeLoadingItem.vue
  @xen-orchestra/web-core/lib/types/color.type.ts
  @xen-orchestra/web/src/components/account-menu/AccountMenuTrigger.vue
  @xen-orchestra/web/src/components/tree/HostTreeItem.vue
Labels: XO Lite, XO Web Core, XO Web 6

#7997 feat(web-core): new Info component
  @xen-orchestra/lite/src/stories/web-core/info/vts-info.story.vue
  @xen-orchestra/web-core/lib/components/info/VtsInfo.vue
Labels: XO Web Core

#7995 feat(xo-server, xo-web): warning for too small host TLS keys
  CHANGELOG.unreleased.md
  packages/xo-server/src/api/host.mjs
  packages/xo-web/src/common/intl/messages.js
  packages/xo-web/src/common/xo/index.js
  packages/xo-web/src/xo-app/home/host-item.js
Labels: Highlight

#8006 feat(xo-6/dashboard): add S3 backup repository data
  @xen-orchestra/web-core/lib/components/stacked-bar/StackedBarSegment.vue
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web/src/components/site/dashboard/BackupRepository.vue
  @xen-orchestra/web/src/components/site/dashboard/Repositories.vue
  @xen-orchestra/web/src/components/site/dashboard/S3BackupRepository.vue
  @xen-orchestra/web/src/locales/en.json
  @xen-orchestra/web/src/locales/fr.json
  @xen-orchestra/web/src/stores/xo-rest-api/dashboard.store.ts
  @xen-orchestra/web/src/types/xo/dashboard.type.ts
  CHANGELOG.unreleased.md
Labels: XO Web 6

#8007 feat(xo-6/dashboard): add VMs protection data
  @xen-orchestra/web/src/components/site/dashboard/Backups.vue
  @xen-orchestra/web/src/locales/en.json
  @xen-orchestra/web/src/locales/fr.json
  @xen-orchestra/web/src/types/xo/dashboard.type.ts
  CHANGELOG.unreleased.md
Labels: XO Web 6

#8009 feat(xo-6/dashboard): add resources overview data
  @xen-orchestra/lite/src/locales/en.json
  @xen-orchestra/lite/src/locales/fr.json
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web/src/components/site/dashboard/ResourcesOverview.vue
  @xen-orchestra/web/src/locales/en.json
  @xen-orchestra/web/src/locales/fr.json
  @xen-orchestra/web/src/pages/index.vue
  @xen-orchestra/web/src/types/xo/dashboard.type.ts
  CHANGELOG.unreleased.md
Labels: XO Web 6
