Repository vatesfr/xen-orchestra, pull requests merged in 2024-05, with the labels that each got.

#7632 feat(xo6/core): update chip component to v1.1.0
  @xen-orchestra/web-core/lib/components/chip/ChipRemoveIcon.vue
  @xen-orchestra/web-core/lib/components/chip/UiChip.vue
Labels: XO Web Core

#7633 feat(xo-core): add design system version info in components
  @xen-orchestra/web-core/lib/components/PowerStateIcon.vue
  @xen-orchestra/web-core/lib/components/UiCounter.vue
  @xen-orchestra/web-core/lib/components/UiSpinner.vue
  @xen-orchestra/web-core/lib/components/UiTag.vue
  @xen-orchestra/web-core/lib/components/button/ButtonGroup.vue
  @xen-orchestra/web-core/lib/components/button/ButtonIcon.vue
  @xen-orchestra/web-core/lib/components/button/UiButton.vue
  @xen-orchestra/web-core/lib/components/chip/ChipRemoveIcon.vue
  @xen-orchestra/web-core/lib/components/chip/UiChip.vue
  @xen-orchestra/web-core/lib/components/icon/ComplexIcon.vue
  @xen-orchestra/web-core/lib/components/icon/ObjectIcon.vue
  @xen-orchestra/web-core/lib/components/icon/UiIcon.vue
  @xen-orchestra/web-core/lib/components/icon/VmIcon.vue
  @xen-orchestra/web-core/lib/components/layout/LayoutSidebar.vue
  @xen-orchestra/web-core/lib/components/menu/MenuItem.vue
  @xen-orchestra/web-core/lib/components/menu/MenuList.vue
  @xen-orchestra/web-core/lib/components/menu/MenuSeparator.vue
  @xen-orchestra/web-core/lib/components/menu/MenuTrigger.vue
  @xen-orchestra/web-core/lib/components/tab/TabItem.vue
  @xen-orchestra/web-core/lib/components/tab/TabList.vue
  @xen-orchestra/web-core/lib/components/tooltip/TooltipItem.vue
  @xen-orchestra/web-core/lib/components/tooltip/TooltipList.vue
  @xen-orchestra/web-core/lib/components/tree/TreeItem.vue
  @xen-orchestra/web-core/lib/components/tree/TreeItemError.vue
  @xen-orchestra/web-core/lib/components/tree/TreeItemLabel.vue
  @xen-orchestra/web-core/lib/components/tree/TreeLine.vue
  @xen-orchestra/web-core/lib/components/tree/TreeList.vue
  @xen-orchestra/web-core/lib/components/tree/TreeLoadingItem.vue
  @xen-orchestra/web-core/lib/components/user/UserLink.vue
  @xen-orchestra/web-core/lib/components/user/UserLogo.vue
Labels: XO Web Core

#7635 feat(xo-6): handle logout
  @xen-orchestra/lite/src/components/AccountButton.vue
  @xen-orchestra/lite/src/locales/en.json
  @xen-orchestra/lite/src/locales/fr.json
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web/src/components/account-menu/AccountMenu.vue
  @xen-orchestra/web/src/components/account-menu/AccountMenuTrigger.vue
  @xen-orchestra/web/src/layouts/DefaultLayout.vue
  @xen-orchestra/web/src/locales/en.json
  @xen-orchestra/web/src/locales/fr.json
Labels: XO Web 6

#7664 fix(XO6/LogoTextOnly): fix color
  @xen-orchestra/web/src/components/LogoTextOnly.vue
Labels: XO Web 6

#7631 feat(xo-core): add status pill UI component for backup issues
  @xen-orchestra/lite/src/stories/web-core/status-pill.story.vue
  @xen-orchestra/web-core/lib/components/StatusPill.vue
Labels: XO Web Core

#7536 feat(web-core/tree): tree filter composable
  @xen-orchestra/web-core/docs/composables/tree.composable.md
  @xen-orchestra/web-core/lib/composables/tree-filter.composable.ts
Labels: XO Web Core

#7679 feat(lite/header): add a link to XOA when detected on the pool
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/AppHeader.vue
  @xen-orchestra/lite/src/components/XoaButton.vue
  @xen-orchestra/lite/src/libs/xen-api/xen-api.types.ts
Labels: XO Lite

#7686 feat(xo-lite): add german translation
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/i18n.ts
  @xen-orchestra/lite/src/locales/de.json
  @xen-orchestra/web-core/lib/i18n.ts
  @xen-orchestra/web-core/lib/locales/de.json
Labels: XO Lite, XO Web Core

#7662 feat(xo-6/account-menu): add menu items (links to doc and support)
  @xen-orchestra/web/src/components/account-menu/AccountMenu.vue
  @xen-orchestra/web/src/locales/en.json
  @xen-orchestra/web/src/locales/fr.json
Labels: XO Web Core

#7700 chore(web-core): configure package to be published on NPM
  @xen-orchestra/web-core/package.json
Labels: XO Web Core

#7693 feat(xo-6/vm): add console view
  @xen-orchestra/web-core/env.d.ts
  @xen-orchestra/web-core/lib/components/console/RemoteConsole.vue
  @xen-orchestra/web-core/lib/types/iterable-backoff.d.ts
  @xen-orchestra/web-core/package.json
  @xen-orchestra/web/.env.dist
  @xen-orchestra/web/src/components/infra/InfraVmItem.vue
  @xen-orchestra/web/src/components/vm/VmHeader.vue
  @xen-orchestra/web/src/locales/en.json
  @xen-orchestra/web/src/locales/fr.json
  @xen-orchestra/web/src/pages/vm/[id]/console.vue
  @xen-orchestra/web/src/pages/vm/[id]/index.vue
  @xen-orchestra/web/src/types/vm.type.ts
  @xen-orchestra/web/src/utils/rest-api-config.util.ts
  @xen-orchestra/web/tsconfig.app.json
  @xen-orchestra/web/vite.config.ts
  yarn.lock
Labels: XO Web 6
