Repository vatesfr/xen-orchestra, pull requests merged in 2024-03, with the labels that each got.

#7431 fix(xo-web/SR): destination SRs are ISOs if we are migrating ISOs
  CHANGELOG.unreleased.md
  packages/xo-web/src/common/xo/index.js
  packages/xo-web/src/common/xo/migrate-vdi-modal/index.js
  packages/xo-web/src/xo-app/sr/tab-disks.js
Labels: type: bug :bug:

#7453 fix(web-6): eslint
  @xen-orchestra/web/package.json
Labels: XO Web 6

#7460 feat(web-core): redesigned typography
  @xen-orchestra/web-core/lib/assets/css/_typography.pcss
  @xen-orchestra/web-core/lib/assets/css/typography/_legacy.pcss
  @xen-orchestra/web-core/lib/assets/css/typography/_letter-spacing.pcss
  @xen-orchestra/web-core/lib/assets/css/typography/_line-height.pcss
  @xen-orchestra/web-core/lib/assets/css/typography/_size.pcss
  @xen-orchestra/web-core/lib/assets/css/typography/_style.pcss
  @xen-orchestra/web-core/lib/assets/css/typography/_weight.pcss
Labels: XO Web Core

#7454 docs(web-core): add CSS guidelines
  @xen-orchestra/web-core/docs/css/interactive-elements.md
  @xen-orchestra/web-core/docs/css/variants.md
Labels: XO Web Core

#7446 feat(lite/stories): add web-core + enhancements
  @xen-orchestra/lite/src/libs/story/story-param.ts
  @xen-orchestra/lite/src/views/story/HomeView.vue
Labels: XO Lite, XO Web Core

#7420 feat(web-core): new dropdown components
  @xen-orchestra/lite/src/stories/web-core/dropdown/dropdown-item.story.md
  @xen-orchestra/lite/src/stories/web-core/dropdown/dropdown-item.story.vue
  @xen-orchestra/lite/src/stories/web-core/dropdown/dropdown-list.story.md
  @xen-orchestra/lite/src/stories/web-core/dropdown/dropdown-list.story.vue
  @xen-orchestra/lite/src/stories/web-core/dropdown/dropdown-title.story.md
  @xen-orchestra/lite/src/stories/web-core/dropdown/dropdown-title.story.vue
  @xen-orchestra/web-core/lib/components/dropdown/DropdownItem.vue
  @xen-orchestra/web-core/lib/components/dropdown/DropdownList.vue
  @xen-orchestra/web-core/lib/components/dropdown/DropdownTitle.vue
  @xen-orchestra/web-core/lib/components/icon/UiIcon.vue
  @xen-orchestra/web-core/lib/utils/injection-keys.util.ts
Labels: XO Web Core

#7400 feat(web-core): new collection management
  @xen-orchestra/web-core/docs/composables/collection.composable.md
  @xen-orchestra/web-core/lib/composables/collection.composable.ts
  @xen-orchestra/web-core/lib/composables/collection/base.ts
  @xen-orchestra/web-core/lib/composables/collection/build-collection.ts
  @xen-orchestra/web-core/lib/composables/collection/define-collection.ts
  @xen-orchestra/web-core/lib/composables/collection/define-group.ts
  @xen-orchestra/web-core/lib/composables/collection/define-leaf.ts
  @xen-orchestra/web-core/lib/composables/collection/definition-base.ts
  @xen-orchestra/web-core/lib/composables/collection/group-definition.ts
  @xen-orchestra/web-core/lib/composables/collection/group.ts
  @xen-orchestra/web-core/lib/composables/collection/leaf-definition.ts
  @xen-orchestra/web-core/lib/composables/collection/leaf.ts
  @xen-orchestra/web-core/lib/composables/collection/types.ts
Labels: XO Web Core

#7474 feat(lite): use redesigned typography
  @xen-orchestra/lite/src/components/AppTooltip.vue
  @xen-orchestra/lite/src/components/LoginError.vue
  @xen-orchestra/lite/src/components/NoDataError.vue
  @xen-orchestra/lite/src/components/PageUnderConstruction.vue
  @xen-orchestra/lite/src/components/TitleBar.vue
  @xen-orchestra/lite/src/components/component-story/StoryMenuTree.vue
  @xen-orchestra/lite/src/components/component-story/StoryParamsTable.vue
  @xen-orchestra/lite/src/components/component-story/StoryWidget.vue
  @xen-orchestra/lite/src/components/form/FormInputWrapper.vue
  @xen-orchestra/lite/src/components/form/FormSection.vue
  @xen-orchestra/lite/src/components/infra/InfraHostList.vue
  @xen-orchestra/lite/src/components/infra/InfraItemLabel.vue
  @xen-orchestra/lite/src/components/infra/InfraPoolList.vue
  @xen-orchestra/lite/src/components/infra/InfraVmList.vue
  @xen-orchestra/lite/src/components/menu/MenuTrigger.vue
  @xen-orchestra/lite/src/components/modals/CollectionFilterModal.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardAlarms.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardStatusItem.vue
  @xen-orchestra/lite/src/components/pool/dashboard/alarm/AlarmRow.vue
  @xen-orchestra/lite/src/components/tasks/TasksTable.vue
  @xen-orchestra/lite/src/components/ui/SizeStatsSummary.vue
  @xen-orchestra/lite/src/components/ui/UiBadge.vue
  @xen-orchestra/lite/src/components/ui/UiCardFooter.vue
  @xen-orchestra/lite/src/components/ui/UiFilter.vue
  @xen-orchestra/lite/src/components/ui/UiKeyValueRow.vue
  @xen-orchestra/lite/src/components/ui/UiStatusPanel.vue
  @xen-orchestra/lite/src/components/ui/UiTab.vue
  @xen-orchestra/lite/src/components/ui/UiTable.vue
  @xen-orchestra/lite/src/components/ui/modals/ModalContainer.vue
  @xen-orchestra/lite/src/components/ui/modals/UiModal.vue
  @xen-orchestra/lite/src/components/ui/modals/layouts/ConfirmModalLayout.vue
  @xen-orchestra/lite/src/components/ui/modals/layouts/FormModalLayout.vue
  @xen-orchestra/lite/src/components/ui/progress/UiProgressScale.vue
  @xen-orchestra/lite/src/components/ui/resources/UiResource.vue
  @xen-orchestra/web-core/lib/assets/css/_reset.pcss
  @xen-orchestra/web-core/lib/assets/css/base.pcss
Labels: XO Lite

#7438 feat(lite/web-core): update UiCounter component
  @xen-orchestra/lite/src/components/HostPatchesTable.vue
  @xen-orchestra/lite/src/components/component-story/ComponentStory.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardAlarms.vue
  @xen-orchestra/lite/src/components/ui/UiCardTitle.vue
  @xen-orchestra/lite/src/components/ui/UiCounter.vue
  @xen-orchestra/lite/src/stories/web-core/ui-counter.story.vue
  @xen-orchestra/lite/src/views/pool/PoolTasksView.vue
  @xen-orchestra/web-core/lib/components/UiCounter.vue
  @xen-orchestra/web-core/lib/types/color.type.ts
  @xen-orchestra/web-core/lib/types/size.type.ts
Labels: XO Lite, XO Web Core

#7489 feat(web-core): move menu components to web-core
  @xen-orchestra/lite/src/components/AccountButton.vue
  @xen-orchestra/lite/src/components/component-story/ComponentStory.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionCopyItem.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionDeleteItem.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionExportItem.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionExportItems.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionMigrateItem.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionPowerStateItems.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionSnapshotItem.vue
  @xen-orchestra/lite/src/components/vm/VmHeader.vue
  @xen-orchestra/lite/src/components/vm/VmsActionsBar.vue
  @xen-orchestra/lite/src/types/injection-keys.ts
  @xen-orchestra/lite/src/views/vm/VmConsoleView.vue
  @xen-orchestra/web-core/lib/components/menu/MenuItem.vue
  @xen-orchestra/web-core/lib/components/menu/MenuList.vue
  @xen-orchestra/web-core/lib/components/menu/MenuSeparator.vue
  @xen-orchestra/web-core/lib/components/menu/MenuTrigger.vue
  @xen-orchestra/web-core/lib/context.ts
  @xen-orchestra/web-core/lib/utils/injection-keys.util.ts
Labels: XO Lite, XO Web Core

#7488 feat(web-core): add new tag component
  @xen-orchestra/lite/src/stories/web-core/ui-tag.story.vue
  @xen-orchestra/web-core/lib/components/UiTag.vue
  @xen-orchestra/web-core/lib/types/color.type.ts
Labels: XO Web Core

#7486 feat(web-core): move UiStore into web-core
  @xen-orchestra/lite/src/App.vue
  @xen-orchestra/lite/src/components/AppHeader.vue
  @xen-orchestra/lite/src/components/AppNavigation.vue
  @xen-orchestra/lite/src/components/HostPatchesTable.vue
  @xen-orchestra/lite/src/components/infra/InfraHostItem.vue
  @xen-orchestra/lite/src/components/vm/VmsActionsBar.vue
  @xen-orchestra/lite/src/composables/chart-theme.composable.ts
  @xen-orchestra/lite/src/stores/navigation.store.ts
  @xen-orchestra/lite/src/views/host/HostRootView.vue
  @xen-orchestra/lite/src/views/pool/PoolVmsView.vue
  @xen-orchestra/lite/src/views/settings/SettingsView.vue
  @xen-orchestra/lite/src/views/vm/VmConsoleView.vue
  @xen-orchestra/lite/src/views/vm/VmRootView.vue
  @xen-orchestra/lite/src/views/xoa-deploy/XoaDeployView.vue
  @xen-orchestra/web-core/lib/stores/ui.store.ts
Labels: XO Web Core

#7485 feat(web-core): add new chip component
  @xen-orchestra/lite/src/stories/web-core/ui-chip.story.vue
  @xen-orchestra/web-core/lib/components/chip/ChipIcon.vue
  @xen-orchestra/web-core/lib/components/chip/ChipRemoveIcon.vue
  @xen-orchestra/web-core/lib/components/chip/UiChip.vue
  @xen-orchestra/web-core/lib/components/icon/UiIcon.vue
Labels: XO Web Core

#7450 feat(lite/core): update UiButton component
  @xen-orchestra/lite/src/components/AppHeader.vue
  @xen-orchestra/lite/src/components/AppLogin.vue
  @xen-orchestra/lite/src/components/TitleBar.vue
  @xen-orchestra/lite/src/components/component-story/ComponentStory.vue
  @xen-orchestra/lite/src/components/modals/CollectionFilterModal.vue
  @xen-orchestra/lite/src/components/modals/JsonEditorModal.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardAlarms.vue
  @xen-orchestra/lite/src/components/ui/UiButton.vue
  @xen-orchestra/lite/src/components/ui/UiButtonGroup.vue
  @xen-orchestra/lite/src/components/ui/modals/ModalApproveButton.vue
  @xen-orchestra/lite/src/components/ui/modals/ModalDeclineButton.vue
  @xen-orchestra/lite/src/components/ui/modals/layouts/ConfirmModalLayout.vue
  @xen-orchestra/lite/src/components/ui/modals/layouts/FormModalLayout.vue
  @xen-orchestra/lite/src/components/vm/VmHeader.vue
  @xen-orchestra/lite/src/components/vm/VmsActionsBar.vue
  @xen-orchestra/lite/src/stories/button/ui-button-group.story.vue
  @xen-orchestra/lite/src/stories/button/ui-button.story.vue
  @xen-orchestra/lite/src/stories/modals/layouts/confirm-modal-layout.story.vue
  @xen-orchestra/lite/src/stories/modals/layouts/form-modal-layout.story.vue
  @xen-orchestra/lite/src/stories/web-core/button/button-group.story.vue
  @xen-orchestra/lite/src/stories/web-core/button/ui-button.story.md
  @xen-orchestra/lite/src/stories/web-core/button/ui-button.story.vue
  @xen-orchestra/lite/src/views/ObjectNotFoundView.vue
  @xen-orchestra/lite/src/views/PageNotFoundView.vue
  @xen-orchestra/lite/src/views/story/HomeView.vue
  @xen-orchestra/lite/src/views/xoa-deploy/XoaDeployView.vue
  @xen-orchestra/web-core/lib/components/button/ButtonGroup.vue
  @xen-orchestra/web-core/lib/components/button/UiButton.vue
  @xen-orchestra/web-core/lib/types/button.type.ts
Labels: XO Lite, XO Web Core

#7491 feat(web-core): enhance tooltip directive
  @xen-orchestra/lite/src/App.vue
  @xen-orchestra/lite/src/components/HostPatchesTable.vue
  @xen-orchestra/lite/src/components/PoolOverrideWarning.vue
  @xen-orchestra/lite/src/components/component-story/StoryPropParams.vue
  @xen-orchestra/lite/src/components/infra/InfraHostItem.vue
  @xen-orchestra/lite/src/components/infra/InfraItemLabel.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardCpuProvisioning.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardCpuUsage.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardRamUsage.vue
  @xen-orchestra/lite/src/components/pool/dashboard/alarm/AlarmRow.vue
  @xen-orchestra/lite/src/components/ui/progress/UiProgressLegend.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionCopyItem.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionDeleteItem.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionExportItem.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionMigrateItem.vue
  @xen-orchestra/lite/src/components/vm/VmHeader.vue
  @xen-orchestra/lite/src/components/vm/VmsActionsBar.vue
  @xen-orchestra/lite/src/directives/tooltip.directive.md
  @xen-orchestra/lite/src/directives/tooltip.directive.ts
  @xen-orchestra/lite/src/libs/utils.ts
  @xen-orchestra/lite/src/stores/tooltip.store.ts
  @xen-orchestra/lite/src/views/pool/PoolVmsView.vue
  @xen-orchestra/web-core/lib/components/TreeItemLabel.vue
  @xen-orchestra/web-core/lib/components/dropdown/DropdownItem.vue
  @xen-orchestra/web-core/lib/components/tooltip/TooltipItem.vue
  @xen-orchestra/web-core/lib/components/tooltip/TooltipList.vue
  @xen-orchestra/web-core/lib/directives/tooltip.directive.md
  @xen-orchestra/web-core/lib/directives/tooltip.directive.ts
  @xen-orchestra/web-core/lib/stores/tooltip.store.ts
Labels: XO Lite, XO Web Core

#7481 feat(lite/web-core): update tab component
  @xen-orchestra/lite/src/components/RouterTab.vue
  @xen-orchestra/lite/src/components/component-story/ComponentStory.vue
  @xen-orchestra/lite/src/components/pool/PoolTabBar.vue
  @xen-orchestra/lite/src/components/ui/UiTab.vue
  @xen-orchestra/lite/src/components/vm/VmTabBar.vue
  @xen-orchestra/lite/src/stories/tab-bar/ui-tab-bar.story.vue
  @xen-orchestra/lite/src/stories/web-core/tab/router-tab.story.vue
  @xen-orchestra/lite/src/stories/web-core/tab/tab-item.story.vue
  @xen-orchestra/lite/src/stories/web-core/tab/tab-list.story.vue
  @xen-orchestra/web-core/lib/components/tab/TabItem.vue
  @xen-orchestra/web-core/lib/components/tab/TabList.vue
Labels: XO Lite, XO Web Core

#7482 feat(lite): disable navigation to WiP views via tabs
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/pool/PoolTabBar.vue
  @xen-orchestra/lite/src/components/vm/VmTabBar.vue
Labels: XO Lite

#7385 feat(xo6/core): update tree-view ui
  @xen-orchestra/lite/src/stories/web-core/tree/tree-item-error.story.vue
  @xen-orchestra/lite/src/stories/web-core/tree/tree-item-label.story.vue
  @xen-orchestra/lite/src/stories/web-core/tree/tree-item.story.vue
  @xen-orchestra/lite/src/stories/web-core/tree/tree-list.story.vue
  @xen-orchestra/lite/src/stories/web-core/tree/tree-loading-item.story.vue
  @xen-orchestra/web-core/lib/components/tree/TreeItem.vue
  @xen-orchestra/web-core/lib/components/tree/TreeItemError.vue
  @xen-orchestra/web-core/lib/components/tree/TreeItemLabel.vue
  @xen-orchestra/web-core/lib/components/tree/TreeLine.vue
  @xen-orchestra/web-core/lib/components/tree/TreeList.vue
  @xen-orchestra/web-core/lib/components/tree/TreeLoadingItem.vue
Labels: XO Web Core

#7452 feat(xo-web/console): display zoom percentage
  CHANGELOG.unreleased.md
  packages/xo-web/src/xo-app/host/tab-console.js
  packages/xo-web/src/xo-app/vm/tab-console.js
Labels: Highlight

#7513 feat(web-core): add UserLink component
  @xen-orchestra/lite/src/stories/web-core/user/user-link.story.vue
  @xen-orchestra/lite/src/stories/web-core/user/user-logo.story.vue
  @xen-orchestra/web-core/lib/assets/user.png
  @xen-orchestra/web-core/lib/components/user/UserLink.vue
  @xen-orchestra/web-core/lib/components/user/UserLogo.vue
  @xen-orchestra/web-core/lib/types/size.type.ts
Labels: XO Web Core
