Repository vatesfr/xen-orchestra, pull requests merged in 2024-07, with the labels that each got.

#7719 fix(xo-6/header): make XO5 link work
  @xen-orchestra/web/src/layouts/AppLayout.vue
Labels: XO Web 6

#7824 fix(xo-core/xo-lite): update NoVncClient import
  @xen-orchestra/lite/src/components/RemoteConsole.vue
  @xen-orchestra/lite/src/types/novnc.d.ts
  @xen-orchestra/web-core/lib/components/console/RemoteConsole.vue
Labels: type: bug :bug:, XO Lite, XO Web Core

#7833 fix(xo-core/eslint/i18n): add "fa" to the list of excluded locales for missing keys checks
  .eslintrc.js
  @xen-orchestra/web-core/docs/guidelines/i18n.md
Labels: type: bug :bug:, XO Web Core

#7810 feat(xo-server/xo-web/VM_coalesceLeaf): implement Coalesce Leaf
  @xen-orchestra/xapi/vm.mjs
  CHANGELOG.unreleased.md
  packages/xo-server/src/api/vm.mjs
  packages/xo-web/src/common/intl/messages.js
  packages/xo-web/src/common/xo/index.js
  packages/xo-web/src/icons.scss
  packages/xo-web/src/xo-app/vm/tab-advanced.js
Labels: Highlight

#7779 feat(web): fix dev token
  @xen-orchestra/web/src/pages/dev/token.vue
Labels: XO Web 6

#7794 feat(xo-core): add ObjectLink component
  @xen-orchestra/lite/src/stories/web-core/object-link/object-link.story.vue
  @xen-orchestra/web-core/lib/components/object-link/ObjectLink.vue
Labels: XO Web Core

#7445 xo-web Initial PWA manifest for Xen Orchestra 6
  @xen-orchestra/web/index.html
  @xen-orchestra/web/public/manifest.webmanifest
Labels: XO Web 6

#7798 feat(xo-core): add CellObject component
  @xen-orchestra/lite/src/stories/web-core/cell-object/cell-object.story.vue
  @xen-orchestra/web-core/lib/components/cell-object/CellObject.vue
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
Labels: XO Web Core

#7806 feat(xo-core): add HeadBar component
  @xen-orchestra/lite/src/stories/web-core/head-bar/head-bar.story.md
  @xen-orchestra/lite/src/stories/web-core/head-bar/head-bar.story.vue
  @xen-orchestra/web-core/lib/components/head-bar/HeadBar.vue
Labels: XO Web Core

#7809 feat(web): add polling option to xo store config builder
  @xen-orchestra/web-core/lib/types/utility.type.ts
  @xen-orchestra/web-core/lib/utils/if-else.utils.ts
  @xen-orchestra/web/src/utils/create-xo-store-config.util.ts
Labels: XO Web 6

#7812 feat(web-core): tasks quick view
  @xen-orchestra/web-core/lib/components/UiSeparator.vue
  @xen-orchestra/web-core/lib/components/backdrop/Backdrop.vue
  @xen-orchestra/web-core/lib/components/divider/Divider.vue
  @xen-orchestra/web-core/lib/components/search-bar/SearchBar.vue
  @xen-orchestra/web-core/lib/components/task/QuickTaskButton.vue
  @xen-orchestra/web-core/lib/components/task/QuickTaskItem.vue
  @xen-orchestra/web-core/lib/components/task/QuickTaskList.vue
  @xen-orchestra/web-core/lib/components/task/QuickTaskPanel.vue
  @xen-orchestra/web-core/lib/components/task/QuickTaskTabBar.vue
  @xen-orchestra/web-core/lib/composables/tab-list.composable.ts
  @xen-orchestra/web-core/lib/layouts/CoreLayout.vue
  @xen-orchestra/web-core/lib/locales/de.json
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web-core/lib/types/tab.type.ts
  @xen-orchestra/web-core/lib/types/task.type.ts
  @xen-orchestra/web/src/locales/de.json
  @xen-orchestra/web/src/locales/en.json
  @xen-orchestra/web/src/locales/fr.json
Labels: XO Web Core

#7793 fix(xo-web/VM/Advanced): fix 'not enough permission' error for super admins when attaching PCIs
  CHANGELOG.unreleased.md
  packages/xo-web/src/xo-app/vm/pci-attach-modal.js
  packages/xo-web/src/xo-app/vm/tab-advanced.js
Labels: type: bug :bug:

#7844 feat(xo-web/i18n): add Swedish translation
  CHANGELOG.unreleased.md
  packages/xo-web/src/common/intl/locales/se.js
  packages/xo-web/src/xo-app/user/index.js
Labels: comp: GUI :art:, Highlight

#7843 feat(xo-stack): add text-ellipsis utility class
  @xen-orchestra/lite/src/components/infra/InfraItemLabel.vue
  @xen-orchestra/lite/src/components/pool/dashboard/alarm/AlarmRow.vue
  @xen-orchestra/web-core/lib/assets/css/_typography.pcss
  @xen-orchestra/web-core/lib/assets/css/typography/_utils.pcss
  @xen-orchestra/web-core/lib/components/UiTag.vue
  @xen-orchestra/web-core/lib/components/cell-object/CellObject.vue
  @xen-orchestra/web-core/lib/components/chip/UiChip.vue
  @xen-orchestra/web-core/lib/components/dropdown/DropdownItem.vue
  @xen-orchestra/web-core/lib/components/head-bar/HeadBar.vue
  @xen-orchestra/web-core/lib/components/stacked-bar/StackedBarSegment.vue
  @xen-orchestra/web-core/lib/components/tree/TreeItemLabel.vue
  @xen-orchestra/web/src/components/vm/VmHeader.vue
Labels: XO Lite, XO Web Core, XO Web 6

#7850 feat(web-stack): upgrade Vue Router to 4.4
  .eslintrc.js
  @xen-orchestra/lite/package.json
  @xen-orchestra/web-core/package.json
  @xen-orchestra/web/env.d.ts
  @xen-orchestra/web/package.json
  @xen-orchestra/web/src/main.ts
  @xen-orchestra/web/typed-router.d.ts
  yarn.lock
Labels: XO Lite, XO Web Core, XO Web 6

#7842 feat(xo-6/pool): add hosts and VMs table list views
  @xen-orchestra/lite/src/locales/de.json
  @xen-orchestra/lite/src/locales/en.json
  @xen-orchestra/lite/src/locales/fr.json
  @xen-orchestra/web-core/lib/components/cell-text/CellText.vue
  @xen-orchestra/web-core/lib/components/object-link/ObjectLink.vue
  @xen-orchestra/web-core/lib/components/tab/TabList.vue
  @xen-orchestra/web-core/lib/components/table/UiTable.vue
  @xen-orchestra/web-core/lib/components/tree/TreeItemLabel.vue
  @xen-orchestra/web-core/lib/locales/de.json
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web/src/components/pool/PoolHeader.vue
  @xen-orchestra/web/src/locales/en.json
  @xen-orchestra/web/src/locales/fr.json
  @xen-orchestra/web/src/pages/pool/[id].vue
  @xen-orchestra/web/src/pages/pool/[id]/hosts.vue
  @xen-orchestra/web/src/pages/pool/[id]/index.vue
  @xen-orchestra/web/src/pages/pool/[id]/vms.vue
  @xen-orchestra/web/src/utils/create-xo-store-config.util.ts
  @xen-orchestra/web/src/utils/rest-api-config.util.ts
  @xen-orchestra/web/typed-router.d.ts
Labels: XO Web 6

#7815 feat(xo-server-backup-reports): include info
  CHANGELOG.unreleased.md
  packages/xo-server-backup-reports/templates/mjml/partials/reportInfo.hbs
  packages/xo-server-backup-reports/templates/mjml/partials/vmText.hbs
Labels: Highlight

#7860 fix(web-6/tree-view): issue with item without children
  @xen-orchestra/web-core/lib/composables/tree/branch.ts
  @xen-orchestra/web/src/components/tree/HostTreeItem.vue
  @xen-orchestra/web/src/components/tree/PoolTreeItem.vue
Labels: XO Web Core, XO Web 6

#7829 feat(xo-core): add donut with legends ui component
  @xen-orchestra/lite/src/stories/web-core/donut-chart/donut-chart-with-legend.story.vue
  @xen-orchestra/lite/src/stories/web-core/donut-chart/donut-chart.story.vue
  @xen-orchestra/lite/src/stories/web-core/legend/legend-group.story.md
  @xen-orchestra/lite/src/stories/web-core/legend/legend-group.story.vue
  @xen-orchestra/lite/src/stories/web-core/legend/legend-item.story.md
  @xen-orchestra/lite/src/stories/web-core/legend/legend-item.story.vue
  @xen-orchestra/lite/src/stories/web-core/legend/legend-title.story.vue
  @xen-orchestra/web-core/lib/components/LegendTitle.vue
  @xen-orchestra/web-core/lib/components/donut-chart-with-legend/DonutChartWithLegend.vue
  @xen-orchestra/web-core/lib/components/donut-chart/DonutChart.vue
  @xen-orchestra/web-core/lib/components/legend/LegendGroup.vue
  @xen-orchestra/web-core/lib/components/legend/LegendItem.vue
  @xen-orchestra/web-core/lib/components/legend/LegendList.vue
Labels: XO Web Core

#7866 feat(web-core): update heroes + add stories
  @xen-orchestra/lite/src/stories/web-core/state-hero/coming-soon-hero.story.vue
  @xen-orchestra/lite/src/stories/web-core/state-hero/loading-hero.story.md
  @xen-orchestra/lite/src/stories/web-core/state-hero/loading-hero.story.vue
  @xen-orchestra/lite/src/stories/web-core/state-hero/object-not-found-hero.story.vue
  @xen-orchestra/lite/src/stories/web-core/state-hero/state-hero.story.vue
  @xen-orchestra/web-core/lib/components/state-hero/ComingSoonHero.vue
  @xen-orchestra/web-core/lib/components/state-hero/LoadingHero.vue
  @xen-orchestra/web-core/lib/components/state-hero/ObjectNotFoundHero.vue
  @xen-orchestra/web-core/lib/components/state-hero/StateHero.vue
  @xen-orchestra/web/src/pages/host/[id].vue
  @xen-orchestra/web/src/pages/pool/[id].vue
  @xen-orchestra/web/src/pages/pool/[id]/hosts.vue
  @xen-orchestra/web/src/pages/pool/[id]/vms.vue
  @xen-orchestra/web/src/pages/vm/[id].vue
Labels: XO Web Core

#7795 feat(xo-web): add vms status for xo6 dashboard
  @xen-orchestra/lite/src/locales/en.json
  @xen-orchestra/lite/src/locales/fr.json
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web/src/components/site/dashboard/VmsStatus.vue
  @xen-orchestra/web/src/locales/en.json
  @xen-orchestra/web/src/locales/fr.json
  @xen-orchestra/web/src/pages/index.vue
Labels: XO Web 6

#7851 feat(xo-6/host): add VMs table list view
  @xen-orchestra/web/src/components/host/HostHeader.vue
  @xen-orchestra/web/src/pages/host/[id].vue
  @xen-orchestra/web/src/pages/host/[id]/index.vue
  @xen-orchestra/web/src/pages/host/[id]/vms.vue
  @xen-orchestra/web/typed-router.d.ts
Labels: XO Web 6

#7799 feat(xo-web): add host status to xo6 dashboard
  @xen-orchestra/web/src/components/site/dashboard/HostsStatus.vue
  @xen-orchestra/web/src/components/site/dashboard/VmsStatus.vue
  @xen-orchestra/web/src/locales/en.json
  @xen-orchestra/web/src/locales/fr.json
  @xen-orchestra/web/src/pages/index.vue
  @xen-orchestra/web/src/types/host.type.ts
Labels: XO Web 6

#7868 feat(web-core): new `useItemCounter` composable
  @xen-orchestra/web-core/lib/composables/item-counter.composable.md
  @xen-orchestra/web-core/lib/composables/item-counter.composable.ts
  @xen-orchestra/web/src/components/site/dashboard/HostsStatus.vue
  @xen-orchestra/web/src/components/site/dashboard/VmsStatus.vue
Labels: XO Web Core, XO Web 6

#7875 fix(web-core/novnc): add custom declaration file to fix type-check error
  @xen-orchestra/web-core/env.d.ts
  @xen-orchestra/web-core/lib/types/novnc.d.ts
Labels: XO Web Core

#7838 feat(xo-server/xo-web/host): display 2CRSi informations in general tab
  @xen-orchestra/xapi/host.mjs
  @xen-orchestra/xapi/host/_ipmi.mjs
  CHANGELOG.unreleased.md
  packages/xo-server/src/api/host.mjs
  packages/xo-web/src/common/intl/messages.js
  packages/xo-web/src/common/xo/index.js
  packages/xo-web/src/icons.scss
  packages/xo-web/src/xo-app/host/tab-general.js
Labels: Highlight

#7878 fix(xo-6): add comments in host and pool pages to fix Vite build
  @xen-orchestra/web/src/pages/host/[id]/index.vue
  @xen-orchestra/web/src/pages/pool/[id]/index.vue
Labels: XO Web 6

#7880 fix(xo-6/css): wrong lang in components style tags
  @xen-orchestra/lite/src/stories/web-core/head-bar/head-bar.story.vue
  @xen-orchestra/web/src/pages/host/[id]/vms.vue
  @xen-orchestra/web/src/pages/pool/[id]/hosts.vue
  @xen-orchestra/web/src/pages/pool/[id]/vms.vue
Labels: XO Web 6
