Repository vatesfr/xen-orchestra, pull requests merged in 2024-08, with the labels that each got.

#7819 feat(xo-web): add stacked bar with legend component
  @xen-orchestra/lite/src/stories/web-core/stacked-bar/stacked-bar-with-legend.story.vue
  @xen-orchestra/lite/src/stories/web-core/stacked-bar/stacked-bar.story.vue
  @xen-orchestra/web-core/lib/components/legend/LegendList.vue
  @xen-orchestra/web-core/lib/components/stacked-bar-with-legend/StackedBarWithLegend.vue
  @xen-orchestra/web-core/lib/components/stacked-bar/StackedBar.vue
  @xen-orchestra/web-core/lib/components/stacked-bar/StackedBarSegment.vue
Labels: XO Web Core

#7900 chore(xo-core): update NoVnc typescript type
  @xen-orchestra/lite/env.d.ts
  @xen-orchestra/lite/src/components/RemoteConsole.vue
  @xen-orchestra/web-core/env.d.ts
  @xen-orchestra/web-core/lib/types/novnc.d.ts
  @xen-orchestra/web-core/package.json
  yarn.lock
Labels: XO Web Core

#7917 feat(web-core): add `Branded` TS utility type
  @xen-orchestra/web-core/lib/types/utility.type.ts
Labels: XO Web Core

#7891 fix(xo-6): rollup error when building with npm
  @xen-orchestra/web/package.json
Labels: XO Web 6

#7918 feat(web): new REST API and XO objects configuration system
  @xen-orchestra/web/docs/rest-api.md
  @xen-orchestra/web/src/components/host/HostHeader.vue
  @xen-orchestra/web/src/components/pool/PoolHeader.vue
  @xen-orchestra/web/src/components/site/dashboard/HostsStatus.vue
  @xen-orchestra/web/src/components/site/dashboard/VmsStatus.vue
  @xen-orchestra/web/src/components/tree/HostTreeItem.vue
  @xen-orchestra/web/src/components/tree/HostTreeList.vue
  @xen-orchestra/web/src/components/tree/PoolTreeItem.vue
  @xen-orchestra/web/src/components/tree/PoolTreeList.vue
  @xen-orchestra/web/src/components/tree/VmTreeItem.vue
  @xen-orchestra/web/src/components/tree/VmTreeList.vue
  @xen-orchestra/web/src/pages/host/[id].vue
  @xen-orchestra/web/src/pages/host/[id]/vms.vue
  @xen-orchestra/web/src/pages/pool/[id].vue
  @xen-orchestra/web/src/pages/pool/[id]/hosts.vue
  @xen-orchestra/web/src/pages/pool/[id]/vms.vue
  @xen-orchestra/web/src/pages/vm/[id].vue
  @xen-orchestra/web/src/pages/vm/[id]/console.vue
  @xen-orchestra/web/src/stores/xo-rest-api/host.store.ts
  @xen-orchestra/web/src/stores/xo-rest-api/vm.store.ts
  @xen-orchestra/web/src/types/host.type.ts
  @xen-orchestra/web/src/types/pool.type.ts
  @xen-orchestra/web/src/types/tree.type.ts
  @xen-orchestra/web/src/types/xo-object.type.ts
  @xen-orchestra/web/src/types/xo/host.type.ts
  @xen-orchestra/web/src/types/xo/index.ts
  @xen-orchestra/web/src/types/xo/pool.type.ts
  @xen-orchestra/web/src/types/xo/task.type.ts
  @xen-orchestra/web/src/types/xo/vm.type.ts
  @xen-orchestra/web/src/utils/convert-task-to-core.util.ts
  @xen-orchestra/web/src/utils/create-xo-store-config.util.ts
  @xen-orchestra/web/src/utils/rest-api-config.util.ts
  @xen-orchestra/web/src/utils/xo-api-definition.util.ts
Labels: XO Web 6

#7916 feat(web-core): replace no-use-before-define ESLint rule with its TS-compliant version
  .eslintrc.js
  @xen-orchestra/lite/src/components/RemoteConsole.vue
  @xen-orchestra/lite/src/components/component-story/ComponentStory.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardCpuProvisioning.vue
  @xen-orchestra/lite/src/libs/alarm.ts
  @xen-orchestra/web-core/lib/components/console/RemoteConsole.vue
  @xen-orchestra/web-core/lib/components/table/ColumnTitle.vue
Labels: XO Lite, XO Web Core, XO Web 6

#7906 feat(web-core): new useRouteQuery composable
  @xen-orchestra/web-core/docs/composables/route-query.composable.md
  @xen-orchestra/web-core/lib/composables/route-query.composable.ts
  @xen-orchestra/web-core/lib/composables/route-query/actions/handle-add.ts
  @xen-orchestra/web-core/lib/composables/route-query/actions/handle-delete.ts
  @xen-orchestra/web-core/lib/composables/route-query/actions/handle-set.ts
  @xen-orchestra/web-core/lib/composables/route-query/actions/handle-toggle.ts
  @xen-orchestra/web-core/lib/composables/route-query/types.ts
  @xen-orchestra/web-core/lib/types/utility.type.ts
Labels: XO Web Core

#7926 feat(xo-6/dashboard): add backup repository data
  @xen-orchestra/lite/src/stories/web-core/card-numbers.story.vue
  @xen-orchestra/web-core/lib/components/CardNumbers.vue
  @xen-orchestra/web/package.json
  @xen-orchestra/web/src/components/site/dashboard/BackupRepository.vue
  @xen-orchestra/web/src/components/site/dashboard/Repositories.vue
  @xen-orchestra/web/src/locales/en.json
  @xen-orchestra/web/src/locales/fr.json
  @xen-orchestra/web/src/pages/index.vue
  @xen-orchestra/web/src/stores/xo-rest-api/dashboard.store.ts
  @xen-orchestra/web/src/types/xo/dashboard.type.ts
  @xen-orchestra/web/src/utils/size.util.ts
  @xen-orchestra/web/src/utils/xo-api-definition.util.ts
Labels: XO Web 6

#7927 feat(xo-6/dashboard): add storage repository data
  @xen-orchestra/web/src/components/site/dashboard/Repositories.vue
  @xen-orchestra/web/src/components/site/dashboard/StorageRepository.vue
  @xen-orchestra/web/src/locales/en.json
  @xen-orchestra/web/src/locales/fr.json
  @xen-orchestra/web/src/stores/xo-rest-api/dashboard.store.ts
  @xen-orchestra/web/src/types/xo/dashboard.type.ts
Labels: XO Web 6

#7929 feat(xo-6/dashboard): add backups jobs data
  @xen-orchestra/web/src/components/site/dashboard/Backups.vue
  @xen-orchestra/web/src/locales/en.json
  @xen-orchestra/web/src/locales/fr.json
  @xen-orchestra/web/src/pages/index.vue
  @xen-orchestra/web/src/types/xo/dashboard.type.ts
Labels: XO Web 6

#7930 feat(xo-6/dashboard): add patches data
  @xen-orchestra/lite/src/locales/de.json
  @xen-orchestra/lite/src/locales/en.json
  @xen-orchestra/lite/src/locales/fa.json
  @xen-orchestra/lite/src/locales/fr.json
  @xen-orchestra/web-core/lib/locales/de.json
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fa.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web/src/components/site/dashboard/Patches.vue
  @xen-orchestra/web/src/locales/en.json
  @xen-orchestra/web/src/locales/fr.json
  @xen-orchestra/web/src/pages/index.vue
  @xen-orchestra/web/src/types/xo/dashboard.type.ts
Labels: XO Web 6

#7858 feat(xo-6/vm): use HeadBar component instead of custom integration
  @xen-orchestra/web/src/components/vm/VmHeader.vue
  @xen-orchestra/web/src/pages/vm/[id].vue
Labels: XO Web 6

#7933 feat(xo-core): update SearchBar component's name -> QuerySearchBar
  @xen-orchestra/lite/src/stories/web-core/query-search-bar/query-search-bar.story.md
  @xen-orchestra/lite/src/stories/web-core/query-search-bar/query-search-bar.story.vue
  @xen-orchestra/web-core/lib/components/query-search-bar/QuerySearchBar.vue
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
Labels: XO Web Core

#7922 feat(xo-core/ButtonIcon): add prop to change the click target size
  @xen-orchestra/lite/src/stories/web-core/button/button-icon.story.vue
  @xen-orchestra/web-core/lib/components/button/ButtonIcon.vue
  @xen-orchestra/web-core/lib/components/tree/TreeItemLabel.vue
Labels: XO Web Core

#7934 feat(xo-core): add BackupItem component
  @xen-orchestra/lite/src/stories/web-core/backup-item/backup-item.story.vue
  @xen-orchestra/lite/src/stories/web-core/backup-state/backup-state.story.vue
  @xen-orchestra/lite/src/stories/web-core/status-pill.story.vue
  @xen-orchestra/web-core/lib/components/backup-item/BackupItem.vue
  @xen-orchestra/web-core/lib/components/backup-state/BackupState.vue
  @xen-orchestra/web-core/lib/types/backup.type.ts
Labels: XO Web Core

#7873 feat(xo-6/tree-view): display running VMs count
  @xen-orchestra/lite/src/components/infra/InfraHostItem.vue
  @xen-orchestra/lite/src/locales/de.json
  @xen-orchestra/lite/src/locales/en.json
  @xen-orchestra/lite/src/locales/fa.json
  @xen-orchestra/lite/src/locales/fr.json
  @xen-orchestra/web-core/lib/locales/de.json
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fa.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web/src/components/tree/HostTreeItem.vue
  @xen-orchestra/web/src/components/tree/PoolTreeItem.vue
  @xen-orchestra/web/src/components/tree/VmTreeItem.vue
  CHANGELOG.unreleased.md
Labels: XO Web 6

#7946 fix(xo-core/CardNumbers): division by 0 in some cases
  @xen-orchestra/web-core/lib/components/CardNumbers.vue
  CHANGELOG.unreleased.md
Labels: type: bug :bug:, XO Web Core

#7944 fix(xo-core/StackedBar): division by 0 in some cases
  @xen-orchestra/web-core/lib/components/stacked-bar/StackedBar.vue
Labels: type: bug :bug:, XO Web Core
