Repository vatesfr/xen-orchestra, pull requests merged in 2024-06, with the labels that each got.

#7661 feat(xo-core): add multi color donut chart ui component
  @xen-orchestra/lite/src/stories/web-core/donut-chart.story.vue
  @xen-orchestra/web-core/lib/components/DonutChart.vue
Labels: XO Web Core

#7678 feat(xo-core): add Legend title UI component
  @xen-orchestra/lite/src/stories/web-core/legend-title.story.vue
  @xen-orchestra/web-core/lib/components/LegendTitle.vue
Labels: XO Web Core

#7675 feat(xo-core): add legend UI component
  @xen-orchestra/lite/src/stories/web-core/ui-legend.story.vue
  @xen-orchestra/web-core/lib/components/UiLegend.vue
Labels: XO Web Core

#7666 feat(xo-core): add card number ui component
  @xen-orchestra/lite/src/stories/web-core/card-numbers.story.vue
  @xen-orchestra/web-core/lib/components/CardNumbers.vue
Labels: XO Web Core

#7676 feat(xo-core): add stacked bar UI component
  @xen-orchestra/lite/src/stories/web-core/stacked-bar.story.vue
  @xen-orchestra/web-core/lib/components/stacked-bar/StackedBar.vue
  @xen-orchestra/web-core/lib/components/stacked-bar/StackedBarSegment.vue
Labels: XO Web Core

#7677 feat(XO6/core): creation of the interactive UiTable
  @xen-orchestra/lite/src/stories/web-core/table/column-title.story.vue
  @xen-orchestra/lite/src/stories/web-core/table/ui-table.story.vue
  @xen-orchestra/web-core/lib/components/table/ColumnTitle.vue
  @xen-orchestra/web-core/lib/components/table/UiTable.vue
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
Labels: XO Web Core

#7532 feat(lite/web-core): add examples for tree-view components stories
  @xen-orchestra/lite/src/stories/web-core/tree/tree-item-label.story.md
  @xen-orchestra/lite/src/stories/web-core/tree/tree-item.story.md
  @xen-orchestra/lite/src/stories/web-core/tree/tree-list.story.md
  @xen-orchestra/lite/src/stories/web-core/tree/tree-list.story.vue
Labels: XO Lite, XO Web Core

#7727 chore(web stack): add new ESLint Vue rules
  .eslintrc.js
  @xen-orchestra/lite/src/components/AccountButton.vue
  @xen-orchestra/lite/src/components/RelativeTime.vue
  @xen-orchestra/lite/src/components/component-story/StoryParamsTable.vue
  @xen-orchestra/lite/src/components/component-story/StorySettingParams.vue
  @xen-orchestra/lite/src/components/form/FormSelect.vue
  @xen-orchestra/lite/src/components/form/FormTextarea.vue
  @xen-orchestra/lite/src/components/modals/InvalidFieldModal.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardCpuUsage.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardTasks.vue
  @xen-orchestra/lite/src/components/ui/SizeStatsSummary.vue
  @xen-orchestra/lite/src/components/ui/UiCardFooter.vue
  @xen-orchestra/lite/src/components/ui/UiCardTitle.vue
  @xen-orchestra/lite/src/components/ui/UiFilterGroup.vue
  @xen-orchestra/lite/src/components/ui/UiKeyValueList.vue
  @xen-orchestra/lite/src/components/ui/UiKeyValueRow.vue
  @xen-orchestra/lite/src/components/ui/UiRaw.vue
  @xen-orchestra/lite/src/components/ui/icon/UiIcon.vue
  @xen-orchestra/lite/src/components/ui/progress/UiProgressScale.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionCopyItem.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionExportItem.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionSnapshotItem.vue
  @xen-orchestra/lite/src/stories/form/form-input.story.vue
  @xen-orchestra/lite/src/stories/form/form-section.story.vue
  @xen-orchestra/lite/src/stories/linear-chart.story.vue
  @xen-orchestra/lite/src/stories/modals/layouts/basic-modal-layout.story.vue
  @xen-orchestra/lite/src/stories/modals/layouts/form-modal-layout.story.vue
  @xen-orchestra/lite/src/stories/power-state-icon.story.vue
  @xen-orchestra/lite/src/stories/ui-filter.story.vue
  @xen-orchestra/lite/src/stories/web-core/button/button-group.story.vue
  @xen-orchestra/lite/src/stories/web-core/button/ui-button.story.vue
  @xen-orchestra/lite/src/views/StoryView.vue
  @xen-orchestra/lite/src/views/pool/PoolRootView.vue
  @xen-orchestra/web-core/lib/components/tooltip/TooltipList.vue
  @xen-orchestra/web/src/pages/dev/index.vue
  @xen-orchestra/web/src/pages/dev/token.vue
Labels: XO Lite, XO Web Core, XO Web 6

#7728 chore(web stack): add new ESLint Vue rules #2
  .eslintrc.js
  @xen-orchestra/lite/docs/component-stories.md
  @xen-orchestra/lite/src/components/CollectionFilter.vue
  @xen-orchestra/lite/src/components/CollectionFilterRow.vue
  @xen-orchestra/lite/src/components/CollectionSorter.vue
  @xen-orchestra/lite/src/components/CollectionTable.vue
  @xen-orchestra/lite/src/components/component-story/StoryExampleComponent.vue
  @xen-orchestra/lite/src/components/component-story/StoryMenuTree.vue
  @xen-orchestra/lite/src/components/component-story/StoryPropParams.vue
  @xen-orchestra/lite/src/components/component-story/StorySettingParams.vue
  @xen-orchestra/lite/src/components/component-story/StoryWidget.vue
  @xen-orchestra/lite/src/components/form/FormByteSize.vue
  @xen-orchestra/lite/src/components/form/FormCheckbox.vue
  @xen-orchestra/lite/src/components/form/FormInput.vue
  @xen-orchestra/lite/src/components/form/FormJson.vue
  @xen-orchestra/lite/src/components/form/FormNumber.vue
  @xen-orchestra/lite/src/components/form/FormSection.vue
  @xen-orchestra/lite/src/components/ui/UiFilter.vue
  @xen-orchestra/web-core/lib/components/chip/UiChip.vue
  @xen-orchestra/web-core/lib/components/dropdown/DropdownTitle.vue
Labels: XO Lite, XO Web Core, XO Web 6

#7722 feat(web-core): add UI separator component
  @xen-orchestra/web-core/lib/components/UiSeparator.vue
Labels: XO Web Core

#7729 chore(web stack): add new ESLint Vue rules #3
  .eslintrc.js
  @xen-orchestra/lite/src/components/AppMarkdown.vue
  @xen-orchestra/lite/src/components/RemoteConsole.vue
  @xen-orchestra/lite/src/components/UsageBar.vue
  @xen-orchestra/lite/src/components/charts/LinearChart.vue
  @xen-orchestra/lite/src/components/component-story/ComponentStory.vue
  @xen-orchestra/lite/src/components/component-story/StoryExampleComponent.vue
  @xen-orchestra/lite/src/components/component-story/StoryPropParams.vue
  @xen-orchestra/lite/src/components/component-story/StoryWidget.vue
  @xen-orchestra/lite/src/components/form/FormInput.vue
  @xen-orchestra/lite/src/components/form/FormInputWrapper.vue
  @xen-orchestra/lite/src/components/ui/modals/UiModal.vue
  @xen-orchestra/lite/src/components/ui/modals/layouts/ConfirmModalLayout.vue
  @xen-orchestra/web-core/lib/components/menu/MenuList.vue
  @xen-orchestra/web-core/lib/layouts/CoreLayout.vue
Labels: XO Lite, XO Web Core, XO Web 6

#7746 fix: missing routes in `typed-router.d.ts` + ignore it from Prettier
  .prettierignore
  @xen-orchestra/web/typed-router.d.ts
Labels: XO Web 6

#7734 chore(web stack): add new ESLint Vue rules #4
  .eslintrc.js
  @xen-orchestra/lite/src/App.vue
  @xen-orchestra/lite/src/components/AppNavigation.vue
  @xen-orchestra/lite/src/components/PoolOverrideWarning.vue
  @xen-orchestra/lite/src/components/component-story/ComponentStory.vue
  @xen-orchestra/lite/src/components/form/FormInputWrapper.vue
  @xen-orchestra/lite/src/components/infra/InfraItemLabel.vue
  @xen-orchestra/lite/src/components/modals/UnreachableHostsModal.vue
  @xen-orchestra/lite/src/components/modals/VmDeleteModal.vue
  @xen-orchestra/lite/src/components/modals/VmExportBlockedUrlsModal.vue
  @xen-orchestra/lite/src/stories/power-state-icon.story.vue
  @xen-orchestra/web-core/lib/components/tree/TreeItemLabel.vue
Labels: XO Lite, XO Web Core, XO Web 6

#7744 fix(lite/Dashboard): add missing translations and remove hardcoded values
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardStatus.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardStatusItem.vue
  @xen-orchestra/lite/src/locales/de.json
  @xen-orchestra/lite/src/locales/en.json
  @xen-orchestra/lite/src/locales/fr.json
Labels: XO Lite

#7710 feat(xo-core): add card ui component
  @xen-orchestra/lite/src/stories/web-core/ui-card.story.vue
  @xen-orchestra/web-core/lib/components/UiCard.vue
Labels: XO Web Core

#7738 chore(web stack): add new ESLint Vue rules #6
  .eslintrc.js
  @xen-orchestra/lite/src/App.vue
  @xen-orchestra/lite/src/components/PoolOverrideWarning.vue
  @xen-orchestra/lite/src/components/XoaButton.vue
  @xen-orchestra/lite/src/components/component-story/StoryMenu.vue
  @xen-orchestra/lite/src/components/component-story/StoryPropParams.vue
  @xen-orchestra/lite/src/components/component-story/StorySettingParams.vue
  @xen-orchestra/lite/src/components/modals/VmExportModal.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardNetworkChart.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardStatusItem.vue
  @xen-orchestra/lite/src/components/pool/dashboard/alarm/AlarmRow.vue
  @xen-orchestra/lite/src/components/ui/UiBadge.vue
  @xen-orchestra/lite/src/components/ui/UiCard.vue
  @xen-orchestra/lite/src/components/ui/UiCardTitle.vue
  @xen-orchestra/lite/src/components/ui/icon/UiStatusIcon.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionCopyItem.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionDeleteItem.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionPowerStateItems.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionSnapshotItem.vue
  @xen-orchestra/lite/src/components/vm/VmsActionsBar.vue
  @xen-orchestra/lite/src/composables/filtered-collection.composable.ts
  @xen-orchestra/lite/src/composables/sorted-collection.composable.ts
  @xen-orchestra/lite/src/composables/vm-migration.composable.ts
  @xen-orchestra/lite/src/i18n.ts
  @xen-orchestra/lite/src/libs/vm.ts
  @xen-orchestra/lite/src/libs/xen-api/xen-api.ts
  @xen-orchestra/lite/src/stores/xen-api/host.store.ts
  @xen-orchestra/lite/src/stores/xen-api/vm.store.ts
  @xen-orchestra/lite/src/stories/form/form-input.story.vue
  @xen-orchestra/lite/src/stories/linear-chart.story.vue
  @xen-orchestra/lite/src/stories/power-state-icon.story.vue
  @xen-orchestra/lite/src/stories/progress-circle.story.vue
  @xen-orchestra/lite/src/stories/web-core/stacked-bar.story.vue
  @xen-orchestra/lite/src/stories/web-core/status-pill.story.vue
  @xen-orchestra/lite/src/stories/web-core/ui-legend.story.vue
  @xen-orchestra/lite/src/views/StoryView.vue
  @xen-orchestra/lite/src/views/host/HostRootView.vue
  @xen-orchestra/lite/src/views/pool/PoolDashboardView.vue
  @xen-orchestra/lite/src/views/settings/SettingsView.vue
  @xen-orchestra/lite/src/views/xoa-deploy/XoaDeployView.vue
  @xen-orchestra/lite/vite.config.ts
  @xen-orchestra/web-core/lib/components/StatusPill.vue
  @xen-orchestra/web-core/lib/components/UiLegend.vue
  @xen-orchestra/web-core/lib/components/icon/VmIcon.vue
  @xen-orchestra/web-core/lib/components/menu/MenuItem.vue
  @xen-orchestra/web-core/lib/components/menu/MenuList.vue
  @xen-orchestra/web-core/lib/components/table/ColumnTitle.vue
  @xen-orchestra/web-core/lib/composables/tree/types.ts
  @xen-orchestra/web-core/lib/i18n.ts
  @xen-orchestra/web/src/components/infra/InfraVmItem.vue
  @xen-orchestra/web/src/components/vm/VmHeader.vue
  @xen-orchestra/web/src/pages/vm/[id]/console.vue
  @xen-orchestra/web/src/stores/xo-rest-api/host.store.ts
  @xen-orchestra/web/vite.config.ts
Labels: XO Lite, XO Web Core, XO Web 6

#7721 feat(xo-core): add card title component to web core
  @xen-orchestra/lite/src/stories/web-core/card/card-title.story.vue
  @xen-orchestra/web-core/lib/components/card/CardTitle.vue
Labels: XO Web Core

#7761 feat(xo-server): add rolling pool reboot to rest API actions
  CHANGELOG.unreleased.md
  packages/xo-server/src/xo-mixins/rest-api.mjs
Labels: comp: server/api 🧰, Highlight

#7777 feat(web-stack): better layout system
  @xen-orchestra/lite/src/locales/de.json
  @xen-orchestra/lite/src/locales/en.json
  @xen-orchestra/lite/src/locales/fr.json
  @xen-orchestra/web-core/lib/assets/no-result.svg
  @xen-orchestra/web-core/lib/assets/under-construction.svg
  @xen-orchestra/web-core/lib/components/state-hero/ComingSoonHero.vue
  @xen-orchestra/web-core/lib/components/state-hero/LoadingHero.vue
  @xen-orchestra/web-core/lib/components/state-hero/ObjectNotFoundHero.vue
  @xen-orchestra/web-core/lib/components/state-hero/StateHero.vue
  @xen-orchestra/web-core/lib/layouts/CoreLayout.vue
  @xen-orchestra/web-core/lib/locales/de.json
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web/src/App.vue
  @xen-orchestra/web/src/layouts/AppLayout.vue
  @xen-orchestra/web/src/pages/host/[id].vue
  @xen-orchestra/web/src/pages/index.vue
  @xen-orchestra/web/src/pages/pool/[id].vue
  @xen-orchestra/web/src/pages/vm/[id].vue
  @xen-orchestra/web/src/pages/vm/[id]/console.vue
  @xen-orchestra/web/src/pages/vm/[id]/index.vue
  @xen-orchestra/web/typed-router.d.ts
Labels: XO Lite, XO Web Core, XO Web 6

#7755 fix(xo-server-sdn-controller): install CA certificate on pools after plugin config update
  CHANGELOG.unreleased.md
  packages/xo-server-sdn-controller/src/index.js
Labels: type: bug :bug:

#7724 feat(xo-core): add UiInput component
  @xen-orchestra/lite/src/stories/web-core/input/ui-input.story.vue
  @xen-orchestra/web-core/lib/components/input/UiInput.vue
Labels: XO Web Core

#7780 feat(xo-6/tree-view): add simple search
  @xen-orchestra/lite/src/components/infra/InfraHostItem.vue
  @xen-orchestra/lite/src/components/infra/InfraPoolList.vue
  @xen-orchestra/web-core/lib/components/input/UiInput.vue
  @xen-orchestra/web-core/lib/components/tree/TreeItem.vue
  @xen-orchestra/web-core/lib/components/tree/TreeItemLabel.vue
  @xen-orchestra/web/src/components/NoResults.vue
  @xen-orchestra/web/src/components/SidebarSearch.vue
  @xen-orchestra/web/src/components/infra/InfraHostList.vue
  @xen-orchestra/web/src/components/infra/InfraPoolItem.vue
  @xen-orchestra/web/src/components/infra/InfraPoolList.vue
  @xen-orchestra/web/src/components/infra/InfraVmList.vue
  @xen-orchestra/web/src/components/tree/HostTreeItem.vue
  @xen-orchestra/web/src/components/tree/HostTreeList.vue
  @xen-orchestra/web/src/components/tree/PoolTreeItem.vue
  @xen-orchestra/web/src/components/tree/PoolTreeList.vue
  @xen-orchestra/web/src/components/tree/VmTreeItem.vue
  @xen-orchestra/web/src/components/tree/VmTreeList.vue
  @xen-orchestra/web/src/composables/pool-tree.composable.ts
  @xen-orchestra/web/src/layouts/AppLayout.vue
  @xen-orchestra/web/src/locales/en.json
  @xen-orchestra/web/src/locales/fr.json
  @xen-orchestra/web/src/types/host.type.ts
  @xen-orchestra/web/src/types/pool.type.ts
  @xen-orchestra/web/src/types/vm.type.ts
Labels: XO Lite, Highlight, XO Web 6
