Repository vatesfr/xen-orchestra, pull requests merged in 2024-04, with the labels that each got.

#7533 refactor(web-core/collection): rename collection to tree
  @xen-orchestra/web-core/docs/composables/collection.composable.md
  @xen-orchestra/web-core/docs/composables/tree.composable.md
  @xen-orchestra/web-core/lib/composables/collection.composable.ts
  @xen-orchestra/web-core/lib/composables/collection/build-collection.ts
  @xen-orchestra/web-core/lib/composables/collection/define-collection.ts
  @xen-orchestra/web-core/lib/composables/collection/define-group.ts
  @xen-orchestra/web-core/lib/composables/collection/define-leaf.ts
  @xen-orchestra/web-core/lib/composables/collection/definition-base.ts
  @xen-orchestra/web-core/lib/composables/collection/group-definition.ts
  @xen-orchestra/web-core/lib/composables/collection/leaf-definition.ts
  @xen-orchestra/web-core/lib/composables/collection/types.ts
  @xen-orchestra/web-core/lib/composables/tree.composable.ts
  @xen-orchestra/web-core/lib/composables/tree/branch-definition.ts
  @xen-orchestra/web-core/lib/composables/tree/branch.ts
  @xen-orchestra/web-core/lib/composables/tree/build-tree.ts
  @xen-orchestra/web-core/lib/composables/tree/define-branch.ts
  @xen-orchestra/web-core/lib/composables/tree/define-leaf.ts
  @xen-orchestra/web-core/lib/composables/tree/define-tree.ts
  @xen-orchestra/web-core/lib/composables/tree/leaf-definition.ts
  @xen-orchestra/web-core/lib/composables/tree/leaf.ts
  @xen-orchestra/web-core/lib/composables/tree/tree-node-base.ts
  @xen-orchestra/web-core/lib/composables/tree/tree-node-definition-base.ts
  @xen-orchestra/web-core/lib/composables/tree/types.ts
Labels: XO Web Core

#7585 feat(web-core): add `MaybeArray` and `toArray`
  @xen-orchestra/web-core/lib/types/utility.type.ts
  @xen-orchestra/web-core/lib/utils/to-array.utils.ts
Labels: XO Web Core

#7584 feat(web6): new LogoTextOnly component
  @xen-orchestra/web/src/components/LogoTextOnly.vue
Labels: XO Web 6

#7586 feat(web-core/if-else): accept array of functions
  @xen-orchestra/web-core/lib/utils/if-else.utils.ts
Labels: XO Web Core

#7588 feat(web-core/tooltip): update TooltipItem to match design system
  @xen-orchestra/web-core/lib/components/tooltip/TooltipItem.vue
Labels: XO Web Core

#7589 feat(web-core): new layout system
  @xen-orchestra/web-core/lib/components/layout/LayoutSidebar.vue
  @xen-orchestra/web-core/lib/layouts/CoreLayout.vue
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web-core/lib/stores/panel.store.ts
  @xen-orchestra/web-core/lib/stores/sidebar.store.ts
  @xen-orchestra/web/src/App.vue
Labels: XO Web Core

#7555 feat(web-core): add new ComplexIcon component
  @xen-orchestra/lite/src/stories/web-core/icon/complex-icon.story.md
  @xen-orchestra/lite/src/stories/web-core/icon/complex-icon.story.vue
  @xen-orchestra/web-core/lib/components/icon/ComplexIcon.vue
Labels: XO Web Core

#7564 feat(web-core): add new ObjectIcon component
  @xen-orchestra/lite/src/stories/web-core/icon/object-icon.story.md
  @xen-orchestra/lite/src/stories/web-core/icon/object-icon.story.vue
  @xen-orchestra/web-core/lib/components/icon/ObjectIcon.vue
  @xen-orchestra/web-core/lib/types/object-icon.type.ts
Labels: XO Web Core

#7542 feat(xo-web, xo-server/SR): list resource in a XOSTOR tab
  CHANGELOG.unreleased.md
  packages/xo-server/src/api/xostor.mjs
  packages/xo-web/src/common/intl/messages.js
  packages/xo-web/src/common/xo/index.js
  packages/xo-web/src/xo-app/sr/index.js
  packages/xo-web/src/xo-app/sr/tab-xostor.js
Labels: Highlight

#7547 feat(xo-web/XOSTOR): manage XOSTOR interfaces
  CHANGELOG.unreleased.md
  packages/xo-web/src/common/intl/messages.js
  packages/xo-web/src/common/sorted-table/pifs-column.js
  packages/xo-web/src/common/xo/index.js
  packages/xo-web/src/icons.scss
  packages/xo-web/src/xo-app/pool/tab-network.js
  packages/xo-web/src/xo-app/sr/tab-xostor.js
  packages/xo-web/src/xo-app/xostor/new-xostor-form.js
Labels: Highlight

#7444 feat(xo-server/api): implement PCI API
  packages/xo-server/src/api/pci.mjs
Labels: Highlight

#7455 feat(xo-web/host/advanced): list PCIs known by the XAPI
  CHANGELOG.unreleased.md
  packages/xo-web/src/common/intl/messages.js
  packages/xo-web/src/common/xo/index.js
  packages/xo-web/src/xo-app/host/tab-advanced.js
Labels: Highlight

#7464 feat(xo-web/xo-server/VM): ability to attach PCIs to a VM
  CHANGELOG.unreleased.md
  packages/xo-server/src/api/vm.mjs
  packages/xo-server/src/xapi-object-to-xo.mjs
  packages/xo-web/src/common/intl/messages.js
  packages/xo-web/src/common/render-xo-item.js
  packages/xo-web/src/common/xo/index.js
  packages/xo-web/src/xo-app/vm/pci-attach-modal.js
  packages/xo-web/src/xo-app/vm/tab-advanced.js
Labels: Highlight
