Repository vatesfr/xen-orchestra, pull requests merged in 2024-02, with the labels that each got.

#7375 feat(xo-stack): add @core alias to import Core from Web and Lite
  .eslintrc.js
  @xen-orchestra/lite/tsconfig.app.json
  @xen-orchestra/lite/vite.config.ts
  @xen-orchestra/web-core/package.json
  @xen-orchestra/web-core/tsconfig.json
  @xen-orchestra/web/tsconfig.app.json
  @xen-orchestra/web/vite.config.ts
Labels: XO Lite, XO Web Core, XO Web 6

#7383 feat(lite/xapi-stats): handle new format
  @xen-orchestra/lite/src/libs/xapi-stats.ts
Labels: XO Lite

#7401 feat(xo-server,xo-web): manage auto poweron at pool level
  CHANGELOG.unreleased.md
  packages/xo-server/src/api/pool.mjs
  packages/xo-server/src/xapi-object-to-xo.mjs
  packages/xo-web/src/common/intl/messages.js
  packages/xo-web/src/xo-app/pool/tab-advanced.js
  packages/xo-web/src/xo-app/vm/tab-advanced.js
Labels: Highlight

#7339 feat(xo6/core): add ui tree-view components in web-core
  @xen-orchestra/web-core/lib/components/PowerStateIcon.vue
  @xen-orchestra/web-core/lib/components/TreeItem.vue
  @xen-orchestra/web-core/lib/components/TreeItemError.vue
  @xen-orchestra/web-core/lib/components/TreeItemLabel.vue
  @xen-orchestra/web-core/lib/components/TreeList.vue
  @xen-orchestra/web-core/lib/components/UiSpinner.vue
  @xen-orchestra/web-core/lib/components/icon/UiIcon.vue
  @xen-orchestra/web-core/lib/components/icon/VmIcon.vue
  @xen-orchestra/web-core/lib/directives/tooltip.directive.md
  @xen-orchestra/web-core/lib/directives/tooltip.directive.ts
  @xen-orchestra/web-core/lib/stores/tooltip.store.ts
  @xen-orchestra/web-core/lib/types/power-state.type.ts
  @xen-orchestra/web-core/lib/utils/has-ellipsis.util.ts
  @xen-orchestra/web-core/lib/utils/injection-keys.util.ts
  @xen-orchestra/web-core/lib/utils/unique-id.util.ts
  @xen-orchestra/web-core/package.json
Labels: XO Web Core

#7364 feat(xo6/core): custom scrollbars
  @xen-orchestra/web-core/lib/assets/css/base.pcss
Labels: XO Web Core

#7398 feat(xo6/core): improve color context
  @xen-orchestra/web-core/docs/composables/context.composable.md
  @xen-orchestra/web-core/docs/contexts/color-context.md
  @xen-orchestra/web-core/lib/assets/css/_context.pcss
  @xen-orchestra/web-core/lib/composables/context.composable.ts
  @xen-orchestra/web-core/lib/context.ts
  @xen-orchestra/web-core/lib/types/color.type.ts
Labels: XO Web Core

#7419 feat(xo6/core): use same-name shorthand syntax in templates
  @xen-orchestra/lite/src/components/CollectionTable.vue
  @xen-orchestra/lite/src/components/ColumnHeader.vue
  @xen-orchestra/lite/src/components/ObjectNotFoundWrapper.vue
  @xen-orchestra/lite/src/components/PowerStateIcon.vue
  @xen-orchestra/lite/src/components/RouterTab.vue
  @xen-orchestra/lite/src/components/TitleBar.vue
  @xen-orchestra/lite/src/components/charts/LinearChart.vue
  @xen-orchestra/lite/src/components/component-story/StoryMenu.vue
  @xen-orchestra/lite/src/components/form/FormCheckbox.vue
  @xen-orchestra/lite/src/components/form/FormInput.vue
  @xen-orchestra/lite/src/components/form/FormInputWrapper.vue
  @xen-orchestra/lite/src/components/form/FormSection.vue
  @xen-orchestra/lite/src/components/infra/InfraAction.vue
  @xen-orchestra/lite/src/components/infra/InfraItemLabel.vue
  @xen-orchestra/lite/src/components/infra/InfraLoadingItem.vue
  @xen-orchestra/lite/src/components/menu/AppMenu.vue
  @xen-orchestra/lite/src/components/menu/MenuItem.vue
  @xen-orchestra/lite/src/components/menu/MenuTrigger.vue
  @xen-orchestra/lite/src/components/modals/CodeHighlightModal.vue
  @xen-orchestra/lite/src/components/modals/VmExportModal.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardAlarms.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardCpuProvisioning.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardHostsPatches.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardNetworkChart.vue
  @xen-orchestra/lite/src/components/pool/dashboard/cpuUsage/HostsCpuUsage.vue
  @xen-orchestra/lite/src/components/pool/dashboard/cpuUsage/PoolCpuUsageChart.vue
  @xen-orchestra/lite/src/components/pool/dashboard/cpuUsage/VmsCpuUsage.vue
  @xen-orchestra/lite/src/components/pool/dashboard/ramUsage/HostsRamUsage.vue
  @xen-orchestra/lite/src/components/pool/dashboard/ramUsage/PoolRamUsage.vue
  @xen-orchestra/lite/src/components/pool/dashboard/ramUsage/VmsRamUsage.vue
  @xen-orchestra/lite/src/components/tasks/TasksTable.vue
  @xen-orchestra/lite/src/components/ui/UiActionButton.vue
  @xen-orchestra/lite/src/components/ui/UiBadge.vue
  @xen-orchestra/lite/src/components/ui/icon/UiStatusIcon.vue
  @xen-orchestra/lite/src/components/ui/modals/ModalList.vue
  @xen-orchestra/lite/src/components/ui/modals/layouts/FormModalLayout.vue
  @xen-orchestra/lite/src/components/ui/resources/UiResource.vue
  @xen-orchestra/lite/src/stories/form/form-input.story.vue
  @xen-orchestra/lite/src/stories/linear-chart.story.vue
  @xen-orchestra/lite/src/stories/progress-circle.story.vue
  @xen-orchestra/lite/src/stories/story-example.story.vue
  @xen-orchestra/lite/src/stories/ui-resources/ui-resource.story.vue
Labels: XO Lite

#7422 feat(lite): 0.2.0
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/package.json
Labels: XO Lite
