Repository vatesfr/xen-orchestra, pull requests merged in 2024-11, with the labels that each got.

#7993 feat(web-core): new UiTextarea component
  @xen-orchestra/lite/src/stories/web-core/ui/input/ui-textarea.story.vue
  @xen-orchestra/web-core/lib/components/ui/input/UiTextarea.vue
Labels: XO Web Core

#8103 feat(xo-6): add host console
  @xen-orchestra/lite/src/views/vm/VmConsoleView.vue
  @xen-orchestra/web-core/lib/locales/de.json
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fa.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web/src/components/host/HostHeader.vue
  @xen-orchestra/web/src/pages/host/[id]/console.vue
  @xen-orchestra/web/src/pages/host/[id]/index.vue
  @xen-orchestra/web/src/pages/vm/[id]/console.vue
  @xen-orchestra/web/src/types/xo/host.type.ts
  @xen-orchestra/web/src/utils/xo-api-definition.util.ts
  @xen-orchestra/web/typed-router.d.ts
Labels: XO Web 6

#8064 feat(web-core): added UiCheckbox component
  @xen-orchestra/lite/src/stories/web-core/ui/checkbox/ui-checkbox.story.vue
  @xen-orchestra/web-core/lib/components/ui/checkbox/UiCheckbox.vue
Labels: XO Web Core

#8111 chore(web stack): update dependencies (Vue 3.5, TS 5.6)
  @xen-orchestra/lite/package.json
  @xen-orchestra/lite/src/libs/story/story-param.ts
  @xen-orchestra/web-core/lib/components/ui/card-numbers/UiCardNumbers.vue
  @xen-orchestra/web-core/lib/composables/tree/tree-node-base.ts
  @xen-orchestra/web-core/package.json
  @xen-orchestra/web/package.json
  @xen-orchestra/web/src/utils/size.util.ts
  @xen-orchestra/web/vite.config.ts
  yarn.lock
Labels: XO Lite, XO Web Core, XO Web 6

#8095 feat(web-core): add UiToaster component
  @xen-orchestra/lite/src/stories/web-core/ui/toaster/ui-toaster.story.vue
  @xen-orchestra/web-core/lib/components/icon/VtsIcon.vue
  @xen-orchestra/web-core/lib/components/ui/toaster/UiToaster.vue
Labels: XO Lite, Good first issue 👶, XO Web Core, XO Web 6

#8055 feat(web-core): added UiTopBottomTable component and some trad
  @xen-orchestra/lite/src/stories/web-core/ui/head-bar/ui-head-bar.story.vue
  @xen-orchestra/lite/src/stories/web-core/ui/top-bottom-table/ui-top-bottom-table.story.vue
  @xen-orchestra/web-core/lib/components/ui/top-bottom-table/UiTopBottomTable.vue
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
Labels: XO Web Core

#8067 feat(web-core): added UiRadioButton component
  @xen-orchestra/lite/src/stories/web-core/ui/radio-button/ui-radio-button.story.vue
  @xen-orchestra/web-core/lib/components/ui/radio-button/UiRadioButton.vue
Labels: XO Web Core

#8072 feat(web-core): added UiTableActions component
  @xen-orchestra/lite/src/stories/web-core/ui/table-actions/ui-table-actions.story.vue
  @xen-orchestra/web-core/lib/components/ui/table-actions/UiTableActions.vue
Labels: XO Web Core

#8084 feat(web-core): add UiToggle component
  @xen-orchestra/lite/src/stories/web-core/ui/toggle/ui-toggle.story.vue
  @xen-orchestra/web-core/lib/components/ui/toggle/UiToggle.vue
Labels: XO Web Core

#8094 feat(web-core): add UiCheckboxGroup component
  @xen-orchestra/lite/src/stories/web-core/ui/checkbox-group/ui-checkbox-group.story.vue
  @xen-orchestra/web-core/lib/components/ui/checkbox-group/UiCheckboxGroup.vue
Labels: XO Web Core

#8122 feat(xo-6): add panel component
  @xen-orchestra/lite/src/stories/web-core/ui/panel/ui-panel.story.vue
  @xen-orchestra/web-core/lib/components/ui/panel/UiPanel.vue
Labels: XO Web 6

#8130 feat(lite,core,web): control domain store, refactor context access
  @xen-orchestra/lite/src/libs/xen-api/xen-api.types.ts
  @xen-orchestra/lite/src/stores/xen-api/control-domain.store.ts
  @xen-orchestra/lite/src/stores/xen-api/host.store.ts
  @xen-orchestra/lite/src/stores/xen-api/vm-raw.store.ts
  @xen-orchestra/lite/src/stores/xen-api/vm.store.ts
  @xen-orchestra/web-core/docs/stores/subscribable-stores.md
  @xen-orchestra/web-core/lib/types/subscribable-store.type.ts
  @xen-orchestra/web-core/lib/utils/create-subscribable-store-context.util.ts
  @xen-orchestra/web-core/lib/utils/if-else.utils.ts
  @xen-orchestra/web/src/stores/xo-rest-api/host.store.ts
Labels: XO Lite, XO Web Core, XO Web 6

#8131 fix(web-core): changing variable name due to new guidelines
  @xen-orchestra/lite/src/stories/web-core/ui/title/ui-title.story.vue
  @xen-orchestra/web-core/lib/components/ui/title/UiTitle.vue
Labels: XO Web Core

#8108 fix(xo-lite/dashboard): add min-width to hosts patches container
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardHostsPatches.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardStatus.vue
Labels: XO Lite

#8140 fix(xo-lite/stories): bad custom-event name case
  @xen-orchestra/lite/src/components/component-story/StoryMenuTree.vue
Labels: XO Lite

#8109 feat(xo-lite/header): update user menu button
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/AppHeader.vue
  @xen-orchestra/lite/src/components/account-menu/AccountMenu.vue
  @xen-orchestra/lite/src/stories/web-core/ui/account-menu-button/ui-account-menu-button.story.vue
  @xen-orchestra/web-core/lib/components/ui/account-menu-button/UiAccountMenuButton.vue
Labels: XO Lite

#8096 feat(web-core) add UiRadioButtonGroup component
  @xen-orchestra/lite/src/stories/web-core/ui/radio-button-group/ui-radio-button-group.story.vue
  @xen-orchestra/web-core/lib/components/ui/radio-button-group/UiRadioButtonGroup.vue
Labels: XO Web Core

#8114 feat(xo-lite): add links to user menu
  @xen-orchestra/lite/src/components/account-menu/AccountMenu.vue
  @xen-orchestra/lite/src/views/settings/SettingsView.vue
  @xen-orchestra/web-core/lib/locales/de.json
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fa.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web/src/components/account-menu/AccountMenu.vue
Labels: XO Lite

#8135 docs(web-core): update documentation structure
  @xen-orchestra/lite/README.md
  @xen-orchestra/web-core/docs/component-definition.md
  @xen-orchestra/web-core/docs/component-variants.md
  @xen-orchestra/web-core/docs/composables/context.composable.md
  @xen-orchestra/web-core/docs/contexts/color-context.md
  @xen-orchestra/web-core/docs/i18n.md
  @xen-orchestra/web-core/docs/icons.md
  @xen-orchestra/web-core/docs/index.md
  @xen-orchestra/web-core/docs/stores.md
  @xen-orchestra/web-core/docs/subscribable-stores.md
  @xen-orchestra/web-core/lib/composables/route-query.composable.md
  @xen-orchestra/web-core/lib/composables/table.composable.md
  @xen-orchestra/web-core/lib/composables/tree.composable.md
  @xen-orchestra/web-core/lib/utils/if-else.utils.md
  @xen-orchestra/web-core/lib/utils/to-variants.util.md
  @xen-orchestra/web/README.md
Labels: XO Web Core

#8143 feat(xo-6/header): update user menu button
  @xen-orchestra/web/src/components/account-menu/AccountMenu.vue
  @xen-orchestra/web/src/components/account-menu/AccountMenuTrigger.vue
  CHANGELOG.unreleased.md
Labels: XO Web 6

#8098 feat(xo-lite): add czech translation
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/locales/cs.json
Labels: XO Lite

#8099 feat(xo-6): add czech translation
  @xen-orchestra/web/src/locales/cs.json
  CHANGELOG.unreleased.md
Labels: XO Web 6

#8100 feat(web-core): add czech translation
  @xen-orchestra/web-core/lib/locales/cs.json
Labels: XO Web Core

#8101 feat(web-core): add Czech to i18n config
  @xen-orchestra/web-core/lib/i18n.ts
Labels: XO Web Core

#8124 feat(xo-6): add state for panel to stateHero
  @xen-orchestra/lite/src/stories/web-core/state-hero/vts-state-hero.story.vue
  @xen-orchestra/web-core/lib/assets/error.svg
  @xen-orchestra/web-core/lib/assets/no-selection.svg
  @xen-orchestra/web-core/lib/components/state-hero/VtsStateHero.vue
Labels: XO Web 6

#8136 feat(xo-lite): display host console
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/ObjectLink.vue
  @xen-orchestra/lite/src/components/host/HostHeader.vue
  @xen-orchestra/lite/src/components/host/HostTabBar.vue
  @xen-orchestra/lite/src/components/infra/InfraHostItem.vue
  @xen-orchestra/lite/src/libs/host.ts
  @xen-orchestra/lite/src/libs/xen-api/xen-api.enums.ts
  @xen-orchestra/lite/src/libs/xen-api/xen-api.types.ts
  @xen-orchestra/lite/src/router/host.ts
  @xen-orchestra/lite/src/router/index.ts
  @xen-orchestra/lite/src/views/host/HostConsoleView.vue
  @xen-orchestra/lite/src/views/host/HostNetworkView.vue
  @xen-orchestra/lite/src/views/host/HostRootView.vue
  @xen-orchestra/lite/src/views/host/HostTasksView.vue
  @xen-orchestra/lite/src/views/host/HostVmsView.vue
Labels: XO Lite

#8145 feat(xo-6): add 404 page
  @xen-orchestra/lite/src/locales/de.json
  @xen-orchestra/lite/src/locales/en.json
  @xen-orchestra/lite/src/locales/fa.json
  @xen-orchestra/lite/src/locales/fr.json
  @xen-orchestra/web-core/lib/assets/not-found.svg
  @xen-orchestra/web-core/lib/components/state-hero/VtsPageNotFoundHero.vue
  @xen-orchestra/web-core/lib/components/state-hero/VtsStateHero.vue
  @xen-orchestra/web-core/lib/locales/de.json
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fa.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web/src/locales/en.json
  @xen-orchestra/web/src/locales/fr.json
  @xen-orchestra/web/src/pages/[...path].vue
  @xen-orchestra/web/typed-router.d.ts
  CHANGELOG.unreleased.md
Labels: XO Web 6

#8148 feat(web-core): create VtsCardRowKeyValue component
  @xen-orchestra/lite/src/stories/web-core/card/vts-card-row-key-value.story.vue
  @xen-orchestra/web-core/lib/components/card/VtsCardRowKeyValue.vue
  CHANGELOG.unreleased.md
Labels: XO Web Core
