Repository vatesfr/xen-orchestra, pull requests merged in 2025-03, with the labels that each got.

#8428 chore(web-stack): update deps
  @xen-orchestra/lite/package.json
  @xen-orchestra/lite/src/components/AppHeader.vue
  @xen-orchestra/lite/src/components/AppNavigation.vue
  @xen-orchestra/lite/src/components/vm/VmsActionsBar.vue
  @xen-orchestra/lite/src/libs/markdown.ts
  @xen-orchestra/lite/src/stores/modal.store.ts
  @xen-orchestra/lite/src/views/pool/PoolVmsView.vue
  @xen-orchestra/lite/src/views/settings/SettingsView.vue
  @xen-orchestra/lite/src/views/xoa-deploy/XoaDeployView.vue
  @xen-orchestra/web-core/lib/components/menu/MenuList.vue
  @xen-orchestra/web-core/package.json
  @xen-orchestra/web/package.json
  yarn.lock
Labels: XO Lite, XO Web Core, XO Web 6

#8418 feat(web-core): recreate UiDropdown component from DS
  @xen-orchestra/lite/src/stories/web-core/dropdown/dropdown-item.story.md
  @xen-orchestra/lite/src/stories/web-core/dropdown/dropdown-item.story.vue
  @xen-orchestra/lite/src/stories/web-core/dropdown/dropdown-list.story.md
  @xen-orchestra/lite/src/stories/web-core/dropdown/dropdown-list.story.vue
  @xen-orchestra/lite/src/stories/web-core/dropdown/dropdown-title.story.vue
  @xen-orchestra/lite/src/stories/web-core/ui/dropdown/ui-dropdown-list.story.md
  @xen-orchestra/lite/src/stories/web-core/ui/dropdown/ui-dropdown-list.story.vue
  @xen-orchestra/lite/src/stories/web-core/ui/dropdown/ui-dropdown.story.md
  @xen-orchestra/lite/src/stories/web-core/ui/dropdown/ui-dropdown.story.vue
  @xen-orchestra/web-core/lib/components/dropdown/DropdownItem.vue
  @xen-orchestra/web-core/lib/components/dropdown/DropdownList.vue
  @xen-orchestra/web-core/lib/components/ui/dropdown/UiDropdown.vue
  @xen-orchestra/web-core/lib/components/ui/dropdown/UiDropdownList.vue
  @xen-orchestra/web-core/lib/utils/injection-keys.util.ts
Labels: XO Web Core

#8431 feat(web-core): create useRanked composable
  @xen-orchestra/web-core/lib/composables/ranked.composable.md
  @xen-orchestra/web-core/lib/composables/ranked.composable.ts
Labels: XO Web Core

#8435 feat(web-core): create VtsInputWrapper component
  @xen-orchestra/lite/src/stories/web-core/input-wrapper/vts-input-wrapper.story.md
  @xen-orchestra/lite/src/stories/web-core/input-wrapper/vts-input-wrapper.story.vue
  @xen-orchestra/web-core/lib/components/input-wrapper/VtsInputWrapper.vue
  @xen-orchestra/web-core/lib/components/ui/label/UiLabel.vue
  @xen-orchestra/web-core/lib/utils/if-else.utils.ts
  @xen-orchestra/web-core/lib/utils/injection-keys.util.ts
Labels: XO Web Core

#8410 feat(xo-core): add UiProgressBar component
  @xen-orchestra/lite/src/stories/web-core/ui/progress-bar/ui-progress-bar.story.vue
  @xen-orchestra/web-core/lib/components/ui/progress-bar/UiProgressBar.vue
  CHANGELOG.unreleased.md
Labels: XO Web Core

#8287 feat(xo-6): add sidebar to host networks view
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web/package.json
  @xen-orchestra/web/src/components/host/HostPifSidePanel.vue
  @xen-orchestra/web/src/components/host/HostPifTable.vue
  @xen-orchestra/web/src/pages/host/[id]/networks.vue
  @xen-orchestra/web/src/stores/xo-rest-api/pif.store.ts
  @xen-orchestra/web/src/types/xo/pif.type.ts
  @xen-orchestra/web/src/utils/xo-api-definition.util.ts
  CHANGELOG.unreleased.md
Labels: XO Web 6

#8437 feat(web-core): update VtsLoadingHero logic
  @xen-orchestra/lite/src/stories/web-core/state-hero/vts-loading-hero.story.md
  @xen-orchestra/lite/src/stories/web-core/state-hero/vts-loading-hero.story.vue
  @xen-orchestra/lite/src/stories/web-core/ui/panel/ui-panel.story.vue
  @xen-orchestra/web-core/lib/components/console/VtsRemoteConsole.vue
  @xen-orchestra/web-core/lib/components/data-table/VtsDataTable.vue
  @xen-orchestra/web-core/lib/components/state-hero/VtsLoadingHero.vue
  @xen-orchestra/web/src/components/site/dashboard/BackupIssues.vue
  @xen-orchestra/web/src/components/site/dashboard/BackupRepository.vue
  @xen-orchestra/web/src/components/site/dashboard/Backups.vue
  @xen-orchestra/web/src/components/site/dashboard/HostsStatus.vue
  @xen-orchestra/web/src/components/site/dashboard/Patches.vue
  @xen-orchestra/web/src/components/site/dashboard/PoolsStatus.vue
  @xen-orchestra/web/src/components/site/dashboard/ResourcesOverview.vue
  @xen-orchestra/web/src/components/site/dashboard/StorageRepository.vue
  @xen-orchestra/web/src/components/site/dashboard/VmsStatus.vue
Labels: XO Lite, XO Web Core, XO Web 6

#8267 feat(web-core): create usePagination composable
  @xen-orchestra/lite/src/stories/web-core/ui/table-pagination/ui-table-pagination.story.md
  @xen-orchestra/lite/src/stories/web-core/ui/table-pagination/ui-table-pagination.story.vue
  @xen-orchestra/web-core/lib/components/ui/table-pagination/UiTablePagination.vue
  @xen-orchestra/web-core/lib/composables/pagination.composable.md
  @xen-orchestra/web-core/lib/composables/pagination.composable.ts
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
Labels: XO Web Core

#8398 feat(xo-6/host): add dashboard view
  @xen-orchestra/lite/src/components/RelativeTime.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardNetworkChart.vue
  @xen-orchestra/lite/src/components/pool/dashboard/cpuUsage/PoolCpuUsageChart.vue
  @xen-orchestra/lite/src/components/pool/dashboard/ramUsage/PoolRamUsage.vue
  @xen-orchestra/lite/src/stories/linear-chart.story.vue
  @xen-orchestra/web-core/lib/components/linear-chart/VtsLinearChart.md
  @xen-orchestra/web-core/lib/components/linear-chart/VtsLinearChart.vue
  @xen-orchestra/web-core/lib/components/quick-info-card/VtsQuickInfoCard.vue
  @xen-orchestra/web-core/lib/components/quick-info-column/VtsQuickInfoColumn.vue
  @xen-orchestra/web-core/lib/components/quick-info-row/VtsQuickInfoRow.vue
  @xen-orchestra/web-core/lib/components/ui/card/UiCard.vue
  @xen-orchestra/web-core/lib/composables/chart-theme.composable.ts
  @xen-orchestra/web-core/lib/composables/relative-time.composable.md
  @xen-orchestra/web-core/lib/composables/relative-time.composable.ts
  @xen-orchestra/web-core/lib/locales/cs.json
  @xen-orchestra/web-core/lib/locales/de.json
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/es.json
  @xen-orchestra/web-core/lib/locales/fa.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web-core/lib/locales/sv.json
  @xen-orchestra/web-core/lib/utils/time.util.ts
  @xen-orchestra/web/package.json
  @xen-orchestra/web/src/App.vue
  @xen-orchestra/web/src/components/host/HostHeader.vue
  @xen-orchestra/web/src/components/host/dashboard/HostDashboadCpuProvisioning.vue
  @xen-orchestra/web/src/components/host/dashboard/HostDashboadCpuUsageChart.vue
  @xen-orchestra/web/src/components/host/dashboard/HostDashboadRamUsage.vue
  @xen-orchestra/web/src/components/host/dashboard/HostDashboardLoadAverageChart.vue
  @xen-orchestra/web/src/components/host/dashboard/HostDashboardMemoryUsageChart.vue
  @xen-orchestra/web/src/components/host/dashboard/HostDashboardNetworkUsageChart.vue
  @xen-orchestra/web/src/components/host/dashboard/HostDashboardQuickInfo.vue
  @xen-orchestra/web/src/components/host/dashboard/HostDashboardVmsStatus.vue
  @xen-orchestra/web/src/composables/fetch-stats.composable.ts
  @xen-orchestra/web/src/pages/host/[id]/dashboard.vue
  @xen-orchestra/web/src/pages/host/[id]/index.vue
  @xen-orchestra/web/src/types/xo/host-stats.type.ts
  @xen-orchestra/web/src/types/xo/host.type.ts
  @xen-orchestra/web/src/types/xo/vm.type.ts
  @xen-orchestra/web/src/utils/rest-api-stats.ts
  @xen-orchestra/web/src/utils/xo-api-definition.util.ts
  @xen-orchestra/web/typed-router.d.ts
  CHANGELOG.unreleased.md
Labels: XO Web 6

#8455 feat(xo-server/xostor): handle XOSTOR on RPU process
  CHANGELOG.unreleased.md
  packages/xo-server/src/xapi/mixins/patching.mjs
  packages/xo-web/src/common/intl/locales/ja.js
  packages/xo-web/src/common/intl/locales/ru.js
  packages/xo-web/src/common/intl/messages.js
  packages/xo-web/src/xo-app/pool/tab-patches.js
  packages/xo-web/src/xo-app/xostor/new-xostor-form.js
Labels: Highlight

#8461 fix(xo-6/host): ram usage progress bar not handling values properly
  @xen-orchestra/web/src/components/host/dashboard/HostDashboadRamUsage.vue
Labels: XO Web 6

#8317 feat(xo-lite): VM creation
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/package.json
  @xen-orchestra/lite/src/components/form/FormInput.vue
  @xen-orchestra/lite/src/components/pool/PoolHeader.vue
  @xen-orchestra/lite/src/libs/xen-api/operations/vbd-operations.ts
  @xen-orchestra/lite/src/libs/xen-api/operations/vdi-operations.ts
  @xen-orchestra/lite/src/libs/xen-api/operations/vif-operations.ts
  @xen-orchestra/lite/src/libs/xen-api/operations/vm-operations.ts
  @xen-orchestra/lite/src/libs/xen-api/xen-api.ts
  @xen-orchestra/lite/src/libs/xen-api/xen-api.types.ts
  @xen-orchestra/lite/src/router/index.ts
  @xen-orchestra/lite/src/stores/xen-api.store.ts
  @xen-orchestra/lite/src/stores/xen-api/sr.store.ts
  @xen-orchestra/lite/src/stores/xen-api/vbd.store.ts
  @xen-orchestra/lite/src/stores/xen-api/vdi.store.ts
  @xen-orchestra/lite/src/stores/xen-api/vm.store.ts
  @xen-orchestra/lite/src/types/golike-defer.d.ts
  @xen-orchestra/lite/src/types/new-vm.ts
  @xen-orchestra/lite/src/views/new-vm/NewVmView.vue
  @xen-orchestra/web-core/lib/components/ui/radio-button/UiRadioButton.vue
  @xen-orchestra/web-core/lib/components/ui/toaster/UiToaster.vue
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
Labels: XO Lite

#8324 feat(xo-6): VM creation
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web/src/components/pool/PoolHeader.vue
  @xen-orchestra/web/src/jobs/vm-create.job.ts
  @xen-orchestra/web/src/pages/vm/new.vue
  @xen-orchestra/web/src/stores/xo-rest-api/pool.store.ts
  @xen-orchestra/web/src/stores/xo-rest-api/sr.store.ts
  @xen-orchestra/web/src/stores/xo-rest-api/vbd.store.ts
  @xen-orchestra/web/src/stores/xo-rest-api/vdi.store.ts
  @xen-orchestra/web/src/stores/xo-rest-api/vm-template.store.ts
  @xen-orchestra/web/src/types/xo/network.type.ts
  @xen-orchestra/web/src/types/xo/new-vm.type.ts
  @xen-orchestra/web/src/types/xo/pool.type.ts
  @xen-orchestra/web/src/types/xo/sr.type.ts
  @xen-orchestra/web/src/types/xo/vbd.type.ts
  @xen-orchestra/web/src/types/xo/vdi.type.ts
  @xen-orchestra/web/src/types/xo/vm-template.type.ts
  @xen-orchestra/web/src/types/xo/vm.type.ts
  @xen-orchestra/web/src/utils/xo-api-definition.util.ts
  @xen-orchestra/web/typed-router.d.ts
  CHANGELOG.unreleased.md
  packages/xo-server/src/xo-mixins/rest-api.mjs
Labels: XO Web 6
