Repository vatesfr/xen-orchestra, pull requests merged in 2025-02, with the labels that each got.

#8265 feat(lite/release): add changelog to gh release description
  @xen-orchestra/lite/scripts/release.mjs
Labels: XO Lite

#8314 feat(xo-core): update color "info" values
  @xen-orchestra/web-core/lib/assets/css/_colors.pcss
Labels: XO Web Core

#8330 feat(xo-core): update scrollbars color
  @xen-orchestra/web-core/lib/assets/css/base.pcss
Labels: XO Web Core

#8331 feat(xo-core): update UiLink component
  @xen-orchestra/web-core/lib/components/ui/link/UiLink.vue
Labels: XO Web Core

#8268 feat(xo-6): dashboard mobile layout
  @xen-orchestra/web/src/pages/index.vue
  CHANGELOG.unreleased.md
Labels: XO Web 6

#8325 feat(xo-core): update VtsIcon component brand color
  @xen-orchestra/lite/src/components/infra/InfraHostItem.vue
  @xen-orchestra/lite/src/stories/web-core/icon/vts-icon.story.vue
  @xen-orchestra/lite/src/stories/web-core/ui/link/ui-link.story.vue
  @xen-orchestra/web-core/docs/guidelines/best-practices.md
  @xen-orchestra/web-core/docs/icons.md
  @xen-orchestra/web-core/lib/components/dropdown/DropdownItem.vue
  @xen-orchestra/web-core/lib/components/icon/VtsIcon.vue
  @xen-orchestra/web-core/lib/components/ui/checkbox/UiCheckbox.vue
  @xen-orchestra/web-core/lib/components/ui/input/UiInput.vue
  @xen-orchestra/web-core/lib/components/ui/legend/UiLegend.vue
  @xen-orchestra/web-core/lib/components/ui/object-link/UiObjectLink.vue
  @xen-orchestra/web-core/lib/components/ui/tree-item-label/UiTreeItemLabel.vue
  @xen-orchestra/web/src/components/tree/HostTreeItem.vue
Labels: XO Web Core

#8338 feat(xo-core): update UiCardTitle and UiCardSubtitle components
  @xen-orchestra/web-core/lib/components/ui/card-subtitle/UiCardSubtitle.vue
  @xen-orchestra/web-core/lib/components/ui/card-title/UiCardTitle.vue
Labels: XO Web Core

#8329 feat(xo-core): update Button components
  @xen-orchestra/lite/src/components/AppLogin.vue
  @xen-orchestra/lite/src/components/XoaButton.vue
  @xen-orchestra/lite/src/components/component-story/ComponentStory.vue
  @xen-orchestra/lite/src/components/host/network/HostPifTable.vue
  @xen-orchestra/lite/src/components/modals/CollectionFilterModal.vue
  @xen-orchestra/lite/src/components/modals/JsonEditorModal.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardAlarms.vue
  @xen-orchestra/lite/src/components/pool/network/PoolHostInternalNetworksTable.vue
  @xen-orchestra/lite/src/components/pool/network/PoolNetworksTable.vue
  @xen-orchestra/lite/src/components/ui/modals/ModalApproveButton.vue
  @xen-orchestra/lite/src/components/ui/modals/ModalDeclineButton.vue
  @xen-orchestra/lite/src/components/vm/VmHeader.vue
  @xen-orchestra/lite/src/components/vm/VmsActionsBar.vue
  @xen-orchestra/lite/src/stories/modals/layouts/confirm-modal-layout.story.md
  @xen-orchestra/lite/src/stories/modals/layouts/confirm-modal-layout.story.vue
  @xen-orchestra/lite/src/stories/modals/layouts/form-modal-layout.story.md
  @xen-orchestra/lite/src/stories/modals/layouts/form-modal-layout.story.vue
  @xen-orchestra/lite/src/stories/web-core/button-group/vts-button-group.story.vue
  @xen-orchestra/lite/src/stories/web-core/card/vts-card-row-key-value.story.vue
  @xen-orchestra/lite/src/stories/web-core/cell-object/vts-cell-object.story.vue
  @xen-orchestra/lite/src/stories/web-core/tree/vts-tree-list.story.md
  @xen-orchestra/lite/src/stories/web-core/tree/vts-tree-list.story.vue
  @xen-orchestra/lite/src/stories/web-core/ui/button-icon/ui-button-icon.story.vue
  @xen-orchestra/lite/src/stories/web-core/ui/button/ui-button.story.md
  @xen-orchestra/lite/src/stories/web-core/ui/button/ui-button.story.vue
  @xen-orchestra/lite/src/stories/web-core/ui/card/ui-card-title.story.vue
  @xen-orchestra/lite/src/stories/web-core/ui/head-bar/ui-head-bar.story.md
  @xen-orchestra/lite/src/stories/web-core/ui/head-bar/ui-head-bar.story.vue
  @xen-orchestra/lite/src/stories/web-core/ui/panel/ui-panel.story.vue
  @xen-orchestra/lite/src/stories/web-core/ui/table-actions/ui-table-actions.story.vue
  @xen-orchestra/lite/src/stories/web-core/ui/title/ui-title.story.vue
  @xen-orchestra/lite/src/stories/web-core/ui/toaster/ui-toaster.story.vue
  @xen-orchestra/lite/src/views/ObjectNotFoundView.vue
  @xen-orchestra/lite/src/views/PageNotFoundView.vue
  @xen-orchestra/lite/src/views/story/HomeView.vue
  @xen-orchestra/lite/src/views/xoa-deploy/XoaDeployView.vue
  @xen-orchestra/web-core/lib/components/cell-object/VtsCellObject.vue
  @xen-orchestra/web-core/lib/components/console/VtsActionsConsole.vue
  @xen-orchestra/web-core/lib/components/console/VtsClipboardConsole.vue
  @xen-orchestra/web-core/lib/components/layout/VtsLayoutSidebar.vue
  @xen-orchestra/web-core/lib/components/task/VtsQuickTaskButton.vue
  @xen-orchestra/web-core/lib/components/ui/account-menu-button/UiAccountMenuButton.vue
  @xen-orchestra/web-core/lib/components/ui/button-icon/UiButtonIcon.vue
  @xen-orchestra/web-core/lib/components/ui/button/UiButton.vue
  @xen-orchestra/web-core/lib/components/ui/chip/ChipRemoveIcon.vue
  @xen-orchestra/web-core/lib/components/ui/dropdown-button/UiDropdownButton.vue
  @xen-orchestra/web-core/lib/components/ui/query-search-bar/UiQuerySearchBar.vue
  @xen-orchestra/web-core/lib/components/ui/quick-task-item/UiQuickTaskItem.vue
  @xen-orchestra/web-core/lib/components/ui/table-pagination/PaginationButton.vue
  @xen-orchestra/web-core/lib/components/ui/toaster/UiToaster.vue
  @xen-orchestra/web-core/lib/components/ui/top-bottom-table/UiTopBottomTable.vue
  @xen-orchestra/web-core/lib/components/ui/tree-item-label/UiTreeItemLabel.vue
  @xen-orchestra/web-core/lib/components/ui/user-logo/UiUserLogo.vue
  @xen-orchestra/web-core/lib/layouts/CoreLayout.vue
  @xen-orchestra/web/src/components/host/HostPifsTable.vue
  @xen-orchestra/web/src/components/pool/PoolHostInternalNetworksTable.vue
  @xen-orchestra/web/src/components/pool/PoolNetworksTable.vue
  @xen-orchestra/web/src/layouts/AppLayout.vue
Labels: XO Web Core

#8337 feat(xo-core): update UiCounter component
  @xen-orchestra/lite/src/components/infra/InfraHostItem.vue
  @xen-orchestra/lite/src/stories/web-core/tree/vts-tree-list.story.md
  @xen-orchestra/lite/src/stories/web-core/tree/vts-tree-list.story.vue
  @xen-orchestra/lite/src/stories/web-core/ui/counter/ui-counter.story.vue
  @xen-orchestra/web-core/lib/components/task/VtsQuickTaskTabBar.vue
  @xen-orchestra/web-core/lib/components/ui/counter/UiCounter.vue
  @xen-orchestra/web/src/components/tree/HostTreeItem.vue
  @xen-orchestra/web/src/components/tree/PoolTreeItem.vue
Labels: XO Web Core

#8342 feat(xo-core): update UiCheckbox and UiRadioButton components
  @xen-orchestra/lite/src/components/host/network/HostPifTable.vue
  @xen-orchestra/lite/src/components/pool/network/PoolHostInternalNetworksTable.vue
  @xen-orchestra/lite/src/components/pool/network/PoolNetworksTable.vue
  @xen-orchestra/lite/src/stories/web-core/ui/checkbox-group/ui-checkbox-group.story.vue
  @xen-orchestra/lite/src/stories/web-core/ui/checkbox/ui-checkbox.story.vue
  @xen-orchestra/lite/src/stories/web-core/ui/radio-button-group/ui-radio-button-group.story.vue
  @xen-orchestra/lite/src/stories/web-core/ui/radio-button/ui-radio-button.story.vue
  @xen-orchestra/web-core/lib/components/ui/checkbox-group/UiCheckboxGroup.vue
  @xen-orchestra/web-core/lib/components/ui/checkbox/UiCheckbox.vue
  @xen-orchestra/web-core/lib/components/ui/radio-button-group/UiRadioButtonGroup.vue
  @xen-orchestra/web-core/lib/components/ui/radio-button/UiRadioButton.vue
  @xen-orchestra/web-core/lib/components/ui/toggle/UiToggle.vue
  @xen-orchestra/web/src/components/host/HostPifsTable.vue
  @xen-orchestra/web/src/components/pool/PoolHostInternalNetworksTable.vue
  @xen-orchestra/web/src/components/pool/PoolNetworksTable.vue
Labels: XO Web Core

#8326 feat(xo-core): update treeview components colors
  @xen-orchestra/lite/src/components/infra/InfraHostItem.vue
  @xen-orchestra/web-core/lib/components/tree/VtsTreeLine.vue
  @xen-orchestra/web-core/lib/components/tree/VtsTreeLoadingItem.vue
  @xen-orchestra/web-core/lib/components/ui/tree-item-label/UiTreeItemLabel.vue
  @xen-orchestra/web/src/components/tree/HostTreeItem.vue
Labels: XO Web Core

#8362 fix(web-stack): rollback vue-tsc version
  @xen-orchestra/lite/package.json
  @xen-orchestra/web/package.json
  yarn.lock
Labels: XO Lite, XO Web Core, XO Web 6

#8345 feat(web-stack): update "info" and "brand" colors usages
  @xen-orchestra/lite/src/components/FormWidget.vue
  @xen-orchestra/lite/src/components/NoResult.vue
  @xen-orchestra/lite/src/components/ObjectNotFoundWrapper.vue
  @xen-orchestra/lite/src/components/PowerStateIcon.vue
  @xen-orchestra/lite/src/components/TitleBar.vue
  @xen-orchestra/lite/src/components/UsageBar.vue
  @xen-orchestra/lite/src/components/component-story/StoryParamsTable.vue
  @xen-orchestra/lite/src/components/form/FormCheckbox.vue
  @xen-orchestra/lite/src/components/form/FormInputWrapper.vue
  @xen-orchestra/lite/src/components/form/FormSection.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardCpuProvisioning.vue
  @xen-orchestra/lite/src/components/tasks/TasksTable.vue
  @xen-orchestra/lite/src/components/ui/UiActionButton.vue
  @xen-orchestra/lite/src/components/ui/UiCardSpinner.vue
  @xen-orchestra/lite/src/components/ui/UiCardTitle.vue
  @xen-orchestra/lite/src/components/ui/UiFilter.vue
  @xen-orchestra/lite/src/components/ui/UiStatusPanel.vue
  @xen-orchestra/lite/src/components/ui/UiTable.vue
  @xen-orchestra/lite/src/stories/web-core/card/vts-card-row-key-value.story.vue
  @xen-orchestra/lite/src/stories/web-core/ui/head-bar/ui-head-bar.story.vue
  @xen-orchestra/lite/src/views/ObjectNotFoundView.vue
  @xen-orchestra/lite/src/views/PageNotFoundView.vue
  @xen-orchestra/lite/src/views/host/HostConsoleView.vue
  @xen-orchestra/lite/src/views/settings/SettingsView.vue
  @xen-orchestra/lite/src/views/vm/VmConsoleView.vue
  @xen-orchestra/lite/src/views/xoa-deploy/XoaDeployView.vue
  @xen-orchestra/web-core/docs/guidelines/component-example.md
  @xen-orchestra/web-core/docs/guidelines/css.md
  @xen-orchestra/web-core/lib/assets/css/base.pcss
  @xen-orchestra/web-core/lib/components/data-table/VtsDataTable.vue
  @xen-orchestra/web-core/lib/components/menu/MenuTrigger.vue
  @xen-orchestra/web-core/lib/components/resources/VtsResource.vue
  @xen-orchestra/web-core/lib/components/state-hero/VtsPageNotFoundHero.vue
  @xen-orchestra/web-core/lib/components/state-hero/VtsStateHero.vue
  @xen-orchestra/web-core/lib/components/tab/TabItem.vue
  @xen-orchestra/web-core/lib/components/table/ColumnTitle.vue
  @xen-orchestra/web-core/lib/components/table/VtsTable.vue
  @xen-orchestra/web-core/lib/components/ui/account-menu-button/UiAccountMenuButton.vue
  @xen-orchestra/web-core/lib/components/ui/button-icon/UiButtonIcon.vue
  @xen-orchestra/web-core/lib/components/ui/button/UiButton.vue
  @xen-orchestra/web-core/lib/components/ui/checkbox/UiCheckbox.vue
  @xen-orchestra/web-core/lib/components/ui/counter/UiCounter.vue
  @xen-orchestra/web-core/lib/components/ui/dropdown-button/UiDropdownButton.vue
  @xen-orchestra/web-core/lib/components/ui/legend/UiLegend.vue
  @xen-orchestra/web-core/lib/components/ui/link/UiLink.vue
  @xen-orchestra/web-core/lib/components/ui/object-link/UiObjectLink.vue
  @xen-orchestra/web-core/lib/components/ui/radio-button/UiRadioButton.vue
  @xen-orchestra/web-core/lib/components/ui/title/UiTitle.vue
  @xen-orchestra/web-core/lib/components/ui/toggle/UiToggle.vue
  @xen-orchestra/web-core/lib/components/ui/user-link/UiUserLink.vue
  @xen-orchestra/web/src/pages/[...path].vue
Labels: XO Lite, XO Web Core, XO Web 6

#8150 feat(xo-lite/network): add side panel informations and some trad
  @xen-orchestra/lite/src/components/pif/PifRow.vue
  @xen-orchestra/lite/src/components/pool/network/PoolHostInternalNetworksTable.vue
  @xen-orchestra/lite/src/components/pool/network/PoolNetworkSidePanel.vue
  @xen-orchestra/lite/src/components/pool/network/PoolNetworksTable.vue
  @xen-orchestra/lite/src/locales/en.json
  @xen-orchestra/lite/src/locales/fr.json
  @xen-orchestra/lite/src/stores/xen-api/pif.store.ts
  @xen-orchestra/lite/src/views/pool/PoolNetworkView.vue
  @xen-orchestra/web-core/lib/components/card/VtsCardRowKeyValue.vue
  @xen-orchestra/web-core/lib/components/data-table/VtsDataTable.vue
  @xen-orchestra/web-core/lib/components/ui/panel/UiPanel.vue
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web/src/locales/en.json
  @xen-orchestra/web/src/locales/fr.json
Labels: XO Lite

#8294 feat(web-stack/i18n): update translations
  .eslintrc.js
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/locales/cs.json
  @xen-orchestra/lite/src/locales/es.json
  @xen-orchestra/lite/src/locales/fr.json
  @xen-orchestra/lite/src/locales/sv.json
  @xen-orchestra/web-core/lib/i18n.ts
  @xen-orchestra/web-core/lib/locales/cs.json
  @xen-orchestra/web-core/lib/locales/es.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web-core/lib/locales/sv.json
  @xen-orchestra/web/src/locales/cs.json
  @xen-orchestra/web/src/locales/es.json
  @xen-orchestra/web/src/locales/sv.json
  CHANGELOG.unreleased.md
Labels: XO Web Core

#8380 feat(web-stack/i18n): merge translation files into single file
  .eslintrc.js
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/locales/cs.json
  @xen-orchestra/lite/src/locales/de.json
  @xen-orchestra/lite/src/locales/en.json
  @xen-orchestra/lite/src/locales/es.json
  @xen-orchestra/lite/src/locales/fa.json
  @xen-orchestra/lite/src/locales/fr.json
  @xen-orchestra/lite/src/locales/sv.json
  @xen-orchestra/lite/vite.config.ts
  @xen-orchestra/web-core/docs/i18n.md
  @xen-orchestra/web-core/lib/locales/cs.json
  @xen-orchestra/web-core/lib/locales/de.json
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/es.json
  @xen-orchestra/web-core/lib/locales/fa.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web-core/lib/locales/sv.json
  @xen-orchestra/web/src/locales/cs.json
  @xen-orchestra/web/src/locales/de.json
  @xen-orchestra/web/src/locales/en.json
  @xen-orchestra/web/src/locales/es.json
  @xen-orchestra/web/src/locales/fr.json
  @xen-orchestra/web/src/locales/sv.json
  @xen-orchestra/web/vite.config.ts
  CHANGELOG.unreleased.md
Labels: XO Lite, XO Web Core, XO Web 6

#8186 feat(xo-lite/host): display pif information in side panel / add pif metrics store
  @xen-orchestra/lite/src/components/host/network/HostPifSidePanel.vue
  @xen-orchestra/lite/src/components/host/network/HostPifsTable.vue
  @xen-orchestra/lite/src/components/pif/PifRow.vue
  @xen-orchestra/lite/src/components/pool/network/PoolNetworkSidePanel.vue
  @xen-orchestra/lite/src/libs/xen-api/xen-api.types.ts
  @xen-orchestra/lite/src/stores/xen-api/bond.store.ts
  @xen-orchestra/lite/src/stores/xen-api/pif.store.ts
  @xen-orchestra/lite/src/views/host/HostNetworkView.vue
  @xen-orchestra/web-core/lib/components/connection-status/VtsConnectionStatus.vue
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
Labels: XO Lite

#8386 fix(xo-lite): add changelog
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/pool/network/PoolHostInternalNetworksTable.vue
  @xen-orchestra/lite/src/components/pool/network/PoolNetworksTable.vue
Labels: XO Lite

#8349 feat(xo-core): update UiInput and UiTextArea components
  @xen-orchestra/lite/src/stories/web-core/ui/character-limit/ui-character-limit.story.vue
  @xen-orchestra/lite/src/stories/web-core/ui/input/ui-input.story.vue
  @xen-orchestra/lite/src/stories/web-core/ui/input/ui-textarea.story.vue
  @xen-orchestra/web-core/lib/components/console/VtsClipboardConsole.vue
  @xen-orchestra/web-core/lib/components/ui/character-limit/UiCharacterLimit.vue
  @xen-orchestra/web-core/lib/components/ui/input/UiInput.vue
  @xen-orchestra/web-core/lib/components/ui/query-search-bar/UiQuerySearchBar.vue
  @xen-orchestra/web-core/lib/components/ui/text-area/UiTextarea.vue
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web/src/components/SidebarSearch.vue
  CHANGELOG.unreleased.md
Labels: XO Web Core
