Repository vatesfr/xen-orchestra, pull requests merged in 2025-08, with the labels that each got.

#8873 feat(web): implement default tab handling
  @xen-orchestra/web/src/components/pool/connect/ConnectionSuccess.vue
  @xen-orchestra/web/src/components/site/SiteHeader.vue
  @xen-orchestra/web/src/pages/(site).vue
  @xen-orchestra/web/src/pages/(site)/dashboard.vue
  @xen-orchestra/web/src/pages/host/[id].vue
  @xen-orchestra/web/src/pages/host/[id]/index.vue
  @xen-orchestra/web/src/pages/pool/[id].vue
  @xen-orchestra/web/src/pages/pool/[id]/index.vue
  @xen-orchestra/web/src/pages/vm/[id].vue
  @xen-orchestra/web/src/pages/vm/[id]/index.vue
  @xen-orchestra/web/src/pages/vm/new.vue
  @xen-orchestra/web/typed-router.d.ts
  CHANGELOG.unreleased.md
Labels: XO Web 6

#8897 feat(web-core): new `useProgress` and `useProgressGroup` composables
  @xen-orchestra/web-core/lib/packages/progress/README.md
  @xen-orchestra/web-core/lib/packages/progress/types.ts
  @xen-orchestra/web-core/lib/packages/progress/use-progress-group.ts
  @xen-orchestra/web-core/lib/packages/progress/use-progress.ts
Labels: XO Web Core

#8889 feat(xo-6/site): add backup jobs view
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web/src/components/site/SiteHeader.vue
  @xen-orchestra/web/src/components/site/backups/BackupJobsTable.vue
  @xen-orchestra/web/src/composables/xo-backup-utils.composable.ts
  @xen-orchestra/web/src/pages/(site)/backups.vue
  @xen-orchestra/web/src/remote-resources/use-xo-backup-job-collection.ts
  @xen-orchestra/web/src/remote-resources/use-xo-backup-log-collection.ts
  @xen-orchestra/web/src/remote-resources/use-xo-metadata-backup-job-collection.ts
  @xen-orchestra/web/src/remote-resources/use-xo-mirror-backup-job-collection.ts
  @xen-orchestra/web/src/remote-resources/use-xo-schedule-collection.ts
  @xen-orchestra/web/src/remote-resources/use-xo-vm-backup-job-collection.ts
  @xen-orchestra/web/src/types/xo/backup-log.type.ts
  @xen-orchestra/web/src/types/xo/index.ts
  @xen-orchestra/web/src/types/xo/metadata-backup-job.type.ts
  @xen-orchestra/web/src/types/xo/mirror-backup-job.type.ts
  @xen-orchestra/web/src/types/xo/schedule.type.ts
  @xen-orchestra/web/src/types/xo/vm-backup-job.type.ts
  @xen-orchestra/web/typed-router.d.ts
  CHANGELOG.unreleased.md
Labels: Highlight, XO Web 6

#8909 fix(xo-6/backup-jobs): correctly display "pending" jobs
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web/src/components/site/backups/BackupJobsTable.vue
  @xen-orchestra/web/src/remote-resources/use-xo-backup-log-collection.ts
  @xen-orchestra/web/src/types/xo/backup-log.type.ts
  CHANGELOG.unreleased.md
Labels: XO Web 6

#8899 feat(web-stack): VtsProgressBar + VtsProgressBarGroup + migration
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/UsageBar.vue
  @xen-orchestra/lite/src/components/host/dashboard/HostDashboardCpuProvisioning.vue
  @xen-orchestra/lite/src/components/host/dashboard/HostDashboardRamProvisioning.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardCpuProvisioning.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardStorageUsage.vue
  @xen-orchestra/lite/src/components/pool/dashboard/cpuUsage/HostsCpuUsage.vue
  @xen-orchestra/lite/src/components/pool/dashboard/cpuUsage/VmsCpuUsage.vue
  @xen-orchestra/lite/src/components/pool/dashboard/ramUsage/HostsRamUsage.vue
  @xen-orchestra/lite/src/components/pool/dashboard/ramUsage/VmsRamUsage.vue
  @xen-orchestra/lite/src/components/tasks/TaskRow.vue
  @xen-orchestra/lite/src/components/ui/progress/UiProgressBar.vue
  @xen-orchestra/lite/src/components/ui/progress/UiProgressLegend.vue
  @xen-orchestra/lite/src/components/ui/progress/UiProgressScale.vue
  @xen-orchestra/lite/src/stories/web-core/ui/data-ruler/ui-data-ruler.story.md
  @xen-orchestra/lite/src/stories/web-core/ui/data-ruler/ui-data-ruler.story.vue
  @xen-orchestra/lite/src/stories/web-core/ui/progress-bar/ui-progress-bar.story.vue
  @xen-orchestra/lite/src/types/stat.ts
  @xen-orchestra/web-core/lib/components/progress-bar-group/VtsProgressBarGroup.vue
  @xen-orchestra/web-core/lib/components/progress-bar/VtsProgressBar.vue
  @xen-orchestra/web-core/lib/components/ui/data-ruler/UiDataRuler.vue
  @xen-orchestra/web-core/lib/components/ui/progress-bar/UiProgressBar.vue
  @xen-orchestra/web-core/lib/packages/progress/use-progress-group.ts
  @xen-orchestra/web-core/lib/utils/progress.util.ts
  @xen-orchestra/web-core/lib/utils/size.util.ts
  @xen-orchestra/web/src/components/host/dashboard/HostDashboardCpuProvisioning.vue
  @xen-orchestra/web/src/components/host/dashboard/HostDashboardRamProvisioning.vue
  @xen-orchestra/web/src/components/pool/dashboard/PoolDashboardCpuProvisioning.vue
  @xen-orchestra/web/src/components/pool/dashboard/PoolDashboardStoragesUsage.vue
  @xen-orchestra/web/src/components/pool/dashboard/cpu-usage/HostsCpuUsage.vue
  @xen-orchestra/web/src/components/pool/dashboard/cpu-usage/VmsCpuUsage.vue
  @xen-orchestra/web/src/components/pool/dashboard/ram-usage/HostsRamUsage.vue
  @xen-orchestra/web/src/components/pool/dashboard/ram-usage/VmsRamUsage.vue
  CHANGELOG.unreleased.md
Labels: XO Lite, Highlight, XO Web Core, XO Web 6
