Repository vatesfr/xen-orchestra, pull requests merged in 2025-09, with the labels that each got.

#8915 fix(web): typo host dashboard ram provisioning legend
  @xen-orchestra/web/src/components/host/dashboard/HostDashboardRamProvisioning.vue
Labels: XO Web 6

#8922 fix(xo6): fix to display only ISO VDIs for the ISO input list in the VM creation form
  @xen-orchestra/web/src/remote-resources/use-xo-sr-collection.ts
  CHANGELOG.unreleased.md
Labels: XO Web 6

#8980 feat(xo-lite/settings): add icon for external link
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/pages/settings.vue
Labels: XO Lite

#8930 fix(web): unable to change tab in tasks quick panel
  @xen-orchestra/web-core/lib/components/backdrop/VtsBackdrop.vue
  @xen-orchestra/web-core/lib/components/task/VtsQuickTaskButton.vue
  CHANGELOG.unreleased.md
Labels: XO Web Core
