Repository vatesfr/xen-orchestra, pull requests merged in 2025-07, with the labels that each got.

#8779 fix(web-core): fix tooltip overflow when too close to the edge
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/web-core/lib/components/linear-chart/VtsLinearChart.vue
  CHANGELOG.unreleased.md
Labels: XO Web Core

#8793 fix(xo6/lite): fixed display error due to inversion of upload and download
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/host/dashboard/HostDashboardNetworkUsageChart.vue
  @xen-orchestra/lite/src/components/vm/dashboard/VmDashboardNetworkUsageChart.vue
  @xen-orchestra/web/src/components/host/dashboard/HostDashboardNetworkUsageChart.vue
  @xen-orchestra/web/src/components/vm/dashboard/VmDashboardNetworkUsageChart.vue
  CHANGELOG.unreleased.md
Labels: XO Lite, XO Web 6

#8761 feat(web-core): updated query search bar to work in responsive
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/web-core/lib/components/ui/input/UiInput.vue
  @xen-orchestra/web-core/lib/components/ui/query-search-bar/UiQuerySearchBar.vue
  @xen-orchestra/web-core/lib/components/ui/table-actions/UiTableActions.vue
  @xen-orchestra/web-core/lib/stores/ui.store.ts
  CHANGELOG.unreleased.md
Labels: XO Web Core

#8760 feat(xo6/lite): Updated sidebar to auto close when the screen is small
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/AppHeader.vue
  @xen-orchestra/lite/src/components/AppNavigation.vue
  @xen-orchestra/lite/src/components/host/HostTabBar.vue
  @xen-orchestra/lite/src/components/pool/PoolTabBar.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardStatus.vue
  @xen-orchestra/lite/src/components/pool/dashboard/cpuUsage/VmsCpuUsage.vue
  @xen-orchestra/lite/src/components/pool/dashboard/ramUsage/VmsRamUsage.vue
  @xen-orchestra/lite/src/components/vm/VmsActionsBar.vue
  @xen-orchestra/lite/src/stores/navigation.store.ts
  @xen-orchestra/lite/src/views/host/HostVmsView.vue
  @xen-orchestra/lite/src/views/new-vm/NewVmView.vue
  @xen-orchestra/lite/src/views/pool/PoolVmsView.vue
  @xen-orchestra/web-core/lib/components/menu/MenuList.vue
  @xen-orchestra/web-core/lib/components/stacked-bar-with-legend/VtsStackedBarWithLegend.vue
  @xen-orchestra/web-core/lib/components/ui/query-search-bar/UiQuerySearchBar.vue
  @xen-orchestra/web-core/lib/locales/cs.json
  @xen-orchestra/web-core/lib/locales/de.json
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/es.json
  @xen-orchestra/web-core/lib/locales/fa.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web-core/lib/locales/nl.json
  @xen-orchestra/web-core/lib/stores/panel.store.ts
  @xen-orchestra/web-core/lib/stores/sidebar.store.ts
  @xen-orchestra/web-core/lib/stores/ui.store.ts
  @xen-orchestra/web/src/components/host/HostHeader.vue
  @xen-orchestra/web/src/components/pool/PoolHeader.vue
  @xen-orchestra/web/src/components/site/SiteHeader.vue
  @xen-orchestra/web/src/components/site/dashboard/Repositories.vue
  @xen-orchestra/web/src/pages/vm/new.vue
  CHANGELOG.unreleased.md
Labels: XO Lite, XO Web 6

#8812 feat(web-core): added data ruler component
  @xen-orchestra/lite/src/stories/web-core/ui/data-ruler/ui-data-ruler.story.vue
  @xen-orchestra/web-core/lib/components/ui/data-ruler/UiDataRuler.vue
Labels: XO Web Core

#8763 feat(xo-6): add connect pool view
  @xen-orchestra/lite/src/stories/web-core/state-hero/vts-state-hero.story.vue
  @xen-orchestra/web-core/lib/components/state-hero/VtsStateHero.vue
  @xen-orchestra/web-core/lib/components/ui/quoteCode/UiQuoteCode.vue
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web-core/lib/types/http-codes.type.ts
  @xen-orchestra/web/src/api/connect-server.api.ts
  @xen-orchestra/web/src/components/pool/PoolHeader.vue
  @xen-orchestra/web/src/components/pool/connect/ConnectPoolHeader.vue
  @xen-orchestra/web/src/components/pool/connect/ConnectionError.vue
  @xen-orchestra/web/src/components/pool/connect/ConnectionForm.vue
  @xen-orchestra/web/src/components/pool/connect/ConnectionSuccess.vue
  @xen-orchestra/web/src/components/site/SiteHeader.vue
  @xen-orchestra/web/src/components/tree/SiteTreeItem.vue
  @xen-orchestra/web/src/error/api.error.ts
  @xen-orchestra/web/src/pages/pool/connect.vue
  @xen-orchestra/web/src/types/xo/server.type.ts
  @xen-orchestra/web/src/utils/fetch.util.ts
  @xen-orchestra/web/typed-router.d.ts
  CHANGELOG.unreleased.md
Labels: XO Web 6

#8839 feat(web-stack): introducing defineRequest + convert site dashboard
  .eslintrc.js
  @xen-orchestra/web-core/lib/packages/request/define-request.ts
  @xen-orchestra/web-core/package.json
  @xen-orchestra/web/package.json
  @xen-orchestra/web/src/components/site/dashboard/BackupIssues.vue
  @xen-orchestra/web/src/components/site/dashboard/BackupRepository.vue
  @xen-orchestra/web/src/components/site/dashboard/Backups.vue
  @xen-orchestra/web/src/components/site/dashboard/HostsStatus.vue
  @xen-orchestra/web/src/components/site/dashboard/Patches.vue
  @xen-orchestra/web/src/components/site/dashboard/PoolsStatus.vue
  @xen-orchestra/web/src/components/site/dashboard/Repositories.vue
  @xen-orchestra/web/src/components/site/dashboard/ResourcesOverview.vue
  @xen-orchestra/web/src/components/site/dashboard/S3BackupRepository.vue
  @xen-orchestra/web/src/components/site/dashboard/StorageRepository.vue
  @xen-orchestra/web/src/components/site/dashboard/VmsStatus.vue
  @xen-orchestra/web/src/pages/(site)/(dashboard).vue
  @xen-orchestra/web/src/requests/use-pool-dashboard.request.ts
  @xen-orchestra/web/src/requests/use-site-dashboard.request.ts
  @xen-orchestra/web/src/stores/xo-rest-api/dashboard.store.ts
  @xen-orchestra/web/src/stores/xo-rest-api/pool.store.ts
  @xen-orchestra/web/src/types/xo/alarm.type.ts
  @xen-orchestra/web/src/types/xo/dashboard.type.ts
  @xen-orchestra/web/src/types/xo/pool-dashboard.type.ts
  yarn.lock
Labels: XO Web Core, XO Web 6

#8791 feat(xo6/pool): Add dashboard view
  @xen-orchestra/lite/src/components/host/dashboard/HostDashboardRamUsageChart.vue
  @xen-orchestra/web-core/lib/components/ui/alarm-item/UiAlarmItem.vue
  @xen-orchestra/web-core/lib/components/ui/alarm-list/UiAlarmList.vue
  @xen-orchestra/web/src/components/host/dashboard/HostDashboardRamUsageChart.vue
  @xen-orchestra/web/src/components/pool/PoolHeader.vue
  @xen-orchestra/web/src/components/pool/dashboard/PoolDashboardCpuProvisioning.vue
  @xen-orchestra/web/src/components/pool/dashboard/PoolDashboardCpuUsage.vue
  @xen-orchestra/web/src/components/pool/dashboard/PoolDashboardHostsPatches.vue
  @xen-orchestra/web/src/components/pool/dashboard/PoolDashboardRamUsage.vue
  @xen-orchestra/web/src/components/pool/dashboard/PoolDashboardStatus.vue
  @xen-orchestra/web/src/components/pool/dashboard/PoolDashboardStoragesUsage.vue
  @xen-orchestra/web/src/components/pool/dashboard/alarms/AlarmLink.vue
  @xen-orchestra/web/src/components/pool/dashboard/alarms/PoolDashboardAlarms.vue
  @xen-orchestra/web/src/components/pool/dashboard/chart-usage/PoolDashboardCpuChart.vue
  @xen-orchestra/web/src/components/pool/dashboard/chart-usage/PoolDashboardNetworkChart.vue
  @xen-orchestra/web/src/components/pool/dashboard/chart-usage/PoolDashboardRamChart.vue
  @xen-orchestra/web/src/components/pool/dashboard/cpu-usage/HostsCpuUsage.vue
  @xen-orchestra/web/src/components/pool/dashboard/cpu-usage/VmsCpuUsage.vue
  @xen-orchestra/web/src/components/pool/dashboard/ram-usage/HostsRamUsage.vue
  @xen-orchestra/web/src/components/pool/dashboard/ram-usage/VmsRamUsage.vue
  @xen-orchestra/web/src/composables/fetch-stats.composable.ts
  @xen-orchestra/web/src/pages/pool/[id]/dashboard.vue
  @xen-orchestra/web/src/pages/pool/[id]/index.vue
  @xen-orchestra/web/src/stores/xo-rest-api/alarm.store.ts
  @xen-orchestra/web/src/stores/xo-rest-api/vm-template.store.ts
  @xen-orchestra/web/src/types/xo/pool.type.ts
  @xen-orchestra/web/src/types/xo/sr.type.ts
  @xen-orchestra/web/src/types/xo/vm-controller.type.ts
  @xen-orchestra/web/src/utils/create-xo-store-config.util.ts
  @xen-orchestra/web/src/utils/xo-api-definition.util.ts
  @xen-orchestra/web/typed-router.d.ts
  CHANGELOG.unreleased.md
Labels: Highlight, XO Web 6
