Repository vatesfr/xen-orchestra, pull requests merged in 2025-06, with the labels that each got.

#8614 feat(web-core): enhance collection library
  @xen-orchestra/web-core/lib/packages/collection/README.md
  @xen-orchestra/web-core/lib/packages/collection/create-collection.ts
  @xen-orchestra/web-core/lib/packages/collection/create-item.ts
  @xen-orchestra/web-core/lib/packages/collection/create-use-subset.ts
  @xen-orchestra/web-core/lib/packages/collection/guess-item-id.ts
  @xen-orchestra/web-core/lib/packages/collection/index.ts
  @xen-orchestra/web-core/lib/packages/collection/types.ts
  @xen-orchestra/web-core/lib/packages/collection/use-collection.ts
  @xen-orchestra/web-core/lib/packages/collection/use-flag-registry.ts
  @xen-orchestra/web-core/lib/packages/form-select/types.ts
  @xen-orchestra/web-core/lib/packages/form-select/use-form-select.ts
  @xen-orchestra/web-core/lib/types/utility.type.ts
  @xen-orchestra/web-core/lib/utils/object.util.ts
  CHANGELOG.unreleased.md
Labels: XO Web Core

#8667 fix(xo-6/changelog): add missing packages to release
  CHANGELOG.unreleased.md
Labels: XO Web 6

#8691 feat(web): improve sidebar
  @xen-orchestra/web-core/lib/components/layout/VtsLayoutSidebar.vue
  @xen-orchestra/web-core/lib/layouts/CoreLayout.vue
  @xen-orchestra/web/src/components/SidebarSearch.vue
Labels: XO Web Core, XO Web 6

#8674 feat(xo-6/dashboard): update components BackupIssues and VtsBackupState
  @xen-orchestra/lite/src/stories/web-core/backup-item/vts-backup-item.story.vue
  @xen-orchestra/lite/src/stories/web-core/backup-state/vts-backup-state.story.vue
  @xen-orchestra/web-core/lib/components/backup-item/VtsBackupItem.vue
  @xen-orchestra/web-core/lib/components/backup-state/VtsBackupState.vue
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web/src/components/site/dashboard/BackupIssues.vue
  @xen-orchestra/web/src/pages/index.vue
  @xen-orchestra/web/src/utils/convert-backup-issue-to-core.util.ts
  CHANGELOG.unreleased.md
Labels: XO Web Core, XO Web 6

#8578 feat(web-core): create composable to translate, formatted and use pluralization with useTimeAgo
  @xen-orchestra/web-core/lib/composables/locale-time-ago.composable.ts
Labels: XO Web Core

#8693 feat(web-core): simplify logic of `VtsCopyButton`
  @xen-orchestra/web-core/lib/components/copy-button/VtsCopyButton.vue
Labels: XO Web Core

#8721 fix(xo6/site): fix issue with prefix in site dashboard
  @xen-orchestra/web-core/lib/utils/size.util.ts
Labels: XO Web 6

#8688 feat(xo6/lite): update side panel behavior for mobile view
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/host/network/HostPifSidePanel.vue
  @xen-orchestra/lite/src/components/host/network/HostPifsTable.vue
  @xen-orchestra/lite/src/components/pif/PifRow.vue
  @xen-orchestra/lite/src/components/pool/PoolHeader.vue
  @xen-orchestra/lite/src/components/pool/network/PoolNetworkSidePanel.vue
  @xen-orchestra/lite/src/components/vm/network/VmVifsSidePanel.vue
  @xen-orchestra/lite/src/components/vm/network/VmVifsTable.vue
  @xen-orchestra/lite/src/views/host/HostNetworkView.vue
  @xen-orchestra/lite/src/views/pool/PoolNetworkView.vue
  @xen-orchestra/lite/src/views/vm/VmNetworkView.vue
  @xen-orchestra/web-core/lib/assets/no-selection-old.svg
  @xen-orchestra/web-core/lib/assets/no-selection.svg
  @xen-orchestra/web-core/lib/assets/zoom.svg
  @xen-orchestra/web-core/lib/components/copy-button/VtsCopyButton.vue
  @xen-orchestra/web-core/lib/components/ui/panel/UiPanel.vue
  @xen-orchestra/web/src/components/host/network/HostPifSidePanel.vue
  @xen-orchestra/web/src/components/host/network/HostPifTable.vue
  @xen-orchestra/web/src/components/pif/PifRow.vue
  @xen-orchestra/web/src/components/pool/PoolHeader.vue
  @xen-orchestra/web/src/components/pool/network/PoolHostInternalNetworksTable.vue
  @xen-orchestra/web/src/components/pool/network/PoolNetworkSidePanel.vue
  @xen-orchestra/web/src/components/pool/network/PoolNetworksTable.vue
  @xen-orchestra/web/src/components/vm/network/VmVifSidePanel.vue
  @xen-orchestra/web/src/components/vm/network/VmVifsTable.vue
  @xen-orchestra/web/src/pages/host/[id]/networks.vue
  @xen-orchestra/web/src/pages/pool/[id]/networks.vue
  @xen-orchestra/web/src/pages/vm/[id]/networks.vue
  CHANGELOG.unreleased.md
Labels: XO Lite, XO Web Core, XO Web 6

#8701 feat(web-core): create UiQuoteCode component
  @xen-orchestra/lite/src/stories/web-core/ui/quote-code/ui-quote-code.story.md
  @xen-orchestra/lite/src/stories/web-core/ui/quote-code/ui-quote-code.story.vue
  @xen-orchestra/web-core/lib/assets/css/_typography.pcss
  @xen-orchestra/web-core/lib/components/ui/quoteCode/UiQuoteCode.vue
Labels: XO Web Core

#8759 fix(xo-6/vite-config): links in dev pages break prod build
  @xen-orchestra/web/vite.config.ts
  CHANGELOG.unreleased.md
Labels: XO Web 6

#8740 feat(xo-6/host): add name of pGpu in system view
  @xen-orchestra/lite/src/components/host/system/HostSystemHardwareSpecifications.vue
  @xen-orchestra/web/src/components/host/system/HostSystemHardwareSpecifications.vue
  @xen-orchestra/web/src/stores/xo-rest-api/pci.store.ts
  @xen-orchestra/web/src/stores/xo-rest-api/pgpu.store.ts
  @xen-orchestra/web/src/types/xo/host.type.ts
  @xen-orchestra/web/src/types/xo/pci.type.ts
  @xen-orchestra/web/src/types/xo/pgpu.type.ts
  @xen-orchestra/web/src/utils/xo-api-definition.util.ts
  CHANGELOG.unreleased.md
Labels: XO Web 6

#8573 feat(web-core/xo-6/xo-lite): add pagination in data tables
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/host/network/HostPifsTable.vue
  @xen-orchestra/lite/src/components/pool/network/PoolHostInternalNetworksTable.vue
  @xen-orchestra/lite/src/components/pool/network/PoolNetworksTable.vue
  @xen-orchestra/lite/src/components/vm/network/VmVifsTable.vue
  @xen-orchestra/lite/src/stories/web-core/ui/table-pagination/ui-table-pagination.story.vue
  @xen-orchestra/web-core/lib/components/ui/table-pagination/UiTablePagination.vue
  @xen-orchestra/web-core/lib/composables/pagination.composable.ts
  @xen-orchestra/web/src/components/host/network/HostPifTable.vue
  @xen-orchestra/web/src/components/pool/network/PoolHostInternalNetworksTable.vue
  @xen-orchestra/web/src/components/pool/network/PoolNetworksTable.vue
  @xen-orchestra/web/src/components/vm/network/VmVifsTable.vue
  @xen-orchestra/web/src/pages/host/[id]/vms.vue
  @xen-orchestra/web/src/pages/pool/[id]/hosts.vue
  @xen-orchestra/web/src/pages/pool/[id]/vms.vue
  CHANGELOG.unreleased.md
Labels: XO Web Core

#8731 fix(lite,web/Host): tag list color
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/host/dashboard/HostDashboardQuickInfo.vue
  @xen-orchestra/web/src/components/host/dashboard/HostDashboardQuickInfo.vue
  CHANGELOG.unreleased.md
Labels: XO Lite, XO Web 6

#8657 doc(configuration): document let's encrypt support in xoa
  docs/docs/configuration.md
Labels: Highlight
