Repository vatesfr/xen-orchestra, pull requests merged in 2025-01, with the labels that each got.

#8218 fix(lite): fix issue due to update dev deps
  @xen-orchestra/lite/src/components/form/FormInputWrapper.vue
Labels: XO Lite

#8226 feat(web-core): add loading state on console
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/RemoteConsole.vue
  @xen-orchestra/web-core/lib/components/console/VtsRemoteConsole.vue
  CHANGELOG.unreleased.md
Labels: XO Web Core

#8133 feat(web-core,lite,xo6): add useDisabled composable and replace DisabledContext usage
  @xen-orchestra/lite/src/components/RouterTab.vue
  @xen-orchestra/lite/src/components/form/FormCheckbox.vue
  @xen-orchestra/lite/src/components/form/FormInput.vue
  @xen-orchestra/lite/src/components/form/FormInputWrapper.vue
  @xen-orchestra/lite/src/components/ui/UiActionButton.vue
  @xen-orchestra/lite/src/components/ui/modals/UiModal.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionExportItem.vue
  @xen-orchestra/lite/src/components/vm/VmActionItems/VmActionMigrateItem.vue
  @xen-orchestra/lite/src/context.ts
  @xen-orchestra/web-core/lib/components/menu/MenuItem.vue
  @xen-orchestra/web-core/lib/components/menu/MenuList.vue
  @xen-orchestra/web-core/lib/components/tab/TabItem.vue
  @xen-orchestra/web-core/lib/components/tab/TabList.vue
  @xen-orchestra/web-core/lib/components/ui/account-menu-button/UiAccountMenuButton.vue
  @xen-orchestra/web-core/lib/components/ui/button/UiButton.vue
  @xen-orchestra/web-core/lib/components/ui/checkbox/UiCheckbox.vue
  @xen-orchestra/web-core/lib/components/ui/dropdown-button/UiDropdownButton.vue
  @xen-orchestra/web-core/lib/components/ui/radio-button/UiRadioButton.vue
  @xen-orchestra/web-core/lib/components/ui/toggle/UiToggle.vue
  @xen-orchestra/web-core/lib/composables/disabled.composable.ts
  @xen-orchestra/web-core/lib/context.ts
  @xen-orchestra/web-core/lib/utils/injection-keys.util.ts
Labels: XO Lite, XO Web Core, XO Web 6

#8220 feat(web-stack): add Spanish translation
  .eslintrc.js
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/locales/es.json
  @xen-orchestra/web-core/lib/i18n.ts
  @xen-orchestra/web-core/lib/locales/es.json
  @xen-orchestra/web/src/locales/es.json
  CHANGELOG.unreleased.md
Labels: XO Lite, XO Web Core, XO Web 6

#8194 docs(xo-core): update guidelines
  @xen-orchestra/web-core/docs/component-definition.md
  @xen-orchestra/web-core/docs/component-variants.md
  @xen-orchestra/web-core/docs/guidelines/best-practices.md
  @xen-orchestra/web-core/docs/guidelines/component-example.md
  @xen-orchestra/web-core/docs/guidelines/components.md
  @xen-orchestra/web-core/docs/guidelines/css.md
  @xen-orchestra/web-core/docs/guidelines/index.md
  @xen-orchestra/web-core/docs/guidelines/slots.md
  @xen-orchestra/web-core/docs/guidelines/typescript.md
  @xen-orchestra/web-core/docs/index.md
Labels: XO Lite, XO Web Core, XO Web 6

#8239 feat(xo-6): add Ctrl+Alt+Del
  @xen-orchestra/lite/src/views/host/HostConsoleView.vue
  @xen-orchestra/lite/src/views/vm/VmConsoleView.vue
  @xen-orchestra/web-core/lib/components/console/VtsActionsConsole.vue
  @xen-orchestra/web-core/lib/components/console/VtsRemoteConsole.vue
  @xen-orchestra/web/src/pages/host/[id]/console.vue
  @xen-orchestra/web/src/pages/vm/[id]/console.vue
  CHANGELOG.unreleased.md
Labels: XO Web 6

#8248 feat(web-core): move chart lib from xo-lite to web-core
  @xen-orchestra/lite/package.json
  @xen-orchestra/lite/src/App.vue
  @xen-orchestra/lite/src/components/pool/dashboard/PoolDashboardNetworkChart.vue
  @xen-orchestra/lite/src/components/pool/dashboard/cpuUsage/PoolCpuUsageChart.vue
  @xen-orchestra/lite/src/components/pool/dashboard/ramUsage/PoolRamUsage.vue
  @xen-orchestra/lite/src/stories/linear-chart.story.vue
  @xen-orchestra/lite/src/types/injection-keys.ts
  @xen-orchestra/web-core/lib/components/charts/LinearChart.md
  @xen-orchestra/web-core/lib/components/charts/LinearChart.vue
  @xen-orchestra/web-core/lib/composables/chart-theme.composable.ts
  @xen-orchestra/web-core/lib/types/chart.ts
  @xen-orchestra/web-core/lib/utils/injection-keys.util.ts
  @xen-orchestra/web-core/package.json
Labels: XO Web Core

#8261 fix(web-core): useRouteQuery composable type issue
  @xen-orchestra/web-core/lib/composables/route-query/types.ts
Labels: XO Web Core

#8242 feat(xo-6): switch to language based on xo5 cookie
  @xen-orchestra/web/package.json
  @xen-orchestra/web/src/App.vue
  CHANGELOG.unreleased.md
  yarn.lock
Labels: Highlight, XO Web 6

#8235 feat(web-core): focus on console
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/web-core/lib/components/console/VtsRemoteConsole.vue
  CHANGELOG.unreleased.md
Labels: XO Web Core

#8246 feat(web-core): inverse the logic of border props in MenuList.vue
  @xen-orchestra/lite/src/components/account-menu/AccountMenu.vue
  @xen-orchestra/lite/src/components/component-story/ComponentStory.vue
  @xen-orchestra/lite/src/components/vm/VmHeader.vue
  @xen-orchestra/lite/src/components/vm/VmsActionsBar.vue
  @xen-orchestra/web-core/lib/components/menu/MenuItem.vue
  @xen-orchestra/web-core/lib/components/menu/MenuList.vue
  @xen-orchestra/web-core/lib/components/table/ColumnTitle.vue
  @xen-orchestra/web/src/components/account-menu/AccountMenu.vue
Labels: XO Web Core

#8238 feat(xo-6): add console fullscreen action
  @xen-orchestra/lite/src/views/host/HostConsoleView.vue
  @xen-orchestra/lite/src/views/vm/VmConsoleView.vue
  @xen-orchestra/web-core/lib/components/console/VtsActionsConsole.vue
  @xen-orchestra/web-core/lib/components/console/VtsRemoteConsole.vue
  @xen-orchestra/web-core/lib/layouts/CoreLayout.vue
  @xen-orchestra/web-core/package.json
  @xen-orchestra/web/src/pages/host/[id].vue
  @xen-orchestra/web/src/pages/vm/[id].vue
  CHANGELOG.unreleased.md
Labels: XO Web 6

#8182 feat(xo-6): add pool network view
  @xen-orchestra/lite/src/locales/en.json
  @xen-orchestra/lite/src/locales/fr.json
  @xen-orchestra/web-core/lib/components/ui/input/UiInput.vue
  @xen-orchestra/web-core/lib/composables/table/multi-select.composable.ts
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web/package.json
  @xen-orchestra/web/src/components/pool/PoolHeader.vue
  @xen-orchestra/web/src/components/pool/PoolHostInternalNetworksTable.vue
  @xen-orchestra/web/src/components/pool/PoolNetworksTable.vue
  @xen-orchestra/web/src/pages/pool/[id]/index.vue
  @xen-orchestra/web/src/pages/pool/[id]/networks.vue
  @xen-orchestra/web/src/stores/xo-rest-api/network.store.ts
  @xen-orchestra/web/src/stores/xo-rest-api/pif.store.ts
  @xen-orchestra/web/src/types/xo/network.type.ts
  @xen-orchestra/web/src/utils/xo-api-definition.util.ts
  @xen-orchestra/web/typed-router.d.ts
  CHANGELOG.unreleased.md
Labels: XO Web 6

#8285 fix(xo-lite): issue with wording in host pif table
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/host/network/HostPifTable.vue
Labels: XO Lite

#8284 fix(xo-lite/xo-6): issue with status in pool network table
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/pool/network/PoolNetworksTable.vue
  @xen-orchestra/web/src/components/pool/PoolNetworksTable.vue
  CHANGELOG.unreleased.md
Labels: XO Lite, XO Web 6

#8198 feat(xo-6): add host network view
  @xen-orchestra/lite/src/locales/cs.json
  @xen-orchestra/lite/src/locales/de.json
  @xen-orchestra/lite/src/locales/en.json
  @xen-orchestra/lite/src/locales/fa.json
  @xen-orchestra/lite/src/locales/fr.json
  @xen-orchestra/web-core/lib/locales/cs.json
  @xen-orchestra/web-core/lib/locales/de.json
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fa.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web/src/components/host/HostHeader.vue
  @xen-orchestra/web/src/components/host/HostPifsTable.vue
  @xen-orchestra/web/src/pages/host/[id]/networks.vue
  @xen-orchestra/web/src/stores/xo-rest-api/pif.store.ts
  @xen-orchestra/web/src/types/xo/pif.type.ts
  @xen-orchestra/web/src/utils/xo-api-definition.util.ts
  @xen-orchestra/web/typed-router.d.ts
  CHANGELOG.unreleased.md
Labels: XO Web 6
