Repository vatesfr/xen-orchestra, pull requests merged in 2025-05, with the labels that each got.

#8526 feat(web-core): enhance useCollection composable
  @xen-orchestra/web-core/lib/packages/collection/README.md
  @xen-orchestra/web-core/lib/packages/collection/build-item.ts
  @xen-orchestra/web-core/lib/packages/collection/create-collection.ts
  @xen-orchestra/web-core/lib/packages/collection/create-item.ts
  @xen-orchestra/web-core/lib/packages/collection/guess-item-id.ts
  @xen-orchestra/web-core/lib/packages/collection/index.ts
  @xen-orchestra/web-core/lib/packages/collection/types.ts
  @xen-orchestra/web-core/lib/packages/collection/use-collection.ts
  @xen-orchestra/web-core/lib/packages/collection/use-flag-registry.ts
Labels: XO Web Core

#8486 feat(xo-lite): add affinity host field in vm creation, added pbd store, type and translation
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/libs/xen-api/operations/vm-operations.ts
  @xen-orchestra/lite/src/libs/xen-api/xen-api.types.ts
  @xen-orchestra/lite/src/stores/xen-api/pbd.store.ts
  @xen-orchestra/lite/src/types/new-vm.ts
  @xen-orchestra/lite/src/views/new-vm/NewVmView.vue
Labels: XO Lite, Highlight

#8568 fix(web-core): sidebar z-index
  @xen-orchestra/web-core/lib/components/layout/VtsLayoutSidebar.vue
Labels: XO Web Core

#8438 feat(web-core): create VtsSelect, VtsOption and composables
  @xen-orchestra/lite/src/stories/web-core/select/vts-select.story.vue
  @xen-orchestra/web-core/lib/components/backdrop/VtsBackdrop.vue
  @xen-orchestra/web-core/lib/components/select/VtsOption.vue
  @xen-orchestra/web-core/lib/components/select/VtsSelect.vue
  @xen-orchestra/web-core/lib/components/ui/dropdown/UiDropdownList.vue
  @xen-orchestra/web-core/lib/packages/form-select/README.md
  @xen-orchestra/web-core/lib/packages/form-select/index.ts
  @xen-orchestra/web-core/lib/packages/form-select/types.ts
  @xen-orchestra/web-core/lib/packages/form-select/use-form-option-controller.ts
  @xen-orchestra/web-core/lib/packages/form-select/use-form-select-controller.ts
  @xen-orchestra/web-core/lib/packages/form-select/use-form-select-keyboard-navigation.ts
  @xen-orchestra/web-core/lib/packages/form-select/use-form-select.ts
Labels: XO Web Core

#8559 feat(web-core): update vtsLoadingHero Component
  @xen-orchestra/lite/src/stories/web-core/state-hero/vts-loading-hero.story.vue
  @xen-orchestra/web-core/lib/components/state-hero/VtsLoadingHero.vue
  CHANGELOG.unreleased.md
Labels: XO Web Core

#8522 feat(xo-6/vm): create system page
  @xen-orchestra/web-core/lib/components/quick-info-row/VtsQuickInfoRow.vue
  @xen-orchestra/web-core/lib/locales/cs.json
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/es.json
  @xen-orchestra/web-core/lib/locales/fa.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web-core/lib/locales/nl.json
  @xen-orchestra/web-core/lib/locales/sv.json
  @xen-orchestra/web/src/components/vm/VmHeader.vue
  @xen-orchestra/web/src/components/vm/VmVifSidePanel.vue
  @xen-orchestra/web/src/components/vm/system/VmGeneralInfo.vue
  @xen-orchestra/web/src/components/vm/system/VmGraphics.vue
  @xen-orchestra/web/src/components/vm/system/VmManagement.vue
  @xen-orchestra/web/src/components/vm/system/VmNetworking.vue
  @xen-orchestra/web/src/components/vm/system/VmResource.vue
  @xen-orchestra/web/src/components/vm/system/VmStorageConfig.vue
  @xen-orchestra/web/src/components/vm/system/VmVirtualizationAndBoot.vue
  @xen-orchestra/web/src/pages/vm/[id]/system.vue
  @xen-orchestra/web/src/types/xo/vm.type.ts
  @xen-orchestra/web/src/utils/xo-api-definition.util.ts
  @xen-orchestra/web/typed-router.d.ts
  CHANGELOG.unreleased.md
  packages/xo-server/src/xapi/mixins/vm.mjs
Labels: XO Web 6

#8499 fix(xo-6/vm-creation): better vifs handling
  @xen-orchestra/web/src/pages/vm/new.vue
  @xen-orchestra/web/src/types/xo/new-vm.type.ts
Labels: Highlight, XO Web 6

#8547 feat(xo-lite/vm): create system page
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/package.json
  @xen-orchestra/lite/src/components/vm/VmTabBar.vue
  @xen-orchestra/lite/src/libs/xen-api/xen-api.types.ts
  @xen-orchestra/lite/src/views/vm/VmSystemView.vue
  @xen-orchestra/lite/src/views/vm/system/VmGeneralInfo.vue
  @xen-orchestra/lite/src/views/vm/system/VmGraphics.vue
  @xen-orchestra/lite/src/views/vm/system/VmManagement.vue
  @xen-orchestra/lite/src/views/vm/system/VmResource.vue
  @xen-orchestra/lite/src/views/vm/system/VmStorageConfig.vue
  @xen-orchestra/lite/src/views/vm/system/VmSystemNetworking.vue
  @xen-orchestra/lite/src/views/vm/system/VmVirtualizationAndBoot.vue
  @xen-orchestra/web/src/components/vm/system/VmManagement.vue
  @xen-orchestra/web/src/components/vm/system/VmResource.vue
Labels: XO Lite

#8596 fix(xo-core/vts-quick-info-row): handle long values in slot, add tooltip for key, add missing mobile styles
  @xen-orchestra/web-core/lib/components/quick-info-row/VtsQuickInfoRow.vue
Labels: XO Web Core

#8560 docs(troubleshooting): integrate general_troubleshooting
  docs/docs/general-troubleshooting.md
  docs/docs/troubleshooting.md
  docs/docusaurus.config.ts
Labels: comp: documentation :book:

#8606 feat(xo-6/host): update dashboard quick info section
  @xen-orchestra/lite/src/components/host/dashboard/HostDashboardQuickInfo.vue
  @xen-orchestra/web/src/components/host/dashboard/HostDashboardCpuProvisioning.vue
  @xen-orchestra/web/src/components/host/dashboard/HostDashboardCpuUsageChart.vue
  @xen-orchestra/web/src/components/host/dashboard/HostDashboardQuickInfo.vue
  @xen-orchestra/web/src/components/host/dashboard/HostDashboardRamUsage.vue
  @xen-orchestra/web/src/pages/host/[id]/dashboard.vue
  @xen-orchestra/web/src/stores/xo-rest-api/host.store.ts
  CHANGELOG.unreleased.md
Labels: XO Lite, XO Web 6

#8574 fix(xo-6/header): Safari force rendering header on size change
  @xen-orchestra/web/src/layouts/AppLayout.vue
Labels: type: bug :bug:, XO Web 6

#8521 feat(xo-6/host): add system page
  @xen-orchestra/lite/src/stories/web-core/enabled-state/vts-enabled-state.story.vue
  @xen-orchestra/lite/src/views/vm/system/VmGraphics.vue
  @xen-orchestra/lite/src/views/vm/system/VmManagement.vue
  @xen-orchestra/lite/src/views/vm/system/VmVirtualizationAndBoot.vue
  @xen-orchestra/web-core/lib/components/enabled-state/VtsEnabledState.vue
  @xen-orchestra/web-core/lib/components/quick-info-row/VtsQuickInfoRow.vue
  @xen-orchestra/web-core/lib/components/relative-time/VtsRelativeTime.vue
  @xen-orchestra/web-core/lib/composables/relative-time.composable.ts
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
  @xen-orchestra/web/src/components/host/HostHeader.vue
  @xen-orchestra/web/src/components/host/system/HostSystemGeneralInformation.vue
  @xen-orchestra/web/src/components/host/system/HostSystemHardwareSpecifications.vue
  @xen-orchestra/web/src/components/host/system/HostSystemLicensing.vue
  @xen-orchestra/web/src/components/host/system/HostSystemNetworking.vue
  @xen-orchestra/web/src/components/host/system/HostSystemResourceManagement.vue
  @xen-orchestra/web/src/components/host/system/HostSystemSoftwareTooling.vue
  @xen-orchestra/web/src/pages/host/[id]/system.vue
  @xen-orchestra/web/src/stores/xo-rest-api/vm-controller.store.ts
  @xen-orchestra/web/src/types/xo/host.type.ts
  @xen-orchestra/web/src/types/xo/pgpu.type.ts
  @xen-orchestra/web/src/types/xo/vm-controller.type.ts
  @xen-orchestra/web/src/utils/xo-api-definition.util.ts
  @xen-orchestra/web/typed-router.d.ts
  CHANGELOG.unreleased.md
Labels: Highlight, XO Web 6

#8536 feat(xo-lite/host): add system page
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/host/HostTabBar.vue
  @xen-orchestra/lite/src/components/host/system/HostSystemGeneralInformation.vue
  @xen-orchestra/lite/src/components/host/system/HostSystemHardwareSpecifications.vue
  @xen-orchestra/lite/src/components/host/system/HostSystemLicensing.vue
  @xen-orchestra/lite/src/components/host/system/HostSystemNetworking.vue
  @xen-orchestra/lite/src/components/host/system/HostSystemResourceManagement.vue
  @xen-orchestra/lite/src/components/host/system/HostSystemSoftwareTooling.vue
  @xen-orchestra/lite/src/libs/xen-api/xen-api.types.ts
  @xen-orchestra/lite/src/router/host.ts
  @xen-orchestra/lite/src/stores/xen-api/pci.store.ts
  @xen-orchestra/lite/src/stores/xen-api/pgpu.store.ts
  @xen-orchestra/lite/src/views/host/HostSystemView.vue
  @xen-orchestra/web-core/lib/components/quick-info-row/VtsQuickInfoRow.vue
Labels: XO Lite, Highlight

#8586 feat(xo6/xo-lite): update vm/system
  @xen-orchestra/lite/src/components/vm/system/VmGeneralInfo.vue
  @xen-orchestra/lite/src/components/vm/system/VmGraphics.vue
  @xen-orchestra/lite/src/components/vm/system/VmManagement.vue
  @xen-orchestra/lite/src/components/vm/system/VmResource.vue
  @xen-orchestra/lite/src/components/vm/system/VmStorageConfig.vue
  @xen-orchestra/lite/src/components/vm/system/VmSystemNetworking.vue
  @xen-orchestra/lite/src/components/vm/system/VmVirtualizationAndBoot.vue
  @xen-orchestra/lite/src/views/vm/VmSystemView.vue
  @xen-orchestra/web/src/components/vm/system/VmGeneralInfo.vue
  @xen-orchestra/web/src/components/vm/system/VmGraphics.vue
  @xen-orchestra/web/src/components/vm/system/VmManagement.vue
  @xen-orchestra/web/src/components/vm/system/VmNetworking.vue
  @xen-orchestra/web/src/components/vm/system/VmResource.vue
  @xen-orchestra/web/src/components/vm/system/VmStorageConfig.vue
  @xen-orchestra/web/src/components/vm/system/VmVirtualizationAndBoot.vue
  @xen-orchestra/web/src/pages/vm/[id]/system.vue
Labels: XO Lite, XO Web 6

#8507 feat(xo-lite): add possibility to edit SR on existing vdis
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/libs/xen-api/operations/vdi-operations.ts
  @xen-orchestra/lite/src/views/new-vm/NewVmView.vue
Labels: XO Lite, Highlight
