Repository vatesfr/xen-orchestra, pull requests merged in 2025-04, with the labels that each got.

#8402 feat(web-core): circle progress bar component
  @xen-orchestra/lite/src/stories/web-core/ui/circle-progress-bar/ui-circle-progress-bar.story.md
  @xen-orchestra/lite/src/stories/web-core/ui/circle-progress-bar/ui-circle-progress-bar.story.vue
  @xen-orchestra/web-core/lib/components/ui/circle-progress-bar/UiCircleProgressBar.vue
Labels: XO Web Core

#8459 feat(web-core): add alert component
  @xen-orchestra/lite/src/stories/web-core/ui/alert/ui-alert.story.md
  @xen-orchestra/lite/src/stories/web-core/ui/alert/ui-alert.story.vue
  @xen-orchestra/web-core/lib/components/ui/alert/UiAlert.vue
  CHANGELOG.unreleased.md
Labels: XO Web Core

#8472 fix(xo-6/vm-creation): remove TS errors from type-check
  @xen-orchestra/web/src/pages/vm/new.vue
  @xen-orchestra/web/src/types/xo/new-vm.type.ts
  @xen-orchestra/web/src/types/xo/pool.type.ts
  @xen-orchestra/web/src/types/xo/vbd.type.ts
  @xen-orchestra/web/src/utils/xo-api-definition.util.ts
  CHANGELOG.unreleased.md
Labels: XO Web 6

#8447 feat(web-core): create useCollection composable
  @xen-orchestra/web-core/lib/packages/collection/README.md
  @xen-orchestra/web-core/lib/packages/collection/build-item.ts
  @xen-orchestra/web-core/lib/packages/collection/create-collection.ts
  @xen-orchestra/web-core/lib/packages/collection/types.ts
  @xen-orchestra/web-core/lib/packages/collection/use-collection.ts
  @xen-orchestra/web-core/lib/packages/collection/use-flag-registry.ts
Labels: XO Web Core

#8510 feat(web-core): don't force collection properties to be computed
  @xen-orchestra/web-core/lib/packages/collection/build-item.ts
  @xen-orchestra/web-core/lib/packages/collection/create-collection.ts
  @xen-orchestra/web-core/lib/packages/collection/index.ts
  @xen-orchestra/web-core/lib/packages/collection/types.ts
  @xen-orchestra/web-core/lib/packages/collection/use-collection.ts
Labels: XO Web Core

#8465 feat(web-stack/i18n): update Xen Orchestra 6
  .eslintrc.js
  @xen-orchestra/web-core/lib/i18n.ts
  @xen-orchestra/web-core/lib/locales/cs.json
  @xen-orchestra/web-core/lib/locales/es.json
  @xen-orchestra/web-core/lib/locales/fa.json
  @xen-orchestra/web-core/lib/locales/it.json
  @xen-orchestra/web-core/lib/locales/nl.json
  @xen-orchestra/web-core/lib/locales/ru.json
  @xen-orchestra/web-core/lib/locales/sv.json
  CHANGELOG.unreleased.md
Labels: XO Lite, XO Web Core, XO Web 6

#8504 feat(xo-lite/host): add dashboard view
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/host/HostTabBar.vue
  @xen-orchestra/lite/src/components/host/dashboard/HostDashboardCpuProvisioning.vue
  @xen-orchestra/lite/src/components/host/dashboard/HostDashboardCpuUsageChart.vue
  @xen-orchestra/lite/src/components/host/dashboard/HostDashboardLoadAverageChart.vue
  @xen-orchestra/lite/src/components/host/dashboard/HostDashboardNetworkUsageChart.vue
  @xen-orchestra/lite/src/components/host/dashboard/HostDashboardQuickInfo.vue
  @xen-orchestra/lite/src/components/host/dashboard/HostDashboardRamProvisioning.vue
  @xen-orchestra/lite/src/components/host/dashboard/HostDashboardRamUsageChart.vue
  @xen-orchestra/lite/src/components/host/dashboard/HostDashboardVmsStatus.vue
  @xen-orchestra/lite/src/components/infra/InfraHostItem.vue
  @xen-orchestra/lite/src/libs/xen-api/xen-api.types.ts
  @xen-orchestra/lite/src/router/host.ts
  @xen-orchestra/lite/src/stores/xen-api/host.store.ts
  @xen-orchestra/lite/src/stores/xen-api/pbd.store.ts
  @xen-orchestra/lite/src/stores/xen-api/pool.store.ts
  @xen-orchestra/lite/src/stores/xen-api/vm.store.ts
  @xen-orchestra/lite/src/views/host/HostDashboardView.vue
  @xen-orchestra/web-core/lib/components/quick-info-column/VtsQuickInfoColumn.vue
  @xen-orchestra/web-core/lib/components/quick-info-row/VtsQuickInfoRow.vue
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
Labels: XO Lite

#8512 feat(web-stack/host-header): add host master icon in host header
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/components/host/HostHeader.vue
  @xen-orchestra/web-core/lib/components/ui/head-bar/UiHeadBar.vue
  @xen-orchestra/web/src/components/host/HostHeader.vue
  CHANGELOG.unreleased.md
Labels: XO Lite, XO Web 6

#8519 chore(xo-core/docs): update guidelines
  @xen-orchestra/web-core/docs/component-variants.md
  @xen-orchestra/web-core/docs/guidelines/best-practices.md
  @xen-orchestra/web-core/docs/guidelines/component-example.md
  @xen-orchestra/web-core/docs/guidelines/typescript.md
  @xen-orchestra/web-core/docs/i18n.md
Labels: XO Web Core

#8533 docs(manage_infrastructure): document usage-report plugin
  docs/docs/assets/usage-report-plugin.png
  docs/docs/manage_infrastructure.md
Labels: comp: documentation :book:

#8530 feat(hub/recipes): update kubernetes version list to use Microk8s version
  CHANGELOG.unreleased.md
  packages/xo-web/src/xo-app/hub/recipes/recipe-form.js
Labels: severity 3: high, Priority 1: DO IT NOW :red_circle:, Plane

#8494 feat(@xen-orchestra/rest-api): expose get user and get users
  @vates/types/src/xo.mts
  @xen-orchestra/rest-api/src/open-api/oa-examples/user.oa-example.mts
  @xen-orchestra/rest-api/src/rest-api/rest-api.type.mts
  @xen-orchestra/rest-api/src/users/user.controller.mts
  CHANGELOG.unreleased.md
  packages/xo-server/src/xo-mixins/rest-api.mjs
Labels: Highlight

#8497 feat(@xen-orchestra/rest-api): expose get networks and get network
  @vates/types/src/xo.mts
  @xen-orchestra/rest-api/src/open-api/networks/network.controller.mts
  @xen-orchestra/rest-api/src/open-api/oa-examples/network.oa-example.mts
  CHANGELOG.unreleased.md
  packages/xo-server/src/xo-mixins/rest-api.mjs
Labels: Highlight

#8496 feat(@xen-orchestra/rest-api): expose get group and get groups
  @vates/types/src/xo.mts
  @xen-orchestra/rest-api/src/groups/group.controller.mts
  @xen-orchestra/rest-api/src/open-api/oa-examples/group.oa-example.mts
  @xen-orchestra/rest-api/src/rest-api/rest-api.type.mts
  CHANGELOG.unreleased.md
  packages/xo-server/src/xo-mixins/rest-api.mjs
Labels: Highlight

#8523 feat(license): better handling of expiring licenses
  CHANGELOG.unreleased.md
  packages/xo-web/src/common/intl/messages.js
  packages/xo-web/src/common/xoa-updater.js
  packages/xo-web/src/xo-app/index.js
  packages/xo-web/src/xo-app/xoa/licenses/index.js
Labels: Highlight

#8498 feat(xo-server-web-hooks): handle office 365 connector format
  CHANGELOG.unreleased.md
  packages/xo-server-web-hooks/src/index.js
Labels: Highlight

#8491 feat(xo-lite): add topology field in vm creation
  @xen-orchestra/lite/CHANGELOG.md
  @xen-orchestra/lite/src/libs/xen-api/operations/vm-operations.ts
  @xen-orchestra/lite/src/libs/xen-api/xen-api.types.ts
  @xen-orchestra/lite/src/types/new-vm.ts
  @xen-orchestra/lite/src/views/new-vm/NewVmView.vue
  @xen-orchestra/web-core/lib/locales/en.json
  @xen-orchestra/web-core/lib/locales/fr.json
Labels: XO Lite, Highlight
